---
title: &title "Ch4mp vs Kyle - Xonotic Ranked 8"
layout: ranked
---

<div class="w3-row ranked-container">

  <div class="w3-col w3-center">

    <h1 class="w3-center blazing w3-jumbo">Ch4mp vs Kyle - Xonotic Ranked 8</h1>

    <p class="w3-center w3-xxlarge">
      <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">twitch.tv/rocketjumpzone</a><br>
      Apr 9 2023, 21 CET (finished)</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third">
      <%= image_tag 'avatar/ch4mp2.jpg', class:'w3-mobile w3-circle ranked-avatar', style:'margin-left:20px', alt: 'Ch4mp' %>
      <h2 class="w3-jumbo" style="margin-left:40px">
        <a href="/player/ch4mp">Ch4mp</a>
      </h2>
      <p class="w3-xlarge" style="margin-left:40px">Xonotic since 2015</p>

      <p class="w3-xlarge" style="margin-left:40px">
        <span>challenger</span><br>
        duel rank: <%= data.players.ch4mp.rank_display %> <sup><%= data.players.ch4mp.rank %></sup></p>

      <p class="w3-xlarge" style="margin-left:40px">RJZ Xonotic Duel League 2023 - 4th place</p>
    </div>

    <div class="w3-third">
      <p class="w3-center mobile-margin-5" style="font-size:256px;margin-top:200px;padding:0">vs</p>
    </div>

    <div class="w3-third" style="direction: rtl">
      <%= image_tag 'avatar/kyle.jpg', class:'w3-mobile w3-circle ranked-avatar', style:'margin-right:20px', alt: 'Dodger' %>

      <h2 class="w3-jumbo" style="margin-right:40px">
        <a href="/player/kyle">Kyle</a>
      </h2>
      <p class="w3-xlarge" style="margin-right:40px">Xonotic since 2022</p>

      <p class="w3-xlarge" style="margin-right:40px">
        <span>defender</span><br>
        duel rank: <%= data.players.kyle.rank_display %> <sup><%= data.players.kyle.rank %></sup></p>

      <p class="w3-xlarge" style="margin-right:40px">RJZ Xonotic Duel League 2023 - 2nd place</p>
    </div>
  </div>

</div>

<div class="w3-row-padding" style="margin-bottom:150px">
  <div class="w3-third">
    <h2>About This Event</h2>
    <p>Kyle beat Ch4mp in the RJZ Xonotic Duel League 2023.<br>
      Ch4mp not happy about this result wants a revenge and calls Kyle for a Bo5 as he claims that he lost on a map bug during the final map.</p>
    <p>Kyle accepts the challenge without any hesitation.</p>

    <p>Ch4mp is a warrior, can he do it and beat Kyle? or is Kyle going to beat Ch4mp again and claim his dominance!?</p>

    <a href="https://youtu.be/DW4tRfZPdk8" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        FULL VOD
      </b>
    </a>
  </div>

  <div class="w3-third">
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div class="w3-third">
    <h2 class="w3-center">Share it</h2>
    <div class="sharethis-inline-share-buttons"></div>
    <h2 class="w3-center">Song</h2>
    <audio controls="controls" autoplay="autoplay" style="display:block;width:70%;margin:0 auto">
      <source src="https://rocketjump.zone/files/audio/3.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>

</div>

<hr>

<% if build? %>
  <div class="w3-content w3-container">
    <%= disqus %>
    <%= disqus_count %>
  </div>
<% end %>
