---
title: Rookie Aim Arena 1v1 Cup 1
date: "Oct 10, 2020"
prize_money: 10
layout: tourney-no-jquery
---

<h1 class="w3-center">Rookie Aim Arena 1v1 Cup 1</h1>

<div class="w3-row">
  <a href="javascript:void(0)" onclick="openCity(event, 'London');">
    <div class="w3-third tablink w3-bottombar w3-center w3-border-red w3-padding">
      <b>OVERVIEW</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>PARTICIPANTS &amp; BRACKETS</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>MEDIA</b>
    </div>
  </a>
</div>

<div id="London" class="city w3-animate-opacity" style="display:block">
  <div class="w3-row" style="background:#0e0e10;padding:16px 0 16px 0">
    <div class="w3-col l4">
      <table class="w3-table">
        <tr>
          <td class="w3-border-0">
            <b>
              Game:</b>
          </td>
          <td class="w3-border-0"><%= image_tag 'diabotical-icon.png', alt: 'Diabotical' %>
            Diabotical</td>
        </tr>
        <tr>
          <td>
            <b>Tournament Start:</b>
          </td>
          <td>
            <b>Oct 10, 7:00 PM CEST (1:00 PM EDT)</b><br>

            <span id="clock0"></span>

            <script>
              $('#clock0').countdown('2020/10/10 19:00:00').on('update.countdown', function (event) {
                var format = ' %H hr %M min ';
                if (event.offset.totalDays > 0) {
                  format = '%-d day%!d ' + format;
                }
                if (event.offset.weeks > 0) {
                  format = '%-w week%!w ' + format;
                }
                $(this).html(event.strftime(format));
              }).on('finish.countdown', function (event) {
                $(this).html('<a class="link-white" href="https://twitch.tv/rocketjumpzone" target="_blank">Watch Stream</a>').parent().addClass('disabled');
              });
            </script><br>
            <small>check in 6:30 - 6:45</small>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Tournament End:</b>
          </td>
          <td>
            ~ 10:00
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Rating:</b>
          </td>
          <td>Up to 1809</td>
        </tr>

        <tr>
          <td>
            <b>
              Location:</b>
          </td>
          <td>
            EUROPE</td>
        </tr>
        <tr>
          <td>
            <b>
              Registration:</b>
          </td>
          <td>
            <a href="https://www.toornament.com/en_US/tournaments/3967042431334785024/information" target="_blank">Register via Toornament</a>
          </td>
        </tr>

      </table>
    </div>

    <div class="w3-col l4">
      <div class="flex-container w3-center">
        <div class="flex-item-results">
          <h2>Final Results</h2>

          <div class="w3-mobile trophy-silver">
            <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
            Akilae
          </div>

          <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
            <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
            salconnn
          </div>

          <div class="w3-mobile trophy-bronze">
            <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
            Fifty
          </div>
        </div>
      </div>
    </div>

    <div class="w3-col l4">
      <h3>Prize Money Tournament:
        <b>&euro;
          <%= current_page.data.prize_money %></b>
      </h3>
      <p class="w3-mobile">
        <b>1st place:</b>
        50% of the prize pool
      </p>
      <p class="w3-mobile">
        <b>2nd place:</b>
        30% of the prize pool
      </p>
      <p class="w3-mobile">
        <b>3rd place:</b>
        20% of the prize pool
      </p>

      <a href="/contribute" target="_blank" class="w3-btn w3-round w3-centerw w3-margin-top w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
        <b>
          <i class="far fa-credit-card"></i>
          <i class="fab fa-paypal"></i>
          DONATE
        </b>
      </a>

    </div>
  </div>

  <hr style="margin:0">

  <div class="w3-row w3-auto">
    <div class="w3-half">

      <h2 class="w3-center" id="rules">Rules &amp; FAQ</h2>

      <h3>
        <u>GAME RULES:</u>
      </h3>

      <p>
        <b>Mode:</b>
        Aim Arena 1v1<br>
        <b>Round limit:</b>
        5<br>
        <b>Netcode:</b>
        Server Side</p>

      <h4>MAP POOL:</h4>
      <p>
        JUNKTION, HEIKAM, BARROWS GATE, BAZAAR
      </p>

      <h3>
        <u>TOURNAMENT RULES:</u>
      </h3>
      <p>Do not try to de-rank just to play in this tournament. We will verify all players and if we find out that you tried to be sneaky you will be banned from Rocket Jump Zone Tournaments.</p>
      <p>
        <b>Structure:</b>
        Double elimination<br>
        <b>Max Slots:</b>
        32<br>
        <b>Forfeit:</b>
        10 mins delay<br>
        <b>Admins:</b>
        Ch4mp, Taka
      </p>

      <p>
        <b>WB Final, LB Final:</b>
        Best of 3<br>
        Lower Seed picks a map, Higher Seed picks a map,<br>
        if 1:1 each player votes a non played map in the next map vote pool<br>
      </p>

      <p>
        <b>Grand Finals:</b>
        Best of 3<br>
        Round Limit: 10<br>
        WB Winner bans a map, LB Winner picks a map, WB Winner picks a map, remaining map
      </p>

      <p>
        <b>Winner Bracket, Loser Bracket:</b>
        Best of 1<br>
        Maps will be pre-determined<br>
      </p>

      <hr>

      <h3>I'm from the USA, can I play?</h3>
      <p>Yes, with ping disadvantage (US East get ~ 100 ping to EU West)</p>

      <h3>When I registered I was below 1809, but not anymore, can I still play?</h3>
      <p>No. Simply cancel your registration and wait for a more suitable tournament for you.</p>

      <h3>How to play?</h3>
      <p>Create a lobby, invite your opponent with a private key. If it's your first time in a tournament, you might want to check out our
        <a href="https://rocketjump.zone/blog/tournament-guides/" target="_blank">tourmanet guides</a>
      </p>

    </div>

    <div class="w3-half w3-center">
      <h2>Sponsors &amp; Donators</h2>
      <p>&euro;10 - Rocket Jump Zone</p>

      <h2>Contact</h2>
      <a href="https://rocketjump.zone/discord" target="_blank">
        <div class="join-us">
          <i class="fab fa-3x fa-discord"></i>
          <p>Join Discord</p>
        </div>
      </a>

      <h2>Share Tournament</h2>
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>

  <!-- end of Overview-->
</div>

<div id="Paris" class="city w3-animate-opacity" style="display:none;padding-top:16px">

  <a href="https://www.toornament.com/en_US/tournaments/3967042431334785024/participants/" target="_blank">
    full list of participants on toornament
  </a>

  <div class="w3-center">
    <iframe style="width:100%;height:800px;margin-top:100px" src="https://widget.toornament.com/tournaments/3967042431334785024/stages/3967050907041431552/?_locale=en_US" allowfullscreen></iframe>
  </div>
</div>

<div id="Tokyo" class="city w3-animate-opacity" style="display:none">

  <div id="twitch-embed" style="background:#242429"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script>
    new Twitch.Embed("twitch-embed", {
      width: "100%",
      height: 700,
      channel: "rocketjumpzone",
      theme: "dark",
      autoplay: false
    });
  </script>

  <h4 style="margin:50px 0 0 0">DONATION (PayPal / Cards)</h4>
  <p style="margin-top:0">
    <small>All donations show alerts during the stream</small>
  </p>
  <a href="https://rocketjump.zone/donate" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
    <b>
      <i class="far fa-credit-card"></i>
      <i class="fab fa-paypal"></i>
      DONATE VIA STREAMLABS
    </b>
  </a>

  <p>
    <a href="/patreon" target="_blank">Join &euro;1/mo patreon campaign</a>
  </p>

  <hr>

  <div class="w3-row w3-hide-small">
    <div class="w3-half">
      <h2 class="w3-center">Full VOD</h2>
      <iframe src="https://www.youtube.com/embed/5r51OOH_brQ" style="width:100%;height:640px" allowfullscreen></iframe>
    </div>

    <div class="w3-half">
      <h2 class="w3-center">Highlights & Others</h2>
    </div>
  </div>
</div>
