<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "Rocket Jump Zone" %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#18181b">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#18181b">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <%= stylesheet_link_tag "w3" %>
    <%= stylesheet_link_tag "general" %>

  </head>
  <body>
    <%= partial "partials/nav" %>
    <%= yield %>
    <%= partial "partials/nav-bottom" %>

    <script src='https://platform-api.sharethis.com/js/sharethis.js#property=5e3d49fcc42462001276008a' async='async'></script>

    <%= javascript_include_tag "general" %>

    <% if build? %>
    <script>
      <%= google_analytics_tag %>
    </script>
    <% end %>
  </body>
</html>
