<div class="flex-item-hof">
  <h3>
    <a class="item" href="/quake/2v2-tdm-cup-17" target="_blank">RJZ Quake 2v2 TDM Cup 17</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Estotycom (estotycom Klyb + estotycom St0n3)' %><br>
    <abbr title="Estotycom (estotycom Klyb + estotycom St0n3)">estotycom</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'OpiumowkA (ANTOWKA + OpiuM)' %><br>
    <abbr title="OpiumowkA (ANTOWKA + OpiuM)">OpiumowkA</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Flyvemaskine (equanox + triviald00m)' %><br>
    <abbr title="Flyvemaskine (equanox + triviald00m)">Flyvemaskine</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Sep 18, 2022 &nbsp;&nbsp; &euro;6,64 &nbsp;&nbsp; 8 tms
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a class="item" href="/quake/rookie-2v2-tdm-cup-5" target="_blank">RJZ Quake Rookie 2v2 TDM Cup 5</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'STS veterans (p u m y + rezset)' %><br>
    <abbr title="STS veterans (p u m y + rezset)">STS veterans</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Hell\'s Gate (NorD+KapellMeister)' %><br>
    <abbr title="Hell's Gate (NorD+KapellMeister)">Hell's Gate</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Aloittelijat (KyleLegion+reprz)' %><br>
    <abbr title="Aloittelijat (KyleLegion+reprz)">Aloittelijat</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Sep 4, 2022 &nbsp;&nbsp; &euro;16,6 &nbsp;&nbsp; 8 tms
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a class="item" href="/quake/rookie-2v2-tdm-cup-4" target="_blank">RJZ Quake Rookie 2v2 TDM Cup 4</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'dialup (ExZs + ST4MY)' %><br>
    <abbr title="dialup (ExZs + ST4MY)">dialup</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'STS veterans (p u m y + rezset)' %><br>
    <abbr title="STS veterans (p u m y + rezset)">STS veterans</abbr>
  </div>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Frenchies (JSkey + Acelight)' %><br>
    <abbr title="Frenchies (JSkey + Acelight)">Frenchies</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jul 31, 2022 &nbsp;&nbsp; &euro;16,6 &nbsp;&nbsp; 10 tms
  </small>
</div>




<div class="flex-item-hof">
  <h3>
    <a class="item" href="/quake/rookie-2v2-tdm-cup-3" target="_blank">RJZ Quake Rookie 2v2 TDM Cup 3</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Frenchies (JSkey + Acelight)' %><br>
    <abbr title="Frenchies (JSkey + Acelight)">Frenchies</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'The Pretenders (BlackHiveMind + Kofoten)' %><br>
    <abbr title="The Pretenders (BlackHiveMind + Kofoten)">The Pretenders</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'quakiem (February21 + rpill)' %><br>
    <abbr title="quakiem (February21 + rpill)">quakiem</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jun 26, 2022 &nbsp;&nbsp; &euro;33 &nbsp;&nbsp; 7 tms
  </small>
</div>


<div class="flex-item-hof">
   <h3>
     <a class="item" href="/quake/international-2v2-tdm-cup-3/" target="_blank">RJZ Quake International<br> 2v2 TDM Cup 3</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'malvoe + Jbacc' %><br>
     <abbr title="malvoe + Jbacc">installed</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'klyb + St0n3' %><br>
     <abbr title="klyb + St0n3">Mmmkey</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     N/A
   </div>

   <hr style="margin:10px 5px">
   <small>
     Dec 5, 2020 &nbsp;&nbsp; $70 &nbsp;&nbsp;
     <a href="https://youtu.be/BRPTTgBCxIw" target="_blank">VOD</a>
     &nbsp;&nbsp; 3 NA 13 EU tms
   </small>
 </div>

<div class="flex-item-hof">
  <h3>
    <a class="item" href="/quake/2v2-tdm-cup-16/" target="_blank">RJZ Quake 2v2 TDM Cup 16</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'MoraloEvalo + DevoneTV' %><br>
    <abbr title="MoraloEvalo + DevoneTV">Moralo & Devone</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Smells Like Team Spirit (KASH + Opium)' %><br>
    <abbr title="Smells Like Team Spirit (KASH + Opium)">Smells Like Team Spirit</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Ch4mp + VikingX' %><br>
    <abbr title="Ch4mp + VikingX">Big Biceps</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Oct 9, 2020
    &nbsp;&nbsp; 8 tms
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a class="item" href="/quake/2v2-tdm-cup-15/" target="_blank">RJZ Quake 2v2 TDM Cup 15</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'kanipox + PULZz' %><br>
    <abbr title="kanipox + PULZz">crybabies</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'dramiS + strngst' %><br>
    <abbr title="dramiS + strngst">StrngDram</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'DROBOVIK + opium' %><br>
    <abbr title="DROBOVIK + opium">drobop</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Aug 22, 2020 &nbsp;&nbsp;
    <a href="https://youtu.be/vjTUS85gufU" target="_blank">VOD</a>&nbsp;
    &nbsp;&nbsp; 8 tms
  </small>
</div>


<div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3662430269091069952/information" target="_blank">RJZ Quake International<br> 2v2 TDM Cup 2</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'festiveturtle + jbacc' %><br>
     <abbr title="festiveturtle + jbacc">+bac turtles</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'danchezzor + enesy' %><br>
     <abbr title="danchezzor + enesy">diarrheaslurp</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     N/A
   </div>

   <hr style="margin:10px 5px">
   <small>
     Jun 27, 2020 &nbsp;&nbsp; €45 &nbsp;&nbsp;
     <a href="https://youtu.be/DynrG8JrFpM" target="_blank">VOD</a>
     &nbsp;&nbsp; 3 NA 8 EU tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/m3puyig7" target="_blank">RJZ Quake Sacrifice Cup 5</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Doom-Chan’s Boy Harem (festiveturtle, Relish, cbxzombie, dramiS)' %><br>
     <abbr title="Doom-Chan’s Boy Harem (festiveturtle, Relish, cbxzombie, dramiS)">Doom-Chan’s Boy Harem</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'danchezzor, enesy, pulzz, killalot' %><br>
     <abbr title="danchezzor, enesy, pulzz, killalot">diarrheaslurp</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Calum0r, ease5000, o T T o, kilobit64' %><br>
     <abbr title="Calum0r, ease5000, o T T o, kilobit64">Table Flippers</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Jun 13, 2020 &nbsp;&nbsp;
     <a href="https://youtu.be/GfKFPnw50Kg" target="_blank">VOD</a>&nbsp;
     &nbsp;&nbsp; 4 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/3288989429092073472/stages/3289027480658305024/" target="_blank">RJZ Quake FFA Cup 3</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     danchezzor
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     klyb
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     jbacc
   </div>

   <hr style="margin:10px 5px">
   <small>
     Jun 6, 2020 &nbsp;&nbsp; €110 &nbsp;&nbsp;
     <a href="https://youtu.be/neMPT3w4aRI" target="_blank">VOD</a>
     &nbsp;&nbsp; 16 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3575892157740064768/information" target="_blank">RJZ Quake International<br> 2v2 TDM Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'festiveturtle + Relish' %><br>
     <abbr title="festiveturtle + Relish">Relurtle</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'PULZz + Enesy' %><br>
     <abbr title="PULZz + Enesy">diarrheaslurp</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     N/A
   </div>

   <hr style="margin:10px 5px">
   <small>
     May 23, 2020 &nbsp;&nbsp;
     <a href="https://youtu.be/TQrtBWDFe7c" target="_blank">VOD</a>&nbsp;
     <a href="https://youtu.be/z2et8DSXs9I" target="_blank">Highlight</a>&nbsp;
     &nbsp;&nbsp; 5 NA 10 EU tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/y1rsfta8" target="_blank">RJZ Quake Sacrifice Cup 4</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'RicoTheSecond, Predatorian, kw0w, snthss' %><br>
     <abbr title="RicoTheSecond, Predatorian, kw0w, snthss">Scallyswaggers</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Prevail & friends (jbacc, erebux, The Lunat1c, pthy, vig1lante)' %><br>
     <abbr title="Prevail & friends (jbacc, erebux, The Lunat1c, pthy, vig1lante)">Prevail & friends</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'ease5000, d z l, NXC Aaron, Swil' %><br>
     <abbr title="ease5000, d z l, NXC Aaron, Swil">In[10]sity</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     May 9, 2020 &nbsp;&nbsp;
     <a href="https://youtu.be/gDwptS9XUFw" target="_blank">VOD</a>&nbsp;
     &nbsp;&nbsp; 5 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/3518153477424922624/information" target="_blank">RJZ Quake International Duel Cup 2</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Ton1
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     inz
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     N/A
   </div>
   <hr style="margin:10px 5px">
   <small>
     May 8, 2020 &nbsp;&nbsp; €20 &nbsp;&nbsp; 28 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3475006083230867456/stages/3475025461011234816/" target="_blank">RJZ Quake 2v2 TDM Cup 14</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'blaQarm + K A S H' %><br>
     <abbr title="blaQarm + K A S H">blaquash</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'DROBOVIK + opium' %><br>
     <abbr title="DROBOVIK + opium">drobop</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Moraloevalo + Devone' %><br>
     <abbr title="Moraloevalo + Devone">Moraloevalo & Devone</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Apr 25, 2020 &nbsp;&nbsp;
     <a href="https://youtu.be/NY7rVpnfom0" target="_blank">VOD</a>&nbsp;
     &nbsp;&nbsp; 10 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3454188106465402880/stages/3454886270911643648/" target="_blank">RJZ Quake 2v2 TDM Cup 13</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'enesy + danchezzor' %><br>
     <abbr title="enesy + danchezzor">diarrheaslurp</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'KillaloT + PULZ' %><br>
     <abbr title="KillaloT + PULZ">PORKSWORDS</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'DROBOVIK + opium' %><br>
     <abbr title="DROBOVIK + opium">drobop</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Apr 11, 2020 &nbsp;&nbsp;
     <a href="https://youtu.be/QlzP4bJutJc" target="_blank">VOD</a>&nbsp;
     <a href="https://youtu.be/HVERYi3T2so" target="_blank">Highlight</a>
     &nbsp;&nbsp; 10 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3433642199524114432/stages/3433664675760447488/" target="_blank">RJZ Quake 2v2 TDM Cup 12</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'KillaloT + PULZ' %><br>
     <abbr title="KillaloT + PULZ">PORKSWORDS</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'PASITA + St0n3' %><br>
     <abbr title="PASITA + St0n3">MMMKAY</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Klyb + Troolz' %><br>
     <abbr title="Klyb + Troolz">One Two</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Apr 3, 2020 &nbsp;&nbsp;
     <a href="https://youtu.be/8BlCfM3p0J8" target="_blank">VOD</a>
     &nbsp;&nbsp; 11 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3373142115166019584/stages/3373156471060447232/" target="_blank">RJZ Quake 2v2 TDM Cup 11</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'enesy + deep6' %><br>
     <abbr title="enesy + deep6">diarrheaslurp</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Xron + Av3k' %><br>
     <abbr title="Xron + Av3k">Hilaries</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'ANTOWKA + Antemos' %><br>
     <abbr title="ANTOWKA + Antemos">Top Luckers</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Mar 12, 2020 &nbsp;&nbsp;
     <a href="https://youtu.be/9XAC-DxJUHI" target="_blank">VOD</a>
     &nbsp;&nbsp; 13 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3267089616563986432/stages/3267096070529228800/" target="_blank">RJZ Quake 2v2 TDM Cup 10</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Alostraz + blaQarm' %><br>
     <abbr title="Alostraz + blaQarm">s e e r 2</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Arctic Klyb + 0pium' %><br>
     <abbr title="Arctic Klyb + 0pium">One Two pro</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'danchezzor + FL1NF' %><br>
     <abbr title="danchezzor + FL1NF">s e e r</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Feb 8, 2020 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=zlh8jT2uhl8" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 10 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/zkshl0xx" target="_blank">RJZ Quake 4v4 TDM Cup 3</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'NvChief, Predatorian, RicoTheSecond, retc0n' %><br>
     <abbr title="NvChief, Predatorian, RicoTheSecond, retc0n">S4u3rKr4uT</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title:'Alostraz, blaqarm, FL1NF, ANTOWKA' %><br>
     <abbr title="Alostraz, blaqarm, FL1NF, ANTOWKA">s e e r</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title:'Pr0to, EviLxSSS, old 20noob, DezintegratoR' %><br>
     <abbr title="Pr0to, EviLxSSS, old 20noob, DezintegratoR">Pensionery</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Jan 25, 2020 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=ZoVoggTl_y8" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 4 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3210891844438671360/stages/3210912197664129024/" target="_blank">RJZ Quake Rookie 2v2 TDM Cup 2</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Neovirus + MooNa' %><br>
     <abbr title="Neovirus + MooNa">PortWeShock</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'PuppeT + salconnn' %><br>
     <abbr title="PuppeT + salconnn">Team Gaume</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Double Whammy (Fifty + eldeibe)' %><br>
     <abbr title="Double Whammy (Fifty + eldeibe)">Double Whammy</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Jan 18, 2020 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=lVDy5B4gwH8" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 7 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/lvmtbg86" target="_blank">RJZ Quake Sacrifice Cup 3</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Calum0r, sh1verz, kRyst4l, Xiango, Arctic Klyb' %><br>
     <abbr title="Calum0r, sh1verz, kRyst4l, Xiango, Arctic Klyb">Table Flippers</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'ANTOWKA, blaQarm, FL1NF, Jndge' %><br>
     <abbr title="ANTOWKA, blaQarm, FL1NF, Jndge">s e e r</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'HG Texaero, HG ServuS, PepCo, Creative1' %><br>
     <abbr title="HG Texaero, HG ServuS, PepCo, Creative1">Ananas</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Jan 11, 2020 &nbsp;&nbsp; 5 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/3167626767834808320/stages/3167647942350471168/" target="_blank">RJZ Quake Beast Duel Cup 8</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     inz
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     enesy
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     strngst
   </div>

   <hr style="margin:10px 5px">
   <small>
     Jan 4, 2020 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=WIzj0oFX448" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=VXiluvtt2t0" target="_blank">Interview (enesy)</a>
     &nbsp;&nbsp; 8 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3127419591718674432/stages/3127671618018541568/" target="_blank">RJZ Quake 2v2 TDM Cup 9</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Arctic Klyb + Troolz' %><br>
     <abbr title="Arctic Klyb + Troolz">One Two</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'KillaloT + PULZ' %><br>
     <abbr title="KillaloT + PULZ">PORKSWORDS</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Jndge + blaQarm' %><br>
     <abbr title="Jndge + blaQarm">s e e r</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Dec 21, 2019 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=vKGyxTIm398" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 11 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/3107373337335455744/stages/3107428670661517312/" target="_blank">RJZ Quake Rookie Duel Cup 6</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Fifty
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     kw0w
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     salconnn
   </div>
   <hr style="margin:10px 5px">
   <small>
     Dec 14, 2019 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=L9KvtXJlc1I" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 12 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/csnc650c" target="_blank">RJZ Quake 4v4 TDM Cup 2</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'BattIeToads, Nitrino, ANTOWKA, VdnL' %><br>
     <abbr title="BattIeToads, Nitrino, ANTOWKA, VdnL">QuakeLive</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'PULZz, KillaloT, enesy, OP p1ngo' %><br>
     <abbr title="PULZz, KillaloT, enesy, OP p1ngo">EDB-klubben</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Alostraz, blaqarm, FL1NF, Jndge' %><br>
     <abbr title="Alostraz, blaqarm, FL1NF, Jndge">s e e r</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Dec 7, 2019 &nbsp;&nbsp; Loyalty Event &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=PftaQR112Ag" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 9 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3065756234607034368/stages/3065780579426410496/" target="_blank">RJZ Quake 2v2 TDM Cup 8</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'inz + dmtvCHERAmo4ila' %><br>
     <abbr title="inz + dmtvCHERAmo4ila">Hamskiy flexxx</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Warthox Klyb + Troolz' %><br>
     <abbr title="Warthox Klyb + Troolz">one two</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'blaQarm + FL1NF' %><br>
     <abbr title="blaQarm + FL1NF">s e e r</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Nov 30, 2019 &nbsp;&nbsp; €35 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=KoU9AiwQ71U" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 19 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/3045413682068963328/stages/3046235998647296000/" target="_blank">RJZ Quake Beast Duel Cup 7 (Classic)</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Danskq
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     CH33RRA
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     Warthox klyb
   </div>

   <hr style="margin:10px 5px">
   <small>
     Nov 23, 2019 &nbsp;&nbsp; €20 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=wk8986ITdt4" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=8gFJbhf1aPE" target="_blank">Interview (CH33RRA)</a>
     &nbsp;&nbsp; 6 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/3025186905741557760/stages/3025217117771841536/" target="_blank">RJZ Quake Rookie 2v2 TDM Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'KABYRAGE + RAMBURAGE' %><br>
     <abbr title="KABYRAGE + RAMBURAGE">Rage</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Aniou + Blacksilv3r' %><br>
     <abbr title="Aniou + Blacksilv3r">LG players</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Double Whammy (Fifty + eldeibe)' %><br>
     <abbr title="Double Whammy (Fifty + eldeibe)">Double Whammy</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Nov 16, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=tN_xK9RzV2Y" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 10 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/3005983943634894848/stages/3006028772343824384/" target="_blank">RJZ Quake FFA Cup 2</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     ALF
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     Warthox klyb
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     Troolz
   </div>

   <hr style="margin:10px 5px">
   <small>
     Nov 9, 2019 &nbsp;&nbsp; €18,37 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=OtFgZYL4KeI" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 16 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2990242858943430656/stages/2990265854835851264/" target="_blank">RJZ Quake Rookie Duel Cup 5</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Anixavich
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     0wnezZ
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     Allusia
   </div>
   <hr style="margin:10px 5px">
   <small>
     Nov 1, 2019 &nbsp;&nbsp; €35 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=OeKQ1JRIZqo" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=Y2q0ZFZTvpo" target="_blank">Highlight</a>
     &nbsp;&nbsp; 16 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/ndd8nozm" target="_blank">RJZ Quake 4v4 TDM Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'mezz WOW, kanipox, dazz0r, s t r y' %><br>
     <abbr title="mezz WOW, kanipox, dazz0r, s t r y">1.6 is the best</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: '0pium, Marrakesh, Drobovik, Blaqarm' %><br>
     <abbr title="0pium, Marrakesh, Drobovik, Blaqarm">MIR</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Flowie71, Freakman, Trella, noox' %><br>
     <abbr title="Flowie71, Freakman, Trella, noox">NoID</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Oct 25, 2019 &nbsp;&nbsp; Loyalty Event &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=BVN8tC6be_U" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 9 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/eh1hniz3" target="_blank">RJZ Quake Sacrifice Cup 2</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Calum0r, dreenw, kRyst4l, Xiango' %><br>
     <abbr title="Calum0r, dreenw, kRyst4l, Xiango">Table Flippers</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Warthox Klyb, PepCo, von Dorimi, EplusSlon' %><br>
     <abbr title="Warthox Klyb, PepCo, von Dorimi, EplusSlon">Warthox CIS</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: '2borg, Vasya, HG Texaero, BaTHblePyKu' %><br>
     <abbr title="2borg, Vasya, HG Texaero, BaTHblePyKu">sacHaters</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Oct 18, 2019 &nbsp;&nbsp; Loyalty Event &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=1OJJ3UmVzTo" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 7 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2917615304622235648/stages/2926563713928994816/" target="_blank">RJZ Quake FFA Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Warthox klyb
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     inz
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     Taka
   </div>

   <hr style="margin:10px 5px">
   <small>
     Oct 11, 2019 &nbsp;&nbsp; €6 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=HYPx-WdX4ec" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 16 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2904395017085116416/stages/2904408055196639232/" target="_blank">RJZ Quake Beast Duel Cup 6</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     inz
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     AGENT
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     PepCo
   </div>

   <hr style="margin:10px 5px">
   <small>
     Oct 4, 2019 &nbsp;&nbsp; €25 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=H5xySsJdlwg" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 13 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2887096532384440320/stages/2887109913925476352/" target="_blank">RJZ Quake Rookie Duel Cup 4</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Anixavich
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     CAMOTblK
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     zathlete
   </div>
   <hr style="margin:10px 5px">
   <small>
     Sep 27, 2019 &nbsp;&nbsp; €60 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=t6fzuCCwxpY" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=CUDdsbgE5TU" target="_blank">Highlight</a>
     &nbsp;&nbsp; 24 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/2865188271034851328/stages/2865207243564711936/" target="_blank">RJZ Quake 2v2 TDM Cup 7</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Warthox Klyb + Bon3z666' %><br>
     <abbr title="Warthox Klyb + Bon3z666">Warthox CIS</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Flowie71 + blaqarm' %><br>
     <abbr title="Flowie71 + blaqarm">NoID</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'machinae $upremacy (polterizer + RoMoLo)' %><br>
     <abbr title="machinae $upremacy (polterizer + RoMoLo)">machinae $upremacy</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Sep 20, 2019 &nbsp;&nbsp; €58,37 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=PGapsUomvhU" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 5 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/wqle36x5" target="_blank">RJZ Quake CTF Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Taka, NvChief, Tr0uble, suyo' %><br>
     <abbr title="Taka, NvChief, Tr0uble, suyo">Fish'n'Schnitz</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'de5tro, Smooth, K0marr, Flowie71' %><br>
     <abbr title="de5tro, Smooth, K0marr, Flowie71">FlagsOnMaps</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Ch4mp, ViKingX, MekNaan, CAREEM' %><br>
     <abbr title="Ch4mp, ViKingX, MekNaan, CAREEM">Big Biceps</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Sep 13, 2019 &nbsp;&nbsp; Loyalty Event &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=hgwcA3PU3ls" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 5 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://challonge.com/b555mx0e" target="_blank">RJZ Quake Sacrifice Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Taka, NvChief, Tr0uble, suyo' %><br>
     <abbr title="Taka, NvChief, Tr0uble, suyo">Team Taka</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Calum0r, m4tt1, kRyst4l, Xiango, nautilus88' %><br>
     <abbr title="Calum0r, m4tt1, kRyst4l, Xiango, nautilus88">Table Flippers</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'CEZA, t9spdr, NeiroMoHaX, T9UnSeen' %><br>
     <abbr title="CEZA, t9spdr, NeiroMoHaX, T9UnSeen">Sandstorm</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Sep 6, 2019 &nbsp;&nbsp; Loyalty Event &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=jHygyEr33nI" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=CfD_S0RL5ZA" target="_blank">Highlight</a>
     &nbsp;&nbsp; 7 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/2749536204020752384/stages/2749547310412070912/" target="_blank">RJZ Quake 2v2 TDM Cup 6</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'troolz + inz' %><br>
     <abbr title="troolz + inz">one-two</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Xron + Av3k' %><br>
     <abbr title="Xron + Av3k">Hilaries</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Maickl + Dmtv ch3rra' %><br>
     <abbr title="Maickl + Dmtv ch3rra">Dmtv</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Aug 30, 2019 &nbsp;&nbsp; €13,37 &nbsp;&nbsp;
     <a href="https://youtu.be/-FId3B7aLV0" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 12 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2794571468093153280/information" target="_blank">RJZ Quake Groups Duel Cup 2</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Flowie71
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     mijkeee
   </div>
   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     N/A
   </div>
   <hr style="margin:10px 5px">
   <small>
     Aug 24, 2019 &nbsp;&nbsp; €17 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=iOyTzzX3XoU" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 19 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2764181793998397440/stages/2764214746060488704/" target="_blank">RJZ Quake Beast Duel Cup 5</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     AGENT
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     base
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     cnz
   </div>

   <hr style="margin:10px 5px">
   <small>
     Aug 17, 2019 &nbsp;&nbsp; €43,43 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=EmkdylnWHck" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=VFYFQn0Kkhk" target="_blank">Highlight</a>
     &nbsp;&nbsp; 22 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2743660845461905408/information" target="_blank">RJZ Quake Groups Duel Cup 1</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     DMTV CH3RRA
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     cnz
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     N/A
   </div>

   <hr style="margin:10px 5px">
   <small>
     Aug 10, 2019 &nbsp;&nbsp; €138,37 &nbsp;&nbsp;
     <a href="https://youtu.be/0HISXkPDNZ8" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://youtu.be/yvmiy8ZSgicve" target="_blank">Highlight</a>
     &nbsp;&nbsp; 32 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2716057281708032000/stages/2716089695622479872/" target="_blank">RJZ Quake Rookie Duel Cup 3</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     xanjya
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     CAMOTblK
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     Fookiz
   </div>
   <hr style="margin:10px 5px">
   <small>
     Aug 3, 2019 &nbsp;&nbsp; €12 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=0CDqZW8D11U" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 24 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/en_US/tournaments/2694423891964043264/stages/2694454862065991680/" target="_blank">RJZ Quake 2v2 TDM Cup 5</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'ANTOWKA + OpiuM' %><br>
     <abbr title="ANTOWKA + OpiuM">Top Luckers</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'KillaloT + PULZz' %><br>
     <abbr title="KillaloT + PULZz">PORK SWORDS</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Nitrino + Shadich' %><br>
     <abbr title="Nitrino + Shadich">MYOB</abbr>
   </div>
   <hr style="margin:10px 5px">
   <small>
     July 20, 2019 &nbsp;&nbsp; €20 &nbsp;&nbsp;
     <a href="https://youtu.be/S0WBnvWHCJQ" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://youtu.be/jMBg288NQPo" target="_blank">Highlight</a>
     &nbsp;&nbsp; 10 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2674216760443256832/stages/2674246426654334976/" target="_blank">RJZ Quake Beast Duel Cup 4 (Classic)</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Pikawa
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     strngst
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     Nitrino
   </div>
   <hr style="margin:10px 5px">
   <small>
     July 13, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=Q3BjLvOdPqg" target="_blank">Grand Finals</a>&nbsp;&nbsp; 15 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2642188832353075200/information" target="_blank">RJZ Quake International<br> Duel Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     sUPREMEGTI
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     inz
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     N/A
   </div>
   <hr style="margin:10px 5px">
   <small>
     July 6, 2019 &nbsp;&nbsp; €62 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=hLnSWV-MsJA" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=vsKQ2aNobu8" target="_blank">Highlight</a>
     &nbsp;&nbsp; 5 NA 16 EU prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/tournaments/2630626312540979200/stages/2630646723258793984/" target="_blank">RJZ Quake 2v2 TDM Cup 4</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'DMTV Klyb + Alostraz' %><br>
     <abbr title="DMTV Klyb + Alostraz">DMTV</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'troolz + inz' %><br>
     <abbr title="troolz + inz">one-two</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Flowie71 + Freakman' %><br>
     <abbr title="Flowie71 + Freakman">Team Tank</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     June 29, 2019 &nbsp;&nbsp; €55 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=agoUGXbp4_Y" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=TICJRx4WJ84" target="_blank">Highlight</a>
     &nbsp;&nbsp; 10 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/tournaments/2598808705759174656/stages/2598832296304852992/" target="_blank">RJZ Quake Beast Duel Cup 3</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Troolz
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     inz
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     dmtv.cheera
   </div>
   <hr style="margin:10px 5px">
   <small>
     June 22, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=Hg7_1kbiEB4" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=Uu3qQrVssNo" target="_blank">Highlight</a>
     &nbsp;&nbsp; 8 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/tournaments/2590021267350708224/stages/2590113660736233472/" target="_blank">RJZ Quake 2v2 TDM Cup 3</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'mezz + kanipox' %><br>
     <abbr title="mezz + kanipox">boneGG</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'bukster + prox1mo' %><br>
     <abbr title="bukster + prox1mo">probuks</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'troolz + inz' %><br>
     <abbr title="troolz + inz">one-two</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     June 15, 2019 &nbsp;&nbsp; €18 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=z-MHHP0z1F4" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=3AD9yHeTg2I" target="_blank">Highlight</a>
     &nbsp;&nbsp; 8 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a class="item" href="https://www.toornament.com/tournaments/2437560400559898624/stages/2437794458318200832/" target="_blank">RJZ Quake 2v2 TDM Cup 2</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'srs + ins' %><br>
     <abbr title="srs + ins">kefla</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Xron + lithz' %><br>
     <abbr title="Xron + lithz">xron+cheater</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Flowie71 + Sam Trautman' %><br>
     <abbr title="Flowie71 + Sam Trautman">Team Tank</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Apr 27, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=59HHNSf6vbU" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://youtu.be/AzirAOa6TFs" target="_blank">Interview (Xron)</a>
     &nbsp;&nbsp; 6 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/tournaments/2415807557277163520/stages/2415831186761154560/" target="_blank">RJZ Quake Beast Duel Cup 2</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     vldStone
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     base
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     DMTV klyb
   </div>
   <hr style="margin:10px 5px">
   <small>
     Apr 20, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://youtu.be/rkGcfN_QW6Y" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://youtu.be/yB9EtDxr3oc" target="_blank">Highlight</a>
     &nbsp;&nbsp; 8 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/tournaments/2399376648169996288/stages/2401357384462942208/" target="_blank">RJZ Quake Rookie Duel Cup 2</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Lemming
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     CAMOTblK
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     Fookiz
   </div>
   <hr style="margin:10px 5px">
   <small>
     Apr 13, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://youtu.be/33IU-ifMI50" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://youtu.be/s35icBfn_ho" target="_blank">Highlight</a>
     &nbsp;&nbsp; 8 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/en_US/tournaments/2376575490905440256/stages/2391477977542574080/" target="_blank">RJZ Quake 2v2 TDM Cup 1</a>
   </h3>

   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'phaze + ins' %><br>
     <abbr title="phaze + ins">Team Diet</abbr>
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Xron + Silencep' %><br>
     <abbr title="Xron + Silencep">2z2</abbr>
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'play to improve (lithz + Busdriverx)' %><br>
     <abbr title="play to improve (lithz + Busdriverx)">play to improve</abbr>
   </div>

   <hr style="margin:10px 5px">
   <small>
     Apr 6, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=aMXrPIpOBGg" target="_blank">Grand Finals</a>
     &nbsp;&nbsp; 11 tms
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/tournaments/2359033188602773504/stages/2359140731723005952/" target="_blank">RJZ Quake Beast Duel Cup 1</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Myztro RAISY
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     AGENT
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     vldStone
   </div>
   <hr style="margin:10px 5px">
   <small>
     Mar 30, 2019 &nbsp;&nbsp; Logitech G Pro headset &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=2-FDeZMnQYs" target="_blank">Grand Finals</a><br>
     <a href="https://www.youtube.com/watch?v=67cYkOkLaRg" target="_blank">Highlight</a>&nbsp;
     <a href="https://www.youtube.com/watch?v=SOkd697TY8M" target="_blank">Interview (Agent)</a>
     &nbsp;&nbsp; 12 prs
   </small>
 </div>

 <div class="flex-item-hof">
   <h3>
     <a href="https://www.toornament.com/tournaments/2326665762142388224/stages/2342230105904594944/" target="_blank">RJZ Quake Rookie Duel Cup 1</a>
   </h3>
   <div class="w3-mobile trophy-silver">
     <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
     Kyng
   </div>

   <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
     <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
     headbang3r
   </div>

   <div class="w3-mobile trophy-bronze">
     <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
     LK7R
   </div>
   <hr style="margin:10px 5px">
   <small>
     Mar 24, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
     <a href="https://www.youtube.com/watch?v=2-FDeZMnQYs" target="_blank">Grand Finals</a>&nbsp;
     <a href="https://youtu.be/mNDZNoVg5Gk" target="_blank">Highlight</a>
     &nbsp;&nbsp; 6 prs
   </small>
 </div>
