<div class="flex-item-hof">
  <h3>
    <a class="item" href="/diabotical/rookie-duel-cup-1" target="_blank">Rookie Duel Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    Xhine
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    pcchild
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    Feder34
  </div>

  <hr style="margin:10px 5px">
  <small>
    Oct 16, 2020 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://youtu.be/MrsIOK35iZ8" target="_blank">VOD</a>&nbsp;
    &nbsp;&nbsp; 8prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a class="item" href="/diabotical/rookie-aim-arena-1v1-cup-1/" target="_blank">Rookie Aim Arena 1v1 Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    Akilae
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    salconnn
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    Fifty
  </div>

  <hr style="margin:10px 5px">
  <small>
    Oct 10, 2020 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=5r51OOH_brQ" target="_blank">VOD</a>&nbsp;
    &nbsp;&nbsp; 10prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a class="item" href="https://www.toornament.com/en_US/tournaments/3883011912658206720/stages/3883906279628406784/" target="_blank">Rocket Arena 1v1 Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    leinal
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    Klyb
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    polterizer
  </div>

  <hr style="margin:10px 5px">
  <small>
    Sep 10, 2020 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://youtu.be/OoQ5cAjXWas" target="_blank">VOD</a>&nbsp;
    &nbsp;&nbsp; 10prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a class="item" href="https://www.toornament.com/en_US/tournaments/3839393032655978496/stages/3839398858387447808/" target="_blank">Shaft Arena 1v1 Cup 2</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="Manguste Scucchi">Manguste Scucchi</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    faye
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    M4dBadM4n
  </div>

  <hr style="margin:10px 5px">
  <small>
    Sep 8, 2020 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://youtu.be/TrvmCbDvde8" target="_blank">VOD</a>&nbsp;
    &nbsp;&nbsp; 13prs
  </small>
</div>



<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/en_US/tournaments/3821971196027256832/information" target="_blank">International Aim Arena 2v2 Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'faye + nescio' %><br>
    <abbr title="faye + nescio">blindtrust</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'raul_is_ruthless + allmEntal' %><br>
    <abbr title="raul_is_ruthless + allmEntal">fundamentals</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    N/A
  </div>

  <hr style="margin:10px 5px">
  <small>
    Aug 15, 2020 &nbsp;&nbsp; 11 NA 13 EU tms
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a class="item" href="https://www.toornament.com/en_US/tournaments/3781358263914930176/information" target="_blank">International Aim Arena 1v1 Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    Julbars
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    faye
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    N/A
  </div>

  <hr style="margin:10px 5px">
  <small>
    Aug 1, 2020 &nbsp;&nbsp; €30 &nbsp;&nbsp;
    <a href="https://youtu.be/iBit-aLQUcA" target="_blank">VOD</a>&nbsp;
    <a href="https://youtu.be/k8p2d3SX8bA" target="_blank">Grand Finals</a>&nbsp;
    <a href="https://youtu.be/rvmAIfbZq90" target="_blank">Highlight</a>
    &nbsp;&nbsp; 22 NA 16 EU prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/en_US/tournaments/3405893608020484096/stages/3405921062337323008/" target="_blank">Aim Arena 1v1 Cup 2</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    Flowie71
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    pulz
  </div>

  <div class="w3-mobile trophy-bronze trophy-bronze-mobile">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    CAREEM
  </div>

  <hr style="margin:10px 5px">
  <small>
    Mar 21, 2020 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://youtu.be/A0AsRbaPcO0" target="_blank">VOD</a>
    &nbsp;&nbsp; 18 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/en_US/tournaments/3393656448760610816/stages/3393772393419186176/" target="_blank">Shaft Arena 1v1 Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    enesy
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    fayefps
  </div>

  <div class="w3-mobile trophy-bronze trophy-bronze-mobile">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Manguste Scucchi' %><br>
    <abbr title="Manguste Scucchi">Manguste Scucchi</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Mar 19, 2020 &nbsp;&nbsp;
    <a href="https://youtu.be/lyHkU315YSE" target="_blank">VOD</a>
    &nbsp;&nbsp; 12 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/en_US/tournaments/3378512911094882304/stages/3378549996711403520/" target="_blank">Duel Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    Julbars
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Manguste Scucchi' %><br>
    <abbr title="Manguste Scucchi">Manguste Scucchi</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    inz
  </div>

  <hr style="margin:10px 5px">
  <small>
    Mar 14, 2020 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://youtu.be/ZdkSn0OIiRY" target="_blank">Grand Finals</a>
    &nbsp;&nbsp; 29 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/en_US/tournaments/3366809026392776704/stages/3366827351107616768/" target="_blank">Aim Arena 2v2 Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'serious + SkRawZ' %><br>
    <abbr title="serious + SkRawZ">Pierogi</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Busdriver + enesy' %><br>
    <abbr title="Busdriver + enesy">animals</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Flowie71 + pix1on' %><br>
    <abbr title="Flowie71 + pix1on">Anathema</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Mar 7, 2020 &nbsp;&nbsp; €20 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=GFTXGa-Nxok" target="_blank">Grand Finals</a>
    &nbsp;&nbsp; 11 tms
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/en_US/tournaments/3352649597501022208/stages/3352657828969242624/" target="_blank">Aim Arena 1v1 Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    enesy
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    Busdriverx
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    i n s
  </div>

  <hr style="margin:10px 5px">
  <small>
    Mar 6, 2020 &nbsp;&nbsp; €31,50 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=z5Fe3jD22rg" target="_blank">Grand Finals</a>
    &nbsp;&nbsp; 24 prs
  </small>
</div>
