<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/tournaments/2175635035273814016/stages/2176418086664617984/" target="_blank">2v2 TDM Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Selbstzerstörung (Mirio + Packer)' %><br>
    <abbr title="Selbstzerstörung (Mirio + Packer)">Selbstzerstörung</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Dodger + Tommy' %><br>
    <abbr title="Dodger + Tommy">Big nex</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'morosophosophers (Mossepo + morosophos)' %><br>
    <abbr title="morosophosophers (Mossepo + morosophos)">morosophosophers</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Feb 3, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=A0gRKGkl830" target="_blank">Grand Finals</a>
    &nbsp;&nbsp; 6 tms
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/tournaments/1091445822962843648/stages/2127182086997803008/" target="_blank">Duel Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    Tommy
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    Dodger
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    Mirio
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jan 20, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://youtu.be/ew-tgIBhYoM" target="_blank">Highlight (music)</a>&nbsp;
    <a href="https://www.youtube.com/watch?v=mWWPho4Qzv4" target="_blank">Highlight (cast)</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>
