<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-13" target="_blank">ZS x RJZ Xonotic Duel Cup 13</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="ZeRoQL">ZeRoQL</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Ch4mp">Ch4mp</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Feb 12, 2022 &nbsp;&nbsp; $500 &nbsp;&nbsp; 8 prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-12" target="_blank">ZS x RJZ Xonotic Duel Cup 12</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="ZeRoQL">ZeRoQL</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Rainbow Shadow">Rainbow Shadow</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Dec 4, 2021 &nbsp;&nbsp; $500 &nbsp;&nbsp; 8 prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-11" target="_blank">ZS x RJZ Xonotic Duel Cup 11</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="Kojak">Kojak</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'ZeRoQL' %><br>
    <abbr title="ZeroQL">ZeRoQL</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Nov 13, 2021 &nbsp;&nbsp; $500 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=HuvBu8FubgI" target="_blank">VOD</a>
    &nbsp;&nbsp; 9 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-10" target="_blank">ZS x RJZ Xonotic Duel Cup 10</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="ZeRoQL">ZeRoQL</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Rainbow Shadow">Rainbow Shadow</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Oct 30, 2021 &nbsp;&nbsp; $250 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=kRSCmRWLxwk" target="_blank">VOD</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-3" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 3</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Metsu (Kojak + ZeRoQL)' %><br>
    <abbr title="Metsu (Kojak + ZeRoQL)">Metsu</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'XXXcentric (Dodger + Klaspes)' %><br>
    <abbr title="XXXcentric (Dodger + Klaspes)">XXXcentric</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Big Biceps (Ch4mp + Rainbow Shadow)' %><br>
    <abbr title="Big Biceps (Ch4mp + Rainbow Shadow)">Big Biceps</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Oct 17, 2021 &nbsp;&nbsp; $500 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=OaNA4UmLYp4" target="_blank">VOD</a>
    &nbsp;&nbsp; 4 tms
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-9" target="_blank">ZS x RJZ Xonotic Duel Cup 9</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="ZeRoQL">ZeRoQL</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Kojak">Kojak</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Oct 3, 2021 &nbsp;&nbsp; $250 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=KDXob2dcImo" target="_blank">VOD</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-2" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 2</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Metsu (Kojak + ZeRoQL)' %><br>
    <abbr title="Metsu (Kojak + ZeRoQL)">Metsu</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'CLINT (Dodger + Archer)' %><br>
    <abbr title="CLINT (Dodger + Archer)">CLINT</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: '[BOT] (Klaspes + Hotdog)' %><br>
    <abbr title="[BOT] (Klaspes + Hotdog)">[BOT] </abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Sep 18, 2021 &nbsp;&nbsp; $500 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=WM4pG7NgrxI" target="_blank">GF</a>
    &nbsp;&nbsp; 6 tms
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-8" target="_blank">ZS x RJZ Xonotic Duel Cup 8</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="Kojak">Kojak</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Ch4mp">Ch4mp</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Sep 4, 2021 &nbsp;&nbsp; $250 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=E1CDXMGH2mU" target="_blank">VOD</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-1" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 1</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Metsu (Kojak + ZeRoQL)' %><br>
    <abbr title="Metsu (Kojak + ZeRoQL)">Metsu</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'CLINT (Dodger + Archer)' %><br>
    <abbr title="CLINT (Dodger + Archer)">CLINT</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Big Biceps (Ch4mp + SPLAT)' %><br>
    <abbr title="Big Biceps (Ch4mp + SPLAT)">Big Biceps</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Aug 22, 2021 &nbsp;&nbsp; $500 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=3SpP_gy3cZM" target="_blank">VOD</a>
    &nbsp;&nbsp; 8 tms
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-7" target="_blank">ZS x RJZ Xonotic Duel Cup 7</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'RAINBOW SHADOW' %><br>
    <abbr title="RAINBOW SHADOW">RAINBOW SHADOW</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Klaspes">Klaspes</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Aug 7, 2021 &nbsp;&nbsp; $250 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=sYDy2G_ry3Y" target="_blank">VOD</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-6" target="_blank">ZS x RJZ Xonotic Duel Cup 6</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="Ch4mp">Ch4mp</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Klaspes">Klaspes</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jul 24, 2021 &nbsp;&nbsp; $250 &nbsp;&nbsp;
    <a href="https://youtu.be/t3_mJnJG4-I" target="_blank">VOD</a>&nbsp;
    <a href="https://www.youtube.com/watch?v=Cty2qlCKftk" target="_blank">Highlights</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-5" target="_blank">ZS x RJZ Xonotic Duel Cup 5</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'RAINBOW SHADOW' %><br>
    <abbr title="RAINBOW SHADOW">RAINBOW SHADOW</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Kojak' %><br>
    <abbr title="Kojak">Kojak</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'ZeroQL' %><br>
    <abbr title="ZeroQL">ZeroQL</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jul 10, 2021 &nbsp;&nbsp; $500 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=_QrBiJG2bDM" target="_blank">VOD</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-4" target="_blank">ZS x RJZ Xonotic Duel Cup 4</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'RAINBOW SHADOW' %><br>
    <abbr title="RAINBOW SHADOW">RAINBOW SHADOW</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Wolf-Snipe">Wolf-Snipe</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jun 19, 2021 &nbsp;&nbsp; $500 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=AllTav4BAWc" target="_blank">VOD</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-3" target="_blank">ZS x RJZ Xonotic Duel Cup 3</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'RAINBOW SHADOW' %><br>
    <abbr title="RAINBOW SHADOW">RAINBOW SHADOW</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Smilecythe">Smilecythe</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jun 5, 2021 &nbsp;&nbsp; $2 500 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=OleqXx3H348" target="_blank">VOD (part 1)</a>&nbsp;
    <a href="https://www.youtube.com/watch?v=FFOLx21zZMM&list=PL7S3xzYPMhgTiJnd90xLiZqDurmZB8K67&index=2" target="_blank">Highlights</a>
    &nbsp;&nbsp; 16 prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-2" target="_blank">ZS x RJZ Xonotic Duel Cup 2</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="Ch4mp">Ch4mp</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'RAINBOW SHADOW' %><br>
    <abbr title="RAINBOW SHADOW">RAINBOW SHADOW</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    May 22, 2021 &nbsp;&nbsp; $250 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=LTJUX54mSLI" target="_blank">VOD</a>
    &nbsp;&nbsp; 9 prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-1" target="_blank">ZS x RJZ Xonotic Duel Cup 1</a>
    <i class="fas fa-handshake" title="partnered"></i>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'RAINBOW SHADOW' %><br>
    <abbr title="RAINBOW SHADOW">RAINBOW SHADOW</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="Dodger">Dodger</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Ch4mp">Ch4mp</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    May 1, 2021 &nbsp;&nbsp; $250 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=04-mN5DD4tY" target="_blank">Highlight</a>&nbsp;
    <a href="https://www.youtube.com/watch?v=-j0YFxNJ7-8" target="_blank">GF</a>&nbsp;
    <a href="https://www.youtube.com/watch?v=GD61XiHDBgI" target="_blank">Dodger Interview</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>


<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/tournaments/2175635035273814016/stages/2176418086664617984/" target="_blank">2v2 TDM Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Selbstzerstörung (Mirio + Packer)' %><br>
    <abbr title="Selbstzerstörung (Mirio + Packer)">Selbstzerstörung</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'Dodger + Tommy' %><br>
    <abbr title="Dodger + Tommy">Big nex</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'morosophosophers (Mossepo + morosophos)' %><br>
    <abbr title="morosophosophers (Mossepo + morosophos)">morosophosophers</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Feb 3, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=A0gRKGkl830" target="_blank">Grand Finals</a>
    &nbsp;&nbsp; 6 tms
  </small>
</div>

<div class="flex-item-hof">
  <h3>
    <a href="https://www.toornament.com/tournaments/1091445822962843648/stages/2127182086997803008/" target="_blank">Duel Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    Tommy
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    Dodger
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    Mirio
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jan 20, 2019 &nbsp;&nbsp; €10 &nbsp;&nbsp;
    <a href="https://youtu.be/ew-tgIBhYoM" target="_blank">Highlight (music)</a>&nbsp;
    <a href="https://www.youtube.com/watch?v=mWWPho4Qzv4" target="_blank">Highlight (cast)</a>
    &nbsp;&nbsp; 8 prs
  </small>
</div>
