---
title: ANTOWKA
layout: player
discord_id: "ANTOWKA#1599"
---

<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.antowka.name %></h1>
        <%= data.players.antowka.avatar %>
        <div class="player-social">
          <a href="https://www.youtube.com/c/F51" target="_blank">
            <i class="fab fa-lg fa-youtube"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
        <p>A ya dedushku ne bil - a ya dedushku lubil</p>
        <div class="w3-panel" style="background:#131316">
          <p><b>Zowie ec2a</b> &nbsp;&nbsp; <b>DPI:</b> 800 &nbsp;&nbsp; <b>SENS:</b> 3.0 &nbsp;&nbsp; <b>ACCEL:</b> 0</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                tourneys:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.antowka.tourneys %></b>
              succeed
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.antowka.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="https://stats.quake.com/profile/antowka" target="_blank"><%= image_tag '/images/qc-icon.png', alt: 'antowka profile quake champions', title: 'Quake Champions' %></a>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.antowka.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                money earned:</b>
            </td>
            <td><%= data.players.antowka.money %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.antowka.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.antowka.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.antowka.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>TOURNEYS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <p>empty</p>
      <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
      <table class="w3-table w3-bordered tourneys">
        <thead>
          <tr>
            <th>tourney</th>
            <th>place</th>
            <th>earned</th>
            <th>media</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/3373142115166019584/stages/3373156471060447232/" target="_blank">2v2 TDM Cup 11</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://youtu.be/9XAC-DxJUHI" target="_blank">VOD</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://challonge.com/zkshl0xx" target="_blank">4v4 TDM Cup 3</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://www.youtube.com/watch?v=ZoVoggTl_y8" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://challonge.com/lvmtbg86" target="_blank">Sacrifice Cup 3</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              -</td>
              <td>
                -
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://challonge.com/csnc650c" target="_blank">4v4 TDM Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              Loyalty Event</td>
              <td>
                <a href="https://www.youtube.com/watch?v=PftaQR112Ag" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/2694423891964043264/stages/2694454862065991680/" target="_blank">2v2 TDM Cup 5</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              €2</td>
              <td>
                <a href="https://youtu.be/S0WBnvWHCJQ" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://youtu.be/jMBg288NQPo" target="_blank">Highlight</a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <p>empty</p>
    </div>

</div>
<!-- end of w3-content-->
