---
title: Ch4mp
discord_id: bigbicepstime
layout: player
---

<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.ch4mp.name %></h1>
        <%= partial "partials/player/ch4mp/avatar" %>
        <div class="player-social">
          <a href="https://www.instagram.com/bigbicepstime" target="_blank">
            <i class="fab fa-lg fa-instagram"></i>
          </a>
          <a href="https://steamcommunity.com/id/bigbicepstime" target="_blank">
            <i class="fab fa-lg fa-steam"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
          <i class="fa-solid fa-2x fa-crown" style="color:#CD05E7;margin:5px;margin-left:0"></i>
          <span style="position:absolute;left:-50px;bottom:-50px;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">Drama Queen</span>
        </div>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
          <i class="fa-2x fa-solid fa-biohazard" style="color:#5ED729;margin:5px"></i>
          <span style="position:absolute;left:-50px;bottom:-50px;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">Toxic</span>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
        <p>Competitive player since 2015. Xonotic beast. LawBreakers pro player <i class="far fa-grin-tears"></i></p>
        <div class="w3-panel" style="background:#131316">
          <p><b>Zowie FK2-C</b> &nbsp;&nbsp; <b>DPI:</b> 1600 &nbsp;&nbsp; <b>SENS:</b> 2.25 &nbsp;&nbsp; <b>ACCEL:</b> 0</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                full name:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.ch4mp.full_name %></b>
            </td>
          </tr>


          <tr>
            <td>
              <b>
                rank:</b>
            </td>
            <td>
              <i class="fa-solid fa-medal"></i> <b><%= data.players.ch4mp.rank_display %> <sup><%= data.players.ch4mp.rank %></sup></b>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.ch4mp.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="http://stats.xonotic.org/player/48571" target="_blank"><%= image_tag '/images/xon-icon.png', alt: 'ch4mp profile xonotic', title: 'Xonotic' %></a>
              &nbsp;
              <a href="https://liquipedia.net/arenafps/Ch4mp" target="_blank">liquipedia</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.ch4mp.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.ch4mp.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.ch4mp.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.ch4mp.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>COMPETITIONS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <iframe src="https://www.youtube.com/embed/RzeSlw88s50" style="width:100%;height:640px" allowfullscreen></iframe>
      <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
      <table class="w3-table w3-bordered tourneys">
        <thead>
          <tr>
            <th>event</th>
            <th>place</th>
            <th>earned</th>
            <th>media</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/rjz-xonotic-duel-league-2024" target="_blank">RJZ Xonotic Duel League 2024</a>
            </td>
            <td>
              4th
            </td>
            <td>
              -</td>
            <td>
              <a href="https://www.youtube.com/watch?v=71RcqLImlCA&list=PL7S3xzYPMhgR5OFzjbhc8Rv1D0xl5-yDs" target="_blank">Playlist</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/xonotic-duel-league-2023" target="_blank">RJZ Xonotic Duel League 2023</a>
            </td>
            <td>
              4th
            </td>
            <td>
              $10</td>
            <td>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-13" target="_blank">ZS x RJZ Xonotic Duel Cup 13</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              $100</td>
            <td>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-3" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 3</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              $50</td>
            <td>
              <a href="https://www.youtube.com/watch?v=OaNA4UmLYp4" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-8" target="_blank">ZS x RJZ Xonotic Duel Cup 8</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              $50</td>
            <td>
              <a href="https://www.youtube.com/watch?v=E1CDXMGH2mU" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-1" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              $50</td>
            <td>
              <a href="https://www.youtube.com/watch?v=3SpP_gy3cZM" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-6" target="_blank">ZS x RJZ Xonotic Duel Cup 6</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              $75</td>
            <td>
              <a href="https://youtu.be/t3_mJnJG4-I" target="_blank">VOD</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=Cty2qlCKftk" target="_blank">Highlights</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-3" target="_blank">ZS x RJZ Xonotic Duel Cup 3</a>
            </td>
            <td>
              4th
            </td>
            <td>
              $150</td>
            <td>
              <a href="https://www.youtube.com/watch?v=OleqXx3H348" target="_blank">VOD (part 1)</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=bJfiId79eTI" target="_blank">VOD (part 2)</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-2" target="_blank">ZS x RJZ Xonotic Duel Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              $75</td>
            <td>
              <a href="https://www.youtube.com/watch?v=LTJUX54mSLI" target="_blank">FULL VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-1" target="_blank">ZS x RJZ Xonotic Duel Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              $50</td>
            <td>
              <a href="https://www.youtube.com/watch?v=04-mN5DD4tY" target="_blank">Highlight</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=-j0YFxNJ7-8" target="_blank">GF</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=GD61XiHDBgI" target="_blank">Dodger Interview</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://rocketjump.zone/quake/2v2-tdm-cup-16/" target="_blank">RJZ Quake 2v2 TDM Cup 16</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              -</td>
              <td>
                -
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://challonge.com/wqle36x5" target="_blank">RJZ Quake CTF Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              loyalty event</td>
              <td>
                <a href="https://www.youtube.com/watch?v=hgwcA3PU3ls" target="_blank">Grand Finals</a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <p>My achievements in other tournaments:</p>

      <p><a href="https://www.esportsearnings.com/players/70259-ch4mp-peter/results-by-prize" target="_blank">esportsearnings.com profile</a>
        <h2>Xonotic</h2>
        <p>
          <a href="https://www.esportsearnings.com/tournaments/43522-zensports-xdc-1" target="_blank">ZenSports Xonotic Duel Cup</a>
          <br>
          <b>place:</b>
          <i class="fas fa-trophy trophy-bronze"></i><br>
        </p>

        <p>
          <a href="https://www.esportsearnings.com/tournaments/43321-zensports-1" target="_blank">ZenSports Mock Duel Cup #1</a>
          <br>
          <b>place:</b>
          <i class="fas fa-trophy trophy-bronze"></i><br>
        </p>

      <p>
        <a href="https://challonge.com/2020_elix_2" target="_blank">2020-ELIX #2: TWO-STAGE DUEL</a>
        <br>
        <b>place:</b>
        <i class="fas fa-trophy trophy-silver"></i>
      </p>



      <p>
        <a href="https://challonge.com/2020_elix_5" target="_blank">2020-eLix #5: Duel</a>
        <br>
        <b>place:</b>
        <i class="fas fa-trophy trophy-bronze"></i><br>
      </p>

      <p>
        <a href="https://challonge.com/2020_elix_6" target="_blank">2020-eLix #6: Duel</a>
        <br>
        <b>place:</b>
        <i class="fas fa-trophy trophy-bronze"></i><br>
      </p>
      <p>
        <a href="https://challonge.com/xonqc83" target="_blank">XQC #83 (4V4 TDM/DRAFT)</a>
        <br>
        <b>place:</b>
        <i class="fas fa-trophy trophy-gold"></i><br>
        <b>teammates:</b>
        Islinn, sleet, Ploplo
      </p>

      <p>
        <a href="https://challonge.com/xonqc89" target="_blank">XQC #89 (4V4 TDM/DRAFT)</a>
        <br>
        <b>place:</b>
        <i class="fas fa-trophy trophy-gold"></i><br>
        <b>teammates:</b>
        Dodger, Pio, Diomedes
      </p>

    </div>

</div>
<!-- end of w3-content-->
