---
title: Dodger
discord_id: razordodger
layout: player
---


<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.dodger.name %></h1>
        <%= partial "partials/player/dodger/avatar" %>
        <div class="player-social">
          <a href="https://twitter.com/DodgerRazor" target="_blank">
            <i class="fab fa-lg fa-x-twitter"></i>
          </a>
          <a href="https://steamcommunity.com/profiles/76561198116882022/" target="_blank">
            <i class="fab fa-lg fa-steam"></i>
          </a>
          <a href="https://www.youtube.com/channel/UC3GWzRu-F_Ih53Y6EIoG5qg" target="_blank">
            <i class="fab fa-lg fa-youtube"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
          <i class="fas fa-2x fa-microphone" style="color:#01FF70;margin-top:5px"></i>
          <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">caster</span>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
        <p>I am 12 years old.</p>
        <div class="w3-panel" style="background:#131316">
          <p><b>Glorious model D</b> &nbsp;&nbsp; <b>DPI:</b> 400 &nbsp;&nbsp; <b>SENS:</b> 4.2 &nbsp;&nbsp; <b>ACCEL:</b> 0</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                full name:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.dodger.full_name %></b>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                rank:</b>
            </td>
            <td>
              <i class="fa-solid fa-medal"></i> <b><%= data.players.dodger.rank_display %> <sup><%= data.players.dodger.rank %></sup></b>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.dodger.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="http://stats.xonotic.org/player/8848" target="_blank"><%= image_tag '/images/xon-icon.png', alt: 'dodger profile xonotic', title: 'Xonotic' %></a>
              &nbsp;
              <a href="https://liquipedia.net/arenafps/Dodger" target="_blank">liquipedia</a>

            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.dodger.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.dodger.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.dodger.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.dodger.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>COMPETITIONS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <iframe src="https://www.youtube.com/embed/cGtTAHpaDR4" style="width:100%;height:640px" allowfullscreen="allowfullscreen"></iframe>
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
      <table class="w3-table w3-bordered tourneys">
        <thead>
          <tr>
            <th>event</th>
            <th>place</th>
            <th>earned</th>
            <th>media</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/rjz-xonotic-duel-league-2024" target="_blank">RJZ Xonotic Duel League 2024</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              €62,5</td>
            <td>
              <a href="https://www.youtube.com/watch?v=71RcqLImlCA&list=PL7S3xzYPMhgR5OFzjbhc8Rv1D0xl5-yDs" target="_blank">Playlist</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/rjz-xonotic-duel-league-2023" target="_blank">RJZ Xonotic Duel League 2023</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $10</td>
            <td>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-13" target="_blank">ZS x RJZ Xonotic Duel Cup 13</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $250</td>
            <td>
              <a href="https://www.youtube.com/watch?v=BSD6_vBmMD0" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-12" target="_blank">ZS x RJZ Xonotic Duel Cup 12</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $250</td>
            <td>
              <a href="https://www.youtube.com/watch?v=rJr50hAfODs" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-11" target="_blank">ZS x RJZ Xonotic Duel Cup 11</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $250</td>
            <td>
              <a href="https://www.youtube.com/watch?v=HuvBu8FubgI" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-10" target="_blank">ZS x RJZ Xonotic Duel Cup 10</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=kRSCmRWLxwk" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-3" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 3</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=OaNA4UmLYp4" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-9" target="_blank">ZS x RJZ Xonotic Duel Cup 9</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=KDXob2dcImo" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-2" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=WM4pG7NgrxI" target="_blank">GF</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-8" target="_blank">ZS x RJZ Xonotic Duel Cup 8</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=E1CDXMGH2mU" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-1" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=3SpP_gy3cZM" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-7" target="_blank">ZS x RJZ Xonotic Duel Cup 7</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $100</td>
            <td>
              <a href="https://www.youtube.com/watch?v=sYDy2G_ry3Y" target="_blank">VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-6" target="_blank">ZS x RJZ Xonotic Duel Cup 6</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://youtu.be/t3_mJnJG4-I" target="_blank">VOD</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=Cty2qlCKftk" target="_blank">Highlights</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-4" target="_blank">ZS x RJZ Xonotic Duel Cup 4</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $205</td>
            <td>
              <a href="https://www.youtube.com/watch?v=AllTav4BAWc" target="_blank">FULL VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-3" target="_blank">ZS x RJZ Xonotic Duel Cup 3</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $1 000</td>
            <td>
              <a href="https://www.youtube.com/watch?v=OleqXx3H348" target="_blank">VOD (part 1)</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=bJfiId79eTI" target="_blank">VOD (part 2)</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-2" target="_blank">ZS x RJZ Xonotic Duel Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=LTJUX54mSLI" target="_blank">FULL VOD</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-1" target="_blank">ZS x RJZ Xonotic Duel Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              $125</td>
            <td>
              <a href="https://www.youtube.com/watch?v=04-mN5DD4tY" target="_blank">Highlight</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=-j0YFxNJ7-8" target="_blank">GF</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=GD61XiHDBgI" target="_blank">Dodger Interview</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2175635035273814016/stages/2176418086664617984/" target="_blank">RJZ Xonotic 2v2 TDM Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              €5</td>
            <td>
              <a href="https://www.youtube.com/watch?v=A0gRKGkl830" target="_blank">Grand Finals</a>
            </td>
          </tr>
          <tr>
            <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/1091445822962843648/stages/2127182086997803008/" target="_blank">RJZ Xonotic Duel Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              €10</td>
            <td>
              <a href="https://youtu.be/ew-tgIBhYoM" target="_blank">Highlight (music)</a>&nbsp;
              <a href="https://www.youtube.com/watch?v=mWWPho4Qzv4" target="_blank">Highlight (cast)</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <pre>
XONOTIC
DOXA cups:
Xonotic DOXA 2020 Duel Cup: 1st place
Highlights: Here

eLix cups:
Xonotic eLix #1 2vs2 TDM: 1st place along with Archer
Xonotic eLix #2 Duel Cup: 1st place
Xonotic eLix #3 Duel Cup: 1st place
Xonotic eLix #5 Duel Cup: 1st place
Xonotic eLix #6 Duel Cup: 1st place

RJZ cups:
Xonotic RJZ 2vs2 TDM: 1st place along with Tommy
Xonotic RJZ Duel Cup: 1st place

ZenSports cups:
Xonotic ZenSports XDC #1: 1st place
Xonotic ZenSports #1 Mock Duel Cup: 1st place
Xonotic ZenSports #2 Mock Duel Cup: 1st place
Xonotic ZenSports #3 Mock Duel Cup: 1st place

ZenSports x RJZ cups:
ZS x RJZ Xonotic Duel Cup 1: 1st place
Grand Final: https://www.youtube.com/watch?v=-j0YFxNJ7-8
ZS x RJZ Xonotic Duel Cup 3 Summer Bash: 1st place
ZS x RJZ Xonotic Duel Cup 2: 1st place
ZS x RJZ Xonotic Duel Cup 4: 1st place
ZS x RJZ Xonotic Duel Cup 6: 1st place

World cups:
Xonotic Duel World Cup 2017 Minor 2: 2nd place
Xonotic Duel World Cup 2018: 3rd place
Xonotic Duel World Cup 2016: 9th-12th

DIABOTICAL
ZenSports cups:
Diabotical ZenSports Pigeon Classic 3vs3 Wipeout Tournament: 5th/6th along with Rainy and FragStealer

DOOMBRINGER
Organ grinder #5 2vs2 Team Death Match: 3rd place along with Ch4mp
      </pre>

    </div>

</div>
<!-- end of w3-content-->
