---
title: faye
layout: player
discord_id: "faye#5308"
---

<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.faye.name %></h1>
        <%= data.players.faye.avatar %>
        <div class="player-social">
          <a href="https://www.youtube.com/channel/UClj6GpwUTb8mtqacKkvkDig " target="_blank">
            <i class="fab fa-lg fa-youtube"></i>
          </a>
          <a href="https://steamcommunity.com/id/fayefps/" target="_blank">
            <i class="fab fa-lg fa-steam"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
        <div class="w3-panel" style="background:#131316">
          <p><b>Finalmouse Ultralight 2</b> &nbsp;&nbsp; <b>DPI:</b> 800 &nbsp;&nbsp; <b>SENS:</b> 1.92 &nbsp;&nbsp; <b>ACCEL:</b> 0</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                tourneys:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.faye.tourneys %></b>
              succeed
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.faye.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="https://stats.quake.com/profile/fipzzzz" target="_blank"><%= image_tag '/images/qc-icon.png', alt: 'faye profile quake champions', title: 'Quake Champions' %></a>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.faye.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                money earned:</b>
            </td>
            <td><%= data.players.faye.money %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.faye.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.faye.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.faye.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>TOURNEYS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <p>empty</p>
      <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
      <table class="w3-table w3-bordered tourneys">
        <thead>
          <tr>
            <th>tourney</th>
            <th>place</th>
            <th>earned</th>
            <th>media</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'diabotical-icon.png', alt: 'Diabotical', title: 'Diabotical' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/3839393032655978496/stages/3839398858387447808/" target="_blank">Shaft Arena 1v1 Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              €10</td>
              <td>
                <a href="https://youtu.be/TrvmCbDvde8" target="_blank">VOD</a>&nbsp;
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'diabotical-icon.png', alt: 'Diabotical', title: 'Diabotical' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/3575892157740064768/information" target="_blank">International Aim Arena 1v1 Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              €21</td>
              <td>
                <a href="https://youtu.be/iBit-aLQUcA" target="_blank">VOD</a>&nbsp;
                <a href="https://youtu.be/k8p2d3SX8bA" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://youtu.be/rvmAIfbZq90" target="_blank">Highlight</a>
              </td>
          </tr>

          <tr>
            <td><%= image_tag 'diabotical-icon.png', alt: 'Diabotical', title: 'Diabotical' %>&nbsp;
              <a href="https://www.toornament.com/en_US/tournaments/3393656448760610816/stages/3393772393419186176/" target="_blank">Shaft Arena 1v1 Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://youtu.be/lyHkU315YSE" target="_blank">VOD</a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <p>empty</p>
    </div>


</div>
<!-- end of w3-content-->
