---
title: Flowie71
layout: player
discord_id: "Flowie71#4343"
---

<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.flowie71.name %></h1>
        <%= data.players.flowie71.avatar %>
        <div class="player-social">
          <a href="https://www.twitch.tv/flowie71" target="_blank">
            <i class="fab fa-lg fa-twitch"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
            <p>frags, frags, frags...</p>
        <div class="w3-panel" style="background:#131316">
          <p><b>Razer Deathadder</b> &nbsp;&nbsp; <b>DPI:</b> 800 &nbsp;&nbsp; <b>SENS:</b> 1.5 &nbsp;&nbsp; <b>ACCEL:</b> 0</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                tourneys:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.flowie71.tourneys %></b>
              succeed
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.flowie71.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="https://stats.quake.com/profile/flowie71" target="_blank"><%= image_tag '/images/qc-icon.png', alt: 'flowie71 profile quake champions', title: 'Quake Champions' %></a>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.flowie71.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                money earned:</b>
            </td>
            <td><%= data.players.flowie71.money %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.flowie71.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.flowie71.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.flowie71.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>TOURNEYS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <p>empty</p>
      <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
      <table class="w3-table w3-bordered tourneys">
        <thead>
          <tr>
            <th>tourney</th>
            <th>place</th>
            <th>earned</th>
            <th>media</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'diabotical-icon.png', alt: 'diabotical', title: 'Diabotical' %>&nbsp;
              <a href="https://www.toornament.com/en_US/tournaments/3405893608020484096/stages/3405921062337323008/" target="_blank">Arena 1v1 Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://youtu.be/A0AsRbaPcO0" target="_blank">VOD</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'diabotical-icon.png', alt: 'diabotical', title: 'Diabotical' %>&nbsp;
              <a href="https://www.toornament.com/en_US/tournaments/3366809026392776704/stages/3366827351107616768/" target="_blank">Arena 2v2 Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://www.youtube.com/watch?v=GFTXGa-Nxok" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://challonge.com/ndd8nozm" target="_blank">4v4 TDM Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              loyalty event</td>
              <td>
                <a href="https://www.youtube.com/watch?v=BVN8tC6be_U" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/2865188271034851328/stages/2865207243564711936/" target="_blank">2v2 TDM Cup 7</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              &euro;14,5</td>
              <td>
                <a href="https://www.youtube.com/watch?v=PGapsUomvhU" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://challonge.com/b555mx0e" target="_blank">Sacrifice Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              loyalty event</td>
              <td>
                <a href="https://www.youtube.com/watch?v=jHygyEr33nI" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://www.youtube.com/watch?v=CfD_S0RL5ZA" target="_blank">Highlight</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/en_US/tournaments/2794571468093153280/information" target="_blank">Groups Duel Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              &euro;5,1</td>
              <td>
                <a href="https://www.youtube.com/watch?v=iOyTzzX3XoU" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2630626312540979200/stages/2630646723258793984/" target="_blank">2v2 TDM Cup 4</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              &euro;2,75</td>
              <td>
                <a href="https://www.youtube.com/watch?v=agoUGXbp4_Y" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://www.youtube.com/watch?v=TICJRx4WJ84" target="_blank">Highlight</a>
              </td>
          </tr>

          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2437560400559898624/stages/2437794458318200832/" target="_blank">2v2 TDM Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://www.youtube.com/watch?v=59HHNSf6vbU" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://youtu.be/AzirAOa6TFs" target="_blank">Interview (Xron)</a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <p>empty</p>
    </div>

</div>
<!-- end of w3-content-->
