---
title: ins
layout: player
discord_id: "ins#9077"
---

<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.ins.name %></h1>
        <%= data.players.ins.avatar %>
        <div class="player-social">
          <a href="https://twitter.com/insqc" target="_blank">
            <i class="fab fa-lg fa-twitter"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
        <div class="w3-panel" style="background:#131316">
          <p><b>Logitech g203</b> &nbsp;&nbsp; <b>DPI:</b> 1600 &nbsp;&nbsp; <b>SENS:</b> 0.9 &nbsp;&nbsp; <b>ACCEL:</b> 0</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                full name:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.ins.full_name %></b>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.ins.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="https://stats.quake.com/profile/i%20n%20s" target="_blank"><%= image_tag '/images/qc-icon.png', alt: 'ins profile quake champions', title: 'Quake Champions' %></a>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.ins.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.ins.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.ins.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.ins.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>TOURNEYS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <p>empty</p>
      <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
      <table class="w3-table w3-bordered tourneys">
        <thead>
          <tr>
            <th>tourney</th>
            <th>place</th>
            <th>earned</th>
            <th>media</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'diabotical-icon.png', alt: 'diabotical', title: 'Diabotical' %>&nbsp;
              <a href="https://www.toornament.com/en_US/tournaments/3352649597501022208/stages/3352657828969242624/" target="_blank">Arena 1v1 Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://www.youtube.com/watch?v=z5Fe3jD22rg" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2437560400559898624/stages/2437794458318200832/" target="_blank">2v2 TDM Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://www.youtube.com/watch?v=59HHNSf6vbU" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://youtu.be/AzirAOa6TFs" target="_blank">Interview (Xron)</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2376575490905440256/stages/2391477977542574080/" target="_blank">2v2 TDM Cup 1</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://www.youtube.com/watch?v=aMXrPIpOBGg" target="_blank">Grand Finals</a>
              </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <p>empty</p>
    </div>

</div>
<!-- end of w3-content-->
