---
title: JSkey
layout: player
discord_id: "JSkey#1814"
---

<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.jskey.name %></h1>
        <%= partial "partials/player/jskey/avatar" %>
        <div class="player-social">
          <a href="https://twitter.com/JSkeyQC" target="_blank">
            <i class="fab fa-lg fa-twitter"></i>
          </a>
          <a href="https://www.twitch.tv/jskey_officiel" target="_blank">
            <i class="fab fa-lg fa-twitch"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCtuzvN_5eVMo35dH5bgxz4w" target="_blank">
            <i class="fab fa-lg fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/jskey_officiel/" target="_blank">
            <i class="fab fa-lg fa-instagram"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
        <p>CS & UT Old player and now on QC since October 2018.<br> I play for Warthox Esport. Serious aim trainer.</p>
        <div class="w3-panel" style="background:#131316">
          <p><b>Corsair M65 PRO</b> &nbsp;&nbsp; <b>DPI:</b> 800 &nbsp;&nbsp; <b>SENS:</b> 1.51 &nbsp;&nbsp; <b>ACCEL:</b> 0</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                full name:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.jskey.full_name %></b>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.jskey.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="https://stats.quake.com/profile/Warthox%20JSkey" target="_blank"><%= image_tag '/images/qc-icon.png', alt: 'jskey profile quake champions', title: 'Quake Champions' %></a>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.jskey.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.jskey.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.jskey.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.jskey.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>TOURNEYS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <p>empty</p>
      <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
<p>empty</p>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <p>empty</p>
    </div>

</div>
<!-- end of w3-content-->
