---
layout: player
name: &name "KojaK"
desc: "Previous Unreal Tournamant player, former nations team player. Xonotic player / dueler, final_rage King."
title: *name
discord_id: "kojnUK#5095"
country_tag: gb
country_name: United Kingdom
xon_name: "KojaK.UK"
qc_name: ""
dbt_name: ""
mouse: "?"
dpi: "800"
sens: "0.73"
accel: "0"
---

<div class="w3-auto w3-container">
  <div class="w3-row">
    <div class="w3-col l2 m2">
      <h1><%= current_page.data.name %></h1>
      <%= partial "partials/player/kojak/avatar" %>
      <div class="player-social">
        <a href="https://www.twitch.tv/kojnuk" target="_blank">
          <i class="fab fa-lg fa-twitch"></i>
        </a>
        <a href="https://youtube.com/user/icemanv6" target="_blank">
          <i class="fab fa-lg fa-youtube"></i>
        </a>
        <a href="https://steamcommunity.com/id/kojnuk/" target="_blank">
          <i class="fab fa-lg fa-steam"></i>
        </a>
        <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
          <i class="fab fa-lg fa-discord"></i>
          <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
        </div>
      </div>
      <div class="w3-tooltip mobile-tooltip" style="display:inline">
        <i class="fas fa-2x fa-heart" style="color:#E91E63;margin-top:5px"></i>
        <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">Tournament Savior</span>
      </div>
    </div>

    <div class="w3-col l6 m6" style="margin-top:60px">
      <p><%= current_page.data.desc %></p>
      <div class="w3-panel" style="background:#131316">
        <p>
          <b><%= current_page.data.mouse %></b>
          &nbsp;&nbsp;
          <b>DPI:</b>
          <%= current_page.data.dpi %>&nbsp;&nbsp;
          <b>SENS:</b>
          <%= current_page.data.sens %>
          &nbsp;&nbsp;
          <b>ACCEL:</b>
          <%= current_page.data.accel %></p>
      </div>
    </div>

    <div class="w3-col l4 m4">
      <table class="w3-table">
        <tr>
          <td style="border-top:0 !important">
            <b>
              full name:</b>
          </td>
          <td style="border-top:0 !important">
            <b><%= data.players.kojak.full_name %></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              rank:</b>
          </td>
          <td>
            <i class="fas fa-crown"></i> <b><%= data.players.kojak.rank %></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              country:</b>
          </td>
          <td><img src="../../images/flags/4x3/<%= current_page.data.country_tag %>.svg" width="25" height="25" alt="<%= current_page.data.country_tag %>">&nbsp;
            <%= current_page.data.country_name %></td>
        </tr>

        <tr>
          <td>
            <b>
              profiles:</b>
          </td>
          <td>
            <a style="border:none" href="http://stats.xonotic.org/player/542" target="_blank"><%= image_tag '/images/xon-icon.png', alt: 'kojak profile xonotic', title: 'Xonotic' %></a>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              clan:</b>
          </td>
          <td><%= data.players.kojak.clan %></td>
        </tr>

        <tr>
          <td>
            <b>
              trophies:
            </b>
          </td>
          <td>
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.kojak.trophies.gold %></sup>
            </b>
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.kojak.trophies.silver %></sup>
            </b>
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.kojak.trophies.bronze %></sup>
            </b>
          </td>
        </tr>

      </table>

    </div>
    <!-- end of w3-col l4-->
  </div>
  <!-- end of w3-row-->
  <hr>

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="openCity(event, 'London');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
        <b>HIGHLIGHT</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>TOURNEYS</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>DETAILS</b>
      </div>
    </a>
  </div>

  <div id="London" class="city w3-animate-opacity" style="display:block">
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div id="Paris" class="city w3-animate-opacity" style="display:none">
    <table class="w3-table w3-bordered tourneys">
      <thead>
        <tr>
          <th>tourney</th>
          <th>place</th>
          <th>earned</th>
          <th>media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-11" target="_blank">ZS x RJZ Xonotic Duel Cup 11</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silder"></i>
          </td>
          <td>
            $150</td>
          <td>
            <a href="https://www.youtube.com/watch?v=HuvBu8FubgI" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-3" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 3</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $75</td>
          <td>
            <a href="https://www.youtube.com/watch?v=OaNA4UmLYp4" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-9" target="_blank">ZS x RJZ Xonotic Duel Cup 9</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-bronze"></i>
          </td>
          <td>
            $50</td>
          <td>
            <a href="https://www.youtube.com/watch?v=KDXob2dcImo" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-2" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 2</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $75</td>
          <td>
            <a href="https://www.youtube.com/watch?v=WM4pG7NgrxI" target="_blank">GF</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-8" target="_blank">ZS x RJZ Xonotic Duel Cup 8</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $75</td>
          <td>
            <a href="https://www.youtube.com/watch?v=E1CDXMGH2mU" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-1" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 1</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $75</td>
          <td>
            <a href="https://www.youtube.com/watch?v=3SpP_gy3cZM" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-5" target="_blank">ZS x RJZ Xonotic Duel Cup 5</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-gold"></i>
          </td>
          <td>
            $205</td>
          <td>
            <a href="https://www.youtube.com/watch?v=_QrBiJG2bDM" target="_blank">FULL VOD</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div id="Tokyo" class="city w3-animate-opacity" style="display:none">

    <p>Also known as kojn.UK</p>
    <p>DISCORD ID -
      <b><%= current_page.data.discord_id %></b><br><br>
      QUAKE NAME -
      <b><%= current_page.data.qc_name %></b><br>
      DIABOTICAL NAME -
      <b><%= current_page.data.dbt_name %></b><br>
      XONOTIC NAME -
      <b><%= current_page.data.xon_name %></b>
    </p>
    <hr>
  </div>

</div>
<!-- end of w3-auto-->
