---
layout: player
name: "Kyle"
desc: "-"
title: "Kyle"
discord_id: "Kyle#4287"
country_tag: bg
country_name: Bulgaria
xon_name: "Kyle"
qc_name: "KyleLegion"
dbt_name: "-"
mouse: "CM MM710"
dpi: "3200"
sens: "0.75"
accel: "0"
---

<div class="w3-auto w3-container">
  <div class="w3-row">
    <div class="w3-col l2 m2">
      <h1><%= current_page.data.name %></h1>
      <%= partial "partials/player/kyle/avatar" %>
      <div class="player-social">
        <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
          <i class="fab fa-lg fa-discord"></i>
          <span style="position:absolute;left:40px;bottom:-25px;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
        </div>
      </div>
    </div>

    <div class="w3-col l6 m6" style="margin-top:60px">
      <p><%= current_page.data.desc %></p>
      <div class="w3-panel" style="background:#131316">
        <p>
          <b><%= current_page.data.mouse %></b>
          &nbsp;&nbsp;
          <b>DPI:</b>
          <%= current_page.data.dpi %>&nbsp;&nbsp;
          <b>SENS:</b>
          <%= current_page.data.sens %>
          &nbsp;&nbsp;
          <b>ACCEL:</b>
          <%= current_page.data.accel %></p>
      </div>
    </div>

    <div class="w3-col l4 m4">
      <table class="w3-table">
        <tr>
          <td style="border-top:0 !important">
            <b>
              full name:</b>
          </td>
          <td style="border-top:0 !important">
            <b><%= data.players.kyle.full_name %></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              rank:</b>
          </td>
          <td>
            <i class="fa-solid fa-medal"></i> <b><%= data.players.kyle.rank_display %> <sup><%= data.players.kyle.rank %></sup></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              country:</b>
          </td>
          <td><img src="../../images/flags/4x3/<%= current_page.data.country_tag %>.svg" width="25" height="25" alt="<%= current_page.data.country_tag %>">&nbsp;
            <%= current_page.data.country_name %></td>
        </tr>

        <tr>
          <td>
            <b>
              profiles:</b>
          </td>
          <td>
            <a style="border:none" href="http://stats.xonotic.org/player/297137" target="_blank"><%= image_tag '/images/xon-icon.png', alt: 'Kyle profile xonotic', title: 'Xonotic' %></a>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              clan:</b>
          </td>
          <td><%= data.players.kyle.clan %></td>
        </tr>

        <tr>
          <td>
            <b>
              trophies:
            </b>
          </td>
          <td>
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.kyle.trophies.gold %></sup>
            </b>
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.kyle.trophies.silver %></sup>
            </b>
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.kyle.trophies.bronze %></sup>
            </b>
          </td>
        </tr>

      </table>

    </div>
    <!-- end of w3-col l4-->
  </div>
  <!-- end of w3-row-->
  <hr>

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="openCity(event, 'London');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
        <b>HIGHLIGHT</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>COMPETITIONS</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>DETAILS</b>
      </div>
    </a>
  </div>

  <div id="London" class="city w3-animate-opacity" style="display:block">
    -
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div id="Paris" class="city w3-animate-opacity" style="display:none">
    <table class="w3-table w3-bordered tourneys">
      <thead>
        <tr>
          <th>event</th>
          <th>place</th>
          <th>earned</th>
          <th>media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/rjz-xonotic-duel-league-2024" target="_blank">RJZ Xonotic Duel League 2024</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            €43,75</td>
          <td>
            <a href="https://www.youtube.com/watch?v=71RcqLImlCA&list=PL7S3xzYPMhgR5OFzjbhc8Rv1D0xl5-yDs" target="_blank">Playlist</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/xonotic-duel-league-2023" target="_blank">RJZ Xonotic Duel League 2023</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $10</td>
          <td>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div id="Tokyo" class="city w3-animate-opacity" style="display:none">

-
  </div>

</div>
<!-- end of w3-auto-->
