---
layout: player
name: &name "Rainbow Shadow"
desc: "-"
title: *name
discord_id: "Rainbow Shadow#0001"
country_tag: rs
country_name: Serbia
clan: "-"
xon_name: "Rainbow Shadow"
qc_name: ""
dbt_name: ""
mouse: "?"
dpi: "?"
sens: "?"
accel: "?"
---

<div class="w3-auto w3-container">
  <div class="w3-row">
    <div class="w3-col l2 m2">
      <h1><%= current_page.data.name %></h1>
      <%= partial "partials/player/rainbowshadow/avatar" %>
      <div class="player-social">
        <a href="https://www.twitch.tv/rainhoeshadoe" target="_blank">
          <i class="fab fa-lg fa-twitch"></i>
        </a>
        <a href="https://steamcommunity.com/id/UsranaKoza/" target="_blank">
          <i class="fab fa-lg fa-steam"></i>
        </a>
        <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
          <i class="fab fa-lg fa-discord"></i>
          <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
        </div>
      </div>
    </div>

    <div class="w3-col l6 m6" style="margin-top:60px">
      <p><%= current_page.data.desc %></p>
      <div class="w3-panel" style="background:#131316">
        <p>
          <b><%= current_page.data.mouse %></b>
          &nbsp;&nbsp;
          <b>DPI:</b>
          <%= current_page.data.dpi %>&nbsp;&nbsp;
          <b>SENS:</b>
          <%= current_page.data.sens %>
          &nbsp;&nbsp;
          <b>ACCEL:</b>
          <%= current_page.data.accel %></p>
      </div>
    </div>

    <div class="w3-col l4 m4">
      <table class="w3-table">
        <tr>
          <td style="border-top:0 !important">
            <b>
              full name:</b>
          </td>
          <td style="border-top:0 !important">
            <b><%= data.players.rainbowshadow.full_name %></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              rank:</b>
          </td>
          <td>
            <i class="fas fa-bolt"></i> <b><%= data.players.rainbowshadow.rank %></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              country:</b>
          </td>
          <td><img src="../../images/flags/1x1/<%= current_page.data.country_tag %>.svg" width="20" height="20" alt="<%= current_page.data.country_tag %>">&nbsp;
            <%= current_page.data.country_name %></td>
        </tr>

        <tr>
          <td>
            <b>
              profiles:</b>
          </td>
          <td>
            <a style="border:none" href="http://stats.xonotic.org/player/130686" target="_blank"><%= image_tag '/images/xon-icon.png', alt: 'rainbowshadow profile xonotic', title: 'Xonotic' %></a>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              clan:</b>
          </td>
          <td><%= current_page.data.clan %></td>
        </tr>

        <tr>
          <td>
            <b>
              trophies:
            </b>
          </td>
          <td>
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
            </b>
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
            </b>
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
            </b>
          </td>
        </tr>

      </table>

    </div>
    <!-- end of w3-col l4-->
  </div>
  <!-- end of w3-row-->
  <hr>

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="openCity(event, 'London');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
        <b>HIGHLIGHT</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>TOURNEYS</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>DETAILS</b>
      </div>
    </a>
  </div>

  <div id="London" class="city w3-animate-opacity" style="display:block">
    <iframe src="https://www.youtube.com/embed/RBOxLamhP_c?start=38" style="width:100%;height:640px" allowfullscreen></iframe>
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div id="Paris" class="city w3-animate-opacity" style="display:none">
    <table class="w3-table w3-bordered tourneys">
      <thead>
        <tr>
          <th>tourney</th>
          <th>place</th>
          <th>earned</th>
          <th>media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-12" target="_blank">ZS x RJZ Xonotic Duel Cup 12</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-bronze"></i>
          </td>
          <td>
            $100</td>
          <td>
            <a href="https://www.youtube.com/watch?v=rJr50hAfODs" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-10" target="_blank">ZS x RJZ Xonotic Duel Cup 10</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-bronze"></i>
          </td>
          <td>
            $50</td>
          <td>
            <a href="https://www.youtube.com/watch?v=kRSCmRWLxwk" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-3" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 3</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-bronze"></i>
          </td>
          <td>
            $50</td>
          <td>
            <a href="https://www.youtube.com/watch?v=OaNA4UmLYp4" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-7" target="_blank">ZS x RJZ Xonotic Duel Cup 7</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $75</td>
          <td>
            <a href="https://www.youtube.com/watch?v=sYDy2G_ry3Y" target="_blank">VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-5" target="_blank">ZS x RJZ Xonotic Duel Cup 5</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $100</td>
          <td>
            <a href="https://www.youtube.com/watch?v=_QrBiJG2bDM" target="_blank">FULL VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-4" target="_blank">ZS x RJZ Xonotic Duel Cup 4</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $50,5</td>
          <td>
            <a href="https://www.youtube.com/watch?v=AllTav4BAWc" target="_blank">FULL VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-3" target="_blank">ZS x RJZ Xonotic Duel Cup 3</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $500</td>
          <td>
            <a href="https://www.youtube.com/watch?v=OleqXx3H348" target="_blank">VOD (part 1)</a>&nbsp;
            <a href="https://www.youtube.com/watch?v=bJfiId79eTI" target="_blank">VOD (part 2)</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-2" target="_blank">ZS x RJZ Xonotic Duel Cup 2</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-bronze"></i>
          </td>
          <td>
            $37,5</td>
          <td>
            <a href="https://www.youtube.com/watch?v=LTJUX54mSLI" target="_blank">FULL VOD</a>
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-1" target="_blank">ZS x RJZ Xonotic Duel Cup 1</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-silver"></i>
          </td>
          <td>
            $50</td>
          <td>
            <a href="https://www.youtube.com/watch?v=04-mN5DD4tY" target="_blank">Highlight</a>&nbsp;
            <a href="https://www.youtube.com/watch?v=-j0YFxNJ7-8" target="_blank">GF</a>&nbsp;
            <a href="https://www.youtube.com/watch?v=GD61XiHDBgI" target="_blank">Dodger Interview</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
    <p>DISCORD ID -
      <b><%= current_page.data.discord_id %></b><br><br>
      QUAKE NAME -
      <b><%= current_page.data.qc_name %></b><br>
      DIABOTICAL NAME -
      <b><%= current_page.data.dbt_name %></b><br>
      XONOTIC NAME -
      <b><%= current_page.data.xon_name %></b>
    </p>
    <hr>

<pre>
Achievements:
https://www.esportsearnings.com/players/77503-rainbow-shadow-branislav-stojadinovic/results-by-prize
https://www.esportsearnings.com/tournaments/47279-xsb-2021
https://www.esportsearnings.com/tournaments/48323-zs-x-rjz-4
https://www.esportsearnings.com/tournaments/47196-xsb-practise
https://www.esportsearnings.com/tournaments/48413-zs-x-rjz-7
https://www.esportsearnings.com/tournaments/46532-zs-x-rjz-1
https://www.esportsearnings.com/tournaments/47869-zs-x-rjz-5
https://www.esportsearnings.com/tournaments/47121-zs-x-rjz-2
</pre>
  </div>

</div>
<!-- end of w3-auto-->
