---
title: Troolz
layout: player
discord_id: "Troolz#4030"
---

<div class="w3-auto w3-container">
    <div class="w3-row">
      <div class="w3-col l2 m2">
        <h1><%= data.players.troolz.name %></h1>
        <%= data.players.troolz.avatar %>
        <div class="player-social">
          <a href="https://vk.com/troolzy" target="_blank">
            <i class="fab fa-lg fa-vk"></i>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
            <i class="fab fa-lg fa-discord"></i>
            <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
        </div>
      </div>

      <div class="w3-col l6 m6" style="margin-top:60px">
            <p>ql,qc player.</p>
        <div class="w3-panel" style="background:#131316">
          <p><b>Glorious model O</b> &nbsp;&nbsp; <b>DPI:</b> 800 &nbsp;&nbsp; <b>SENS:</b> 3.3 &nbsp;&nbsp; <b>ACCEL:</b> 0.115</p>
        </div>
      </div>

      <div class="w3-col l4 m4">
        <table class="w3-table">
          <tr>
            <td style="border-top:0 !important">
              <b>
                tourneys:</b>
            </td>
            <td style="border-top:0 !important">
              <b><%= data.players.troolz.tourneys %></b>
              succeed
            </td>
          </tr>

          <tr>
            <td>
              <b>
                country:</b>
            </td>
            <td><%= data.players.troolz.country %></td>
          </tr>

          <tr>
            <td>
              <b>
                profiles:</b>
            </td>
            <td>
              <a style="border:none" href="https://stats.quake.com/profile/troolz" target="_blank"><%= image_tag '/images/qc-icon.png', alt: 'troolz profile quake champions', title: 'Quake Champions' %></a>
            </td>
          </tr>

          <tr>
            <td>
              <b>
                clan:</b>
            </td>
            <td><%= data.players.troolz.clan %></td>
          </tr>

          <tr>
            <td>
              <b>
                money earned:</b>
            </td>
            <td><%= data.players.troolz.money %></td>
          </tr>

          <tr>
            <td>
              <b>
                trophies:
              </b>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.troolz.trophies.gold %></sup>
              </b>
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.troolz.trophies.silver %></sup>
              </b>
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.troolz.trophies.bronze %></sup>
              </b>
            </td>
          </tr>

        </table>

      </div>
      <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
          <b>HIGHLIGHT</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>TOURNEYS</b>
        </div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
          <b>DETAILS</b>
        </div>
      </a>
    </div>

    <div id="London" class="city w3-animate-opacity" style="display:block">
      <p>empty</p>
      <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
    </div>

    <div id="Paris" class="city w3-animate-opacity" style="display:none">
      <table class="w3-table w3-bordered tourneys">
        <thead>
          <tr>
            <th>tourney</th>
            <th>place</th>
            <th>earned</th>
            <th>Media</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'diabotical-icon.png', alt: 'Diabotical', title: 'Diabotical' %>&nbsp;
              <a class="item" href="/diabotical/aim-arena-2v2-cup-2" target="_blank">Aim Arena 2v2 Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              €1,50</td>
              <td>
                <a href="https://youtu.be/SfMn8cMsYic" target="_blank">VOD</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/3433642199524114432/stages/3433664675760447488/" target="_blank">2v2 TDM Cup 12</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://youtu.be/8BlCfM3p0J8" target="_blank">VOD</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/3127419591718674432/stages/3127671618018541568/" target="_blank">2v2 TDM Cup 9</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              -</td>
              <td>
                <a href="https://www.youtube.com/watch?v=vKGyxTIm398" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/3065756234607034368/stages/3065780579426410496/" target="_blank">2v2 TDM Cup 8</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              €10,5</td>
              <td>
                <a href="https://www.youtube.com/watch?v=KoU9AiwQ71U" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/en_US/tournaments/3005983943634894848/stages/3006028772343824384/" target="_blank">FFA Cup 2</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              &euro;1,8</td>
              <td>
                <a href="https://www.youtube.com/watch?v=OtFgZYL4KeI" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a class="item" href="https://www.toornament.com/en_US/tournaments/2749536204020752384/stages/2749547310412070912/" target="_blank">2v2 TDM Cup 6</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              &euro;1,33</td>
              <td>
                <a href="https://youtu.be/-FId3B7aLV0" target="_blank">Grand Finals</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2630626312540979200/stages/2630646723258793984/" target="_blank">2v2 TDM Cup 4</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-gold"></i>
            </td>
            <td>
              19,25</td>
              <td>
                <a href="https://www.youtube.com/watch?v=agoUGXbp4_Y" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://www.youtube.com/watch?v=TICJRx4WJ84" target="_blank">Highlight</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2598808705759174656/stages/2598832296304852992/" target="_blank">Beast Duel Cup 3</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-silver"></i>
            </td>
            <td>
              €2</td>
              <td>
                <a href="https://www.youtube.com/watch?v=Hg7_1kbiEB4" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://www.youtube.com/watch?v=Uu3qQrVssNo" target="_blank">Highlight</a>
              </td>
          </tr>
          <tr>
            <td><%= image_tag 'qc-icon.png', alt: 'qc', title: 'Quake Champions' %>&nbsp;
              <a href="https://www.toornament.com/tournaments/2590021267350708224/stages/2590113660736233472/" target="_blank">2v2 TDM Cup 3</a>
            </td>
            <td>
              <i class="fas fa-trophy trophy-bronze"></i>
            </td>
            <td>
              €1,8</td>
              <td>
                <a href="https://www.youtube.com/watch?v=z-MHHP0z1F4" target="_blank">Grand Finals</a>&nbsp;
                <a href="https://www.youtube.com/watch?v=3AD9yHeTg2I" target="_blank">Highlight</a>
              </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
      <p>empty</p>
    </div>

</div>
<!-- end of w3-content-->
