---
layout: player
name: "Wolf-Snipe"
desc: "Mainly a Xonotic player, but having ~10yrs of Quake Live and ~2 yr of CPMA"
title: "Wolf-Snipe"
discord_id: "Wolf-Snipe#1701"
country_tag: pl
country_name: Poland
xon_name: "Wolf-Snipe"
qc_name: "Wolf-Snipe"
dbt_name: "Wolf-Snipe"
mouse: "Logitech G502 Hero"
dpi: "800"
sens: "2"
accel: "0"
---

<div class="w3-auto w3-container">
  <div class="w3-row">
    <div class="w3-col l2 m2">
      <h1><%= current_page.data.name %></h1>
      <i class="fab fa-8x fa-wolf-pack-battalion"></i>
      <div class="player-social">
        <a href="https://www.twitch.tv/uncle_wolfy" target="_blank">
          <i class="fab fa-lg fa-twitch"></i>
        </a>
        <a href="https://steamcommunity.com/id/W0lfSn1pe/" target="_blank">
          <i class="fab fa-lg fa-steam"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC7owkrnDX-jVHm5uTWhaqRQ" target="_blank">
          <i class="fab fa-lg fa-youtube"></i>
        </a>
        <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:2px">
          <i class="fab fa-lg fa-discord"></i>
          <span style="position:absolute;left:-50px;bottom:0;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
        </div>
      </div>
    </div>

    <div class="w3-col l6 m6" style="margin-top:60px">
      <p><%= current_page.data.desc %></p>
      <div class="w3-panel" style="background:#131316">
        <p>
          <b><%= current_page.data.mouse %></b>
          &nbsp;&nbsp;
          <b>DPI:</b>
          <%= current_page.data.dpi %>&nbsp;&nbsp;
          <b>SENS:</b>
          <%= current_page.data.sens %>
          &nbsp;&nbsp;
          <b>ACCEL:</b>
          <%= current_page.data.accel %></p>
      </div>
    </div>

    <div class="w3-col l4 m4">
      <table class="w3-table">
        <tr>
          <td style="border-top:0 !important">
            <b>
              full name:</b>
          </td>
          <td style="border-top:0 !important">
            <b><%= data.players.wolfsnipe.full_name %></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              rank:</b>
          </td>
          <td>
            <i class="fa-solid fa-medal"></i> <b><%= data.players.wolfsnipe.rank_display %> <sup><%= data.players.wolfsnipe.rank %></sup></b>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              country:</b>
          </td>
          <td><img src="../../images/flags/4x3/<%= current_page.data.country_tag %>.svg" width="25" height="25" alt="<%= current_page.data.country_tag %>">&nbsp;
            <%= current_page.data.country_name %></td>
        </tr>

        <tr>
          <td>
            <b>
              profiles:</b>
          </td>
          <td>
            <a style="border:none" href="http://stats.xonotic.org/player/285190" target="_blank"><%= image_tag '/images/xon-icon.png', alt: 'wolf-snipe profile xonotic', title: 'Xonotic' %></a>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              clan:</b>
          </td>
          <td><%= data.players.wolfsnipe.clan %></td>
        </tr>

        <tr>
          <td>
            <b>
              trophies:
            </b>
          </td>
          <td>
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.wolfsnipe.trophies.gold %></sup>
            </b>
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.wolfsnipe.trophies.silver %></sup>
            </b>
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.wolfsnipe.trophies.bronze %></sup>
            </b>
          </td>
        </tr>

      </table>

    </div>
    <!-- end of w3-col l4-->
  </div>
  <!-- end of w3-row-->
  <hr>

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="openCity(event, 'London');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-border-red w3-padding">
        <b>HIGHLIGHT</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>COMPETITIONS</b>
      </div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
      <div class="w3-third tablink w3-bottombar w3-center w3-margin-bottom w3-padding">
        <b>DETAILS</b>
      </div>
    </a>
  </div>

  <div id="London" class="city w3-animate-opacity" style="display:block">
    <iframe src="https://www.youtube.com/embed/9zd7Ha-SfAc" style="width:100%;height:640px" allowfullscreen="allowfullscreen"></iframe>
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div id="Paris" class="city w3-animate-opacity" style="display:none">

    <table class="w3-table w3-bordered tourneys">
      <thead>
        <tr>
          <th>event</th>
          <th>place</th>
          <th>earned</th>
          <th>media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag 'xon-icon.png', alt: 'xonotic', title: 'Xonotic' %>&nbsp;
            <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-4" target="_blank">ZS x RJZ Xonotic Duel Cup 4</a>
          </td>
          <td>
            <i class="fas fa-trophy trophy-bronze"></i>
          </td>
          <td>
            $75,4</td>
          <td>
            <a href="https://www.youtube.com/watch?v=AllTav4BAWc" target="_blank">FULL VOD</a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>

  <div id="Tokyo" class="city w3-animate-opacity" style="display:none">
    <p>DISCORD ID -
      <b><%= current_page.data.discord_id %></b><br><br>
      QUAKE NAME -
      <b><%= current_page.data.qc_name %></b><br>
      DIABOTICAL NAME -
      <b><%= current_page.data.dbt_name %></b><br>
      XONOTIC NAME -
      <b><%= current_page.data.xon_name %></b>
    </p>
    <hr>
  </div>

</div>
<!-- end of w3-auto-->
