---
title: Xonotic Ranks
---





<div class="w3-content w3-container w3-animate-opacity" style="margin-top:50px"">

  <h1 class="w3-center" style="font-weight:bold; font-size:24px">XONOTIC RANKS</h1>

  <div class="w3-responsive" style="margin-top:50px">
    <table class="w3-table w3-bordered leaderboard">
      <thead>
        <tr>
          <th>rank</th>
          <th>player</th>
          <th>clan / org</th>
          <th class="w3-center">gold</th>
          <th class="w3-center">silver</th>
          <th class="w3-center">bronze</th>
          <th class="w3-center">ranked W / L</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background:#0e0e10">
          <td style="width:80px">
            <%= data.players.dodger.rank %></td>
          <td>
            <a style="border:none" href="/player/dodger" target="_blank">
            Dodger</a>
          </td>
          <td class="mobile-margin-10"><img src="../../images/flags/1x1/nl.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="nl" title="Netherlands">
          .WA</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.dodger.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.dodger.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.dodger.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>13/0 (100%)</b>
          </td>
        </tr>

        <tr style="background:#0e0e10">
          <td style="width:80px">
            <%= data.players.kojak.rank %></td>
          <td>
            <a style="border:none" href="/player/kojak" target="_blank">
              Kojak</a>
          </td>
          <td class="mobile-margin-10"><img src="../../images/flags/1x1/gb.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="gb" title="United Kingdom">
            Metsu</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.kojak.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.kojak.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.kojak.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>-</b>
          </td>
        </tr>


        <tr style="background:#0e0e10">
          <td style="width:80px">
            <%= data.players.rainbowshadow.rank %></td>
          <td>
            <a style="border:none" href="/player/rainbow-shadow" target="_blank">
              Rainbow Shadow</a>
          </td>
          <td class="mobile-margin-10"><img src="../../images/flags/1x1/rs.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
            -</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>20/21 (48%)</b>
          </td>
        </tr>


        <tr style="background:#0e0e10">
          <td style="width:80px">
            <%= data.players.zeroql.rank %></td>
          <td>
            <a style="border:none" href="/player/zeroql" target="_blank">
              ZeRoQL</a>
          </td>
          <td class="mobile-margin-10"><img src="../../images/flags/1x1/rs.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
            Metsu</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.zeroql.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.zeroql.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.zeroql.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>-</b>
          </td>
        </tr>



        <tr style="background:#0e0e10">
          <td style="width:80px">
            <%= data.players.ch4mp.rank %></td>
          <td>
            <a style="border:none" href="/player/ch4mp" target="_blank">
              Ch4mp</a>
          </td>
          <td class="mobile-margin-10"><img src="../../images/flags/1x1/sk.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="sk" title="Slovakia">
            Big Biceps</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.ch4mp.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.ch4mp.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.ch4mp.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>28/21 (57%)</b>
          </td>
        </tr>


        <tr style="background:#0e0e10">
          <td style="width:80px">
            <%= data.players.klaspes.rank %></td>
          <td>
            <a style="border:none" href="/player/klaspes" target="_blank">
              Klaspes</a>
          </td>
          <td class="mobile-margin-10"><img src="../../images/flags/1x1/de.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="de" title="Germany">
            [Bot]</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.klaspes.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.klaspes.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.klaspes.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>-</b>
          </td>
        </tr>

        <tr style="background:#0e0e10">
          <td style="width:80px">
            <%= data.players.wolfsnipe.rank %></td>
          <td>
            <a style="border:none" href="/player/wolf-snipe" target="_blank">
              Wolf-Snipe</a>
          </td>
          <td class="mobile-margin-10"><img src="../../images/flags/1x1/pl.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="pl" title="Poland">
            -</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.wolfsnipe.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.wolfsnipe.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.wolfsnipe.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>0/1 (0%)</b>
          </td>
        </tr>


      </tbody>
    </table>
  </div>

</div>


<hr>

<div class="w3-stretch w3-center w3-animate-opacity" style="margin-bottom:100px">
<h2 style="margin-top:50px;font-weight:bold; font-size:24px">RANKED LATEST RESULTS</h2>

<div class="flex-container" style="justify-content:center">

  <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
    <a href="/xonotic/ranked/splat-vs-arch-xonotic-ranked-7" class="w3-mobile">
      <div class="w3-row">
        <div class="w3-twothird">
          <h4>SPLAT</h4>
          <hr style="margin-top:0">
          <h4>Arch</h4>
        </div>

        <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
          <h4>3</h4>
          <hr style="margin-top:0">
          <h4>0</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
    <a href="/xonotic/ranked/silent-vs-arch-xonotic-ranked-6" class="w3-mobile">
      <div class="w3-row">
        <div class="w3-twothird">
          <h4>Silent</h4>
          <hr style="margin-top:0">
          <h4>Arch</h4>
        </div>

        <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
          <h4>1</h4>
          <hr style="margin-top:0">
          <h4>2</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
    <a href="/xonotic/ranked/rainbow-shadow-vs-dodger-xonotic-ranked-5" class="w3-mobile">
      <div class="w3-row">
        <div class="w3-twothird">
          <h4>Rainbow Shadow</h4>
          <hr style="margin-top:0">
          <h4>Dodger</h4>
        </div>

        <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
          <h4>0</h4>
          <hr style="margin-top:0">
          <h4>3</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
    <a href="/xonotic/ranked/ch4mp-vs-dodger-xonotic-ranked-4" class="w3-mobile">
      <div class="w3-row">
        <div class="w3-twothird">
          <h4>Ch4mp</h4>
          <hr style="margin-top:0">
          <h4>Dodger</h4>
        </div>

        <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
          <h4>0</h4>
          <hr style="margin-top:0">
          <h4>3</h4>
        </div>
      </div>
    </a>
  </div>

</div>

</div>
<!-- end of w3-container -->
