---
title: Xonotic Ranks Duel

dodger_gold: 13
dodger_silver: 0
dodger_bronze: 0
dodger_ranked: "13/0 (100%)"
dodger_points: "130"


kojak_gold: 1
kojak_silver: 2
kojak_bronze: 1
kojak_ranked: ""
kojak_points: "23.50"

rainbowshadow_gold: 0
rainbowshadow_silver: 5
rainbowshadow_bronze: 3
rainbowshadow_ranked: "20/21 (48%)"
rainbowshadow_points: "34.25"

zeroql_gold: 0
zeroql_silver: 3
zeroql_bronze: 2
zeroql_ranked: "2/1 (66%)"
zeroql_points: "22.50"

ch4mp_gold: 0
ch4mp_silver: 2
ch4mp_bronze: 3
ch4mp_ranked: "	28/21 (57%)"
ch4mp_points: "22.25"

klaspes_gold: 0
klaspes_silver: 0
klaspes_bronze: 3
klaspes_ranked: ""
klaspes_points: "9.50"

wolfsnipe_gold: 0
wolfsnipe_silver: 0
wolfsnipe_bronze: 1
wolfsnipe_ranked: "0/1 (0%)"
wolfsnipe_points: "4.50"

draena_gold: 0
draena_silver: 0
draena_bronze: 0
draena_ranked: ""
draena_points: "1.50"

cupatru_gold: 0
cupatru_silver: 0
cupatru_bronze: 0
cupatru_ranked: "0/1 (0%)"
cupatru_points: "2"

jskey_gold: 0
jskey_silver: 0
jskey_bronze: 0
jskey_ranked: ""
jskey_points: "3.50"
---





<div class="w3-content w3-container w3-animate-opacity" style="margin-top:50px"">

  <h1 class="w3-center">XONOTIC RANKS DUEL</h1>

  <div class="w3-responsive" style="margin-top:50px">
    <table class="w3-table w3-bordered leaderboard">
      <thead>
        <tr>
          <th class="w3-center">rank</th>
          <th class="w3-center">title</th>
          <th>player</th>
          <th>clan / org</th>
          <th class="w3-center">gold</th>
          <th class="w3-center">silver</th>
          <th class="w3-center">bronze</th>
          <th class="w3-center">ranked W / L</th>
          <th class="w3-center">points</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.dodger.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.dodger.rank_display %>
            </td>
          <td>
            <img src="../../images/flags/1x1/nl.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="nl" title="Netherlands">
            <a style="border:none" href="/player/dodger" target="_blank">
            Dodger</a>

          </td>
          <td class="mobile-margin-10">
            <%= data.players.dodger.clan %></td>


          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.dodger_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.dodger_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.dodger_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.dodger_ranked %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.dodger_points %></b>
          </td>
        </tr>

        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.rainbowshadow.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.rainbowshadow.rank_display %>
            </td>

          <td>
            <a style="border:none" href="/player/rainbow-shadow" target="_blank">
              <img src="../../images/flags/1x1/rs.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
              Rainbow Shadow</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.rainbowshadow.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.rainbowshadow_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.rainbowshadow_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.rainbowshadow_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.rainbowshadow_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.rainbowshadow_points %></b>
            </td>
        </tr>

        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.kojak.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.kojak.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/gb.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="gb" title="United Kingdom">
            <a style="border:none" href="/player/kojak" target="_blank">
              Kojak</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.kojak.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.kojak_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.kojak_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.kojak_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.kojak_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.kojak_points %></b>
            </td>
        </tr>

        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.zeroql.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.zeroql.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/rs.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
            <a style="border:none" href="/player/zeroql" target="_blank">
              ZeRoQL</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.zeroql.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.zeroql_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.zeroql_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.zeroql_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.zeroql_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.zeroql_points %></b>
            </td>
        </tr>

        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.ch4mp.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.ch4mp.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/sk.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="sk" title="Slovakia">
            <a style="border:none" href="/player/ch4mp" target="_blank">
              Ch4mp</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.ch4mp.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.ch4mp_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.ch4mp_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.ch4mp_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.ch4mp_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.ch4mp_points %></b>
            </td>
        </tr>



        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.klaspes.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.klaspes.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/de.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="de" title="Germany">
            <a style="border:none" href="/player/klaspes" target="_blank">
              Klaspes</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.klaspes.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.klaspes_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.klaspes_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.klaspes_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.klaspes_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.klaspes_points %></b>
            </td>
        </tr>

        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.wolfsnipe.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.wolfsnipe.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/pl.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="pl" title="Poland">
            <a style="border:none" href="/player/wolf-snipe" target="_blank">
              Wolf-Snipe</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.wolfsnipe.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.wolfsnipe_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.wolfsnipe_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.wolfsnipe_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.wolfsnipe_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.wolfsnipe_points %></b>
            </td>
        </tr>

        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.jskey.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.jskey.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/fr.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="Spain" title="France">
            <a style="border:none" href="/player/jskey" target="_blank">
              JSkey</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.jskey.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.jskey_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.jskey_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.jskey_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.jskey_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.jskey_points %></b>
            </td>
        </tr>

        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.cupatru.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.cupatru.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/sk.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="Slovakia" title="Slovakia">
            <a style="border:none" href="/player/cupatru" target="_blank">
              Cupatru</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.cupatru.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.cupatru_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.cupatru_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.cupatru_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.cupatru_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.cupatru_points %></b>
            </td>
        </tr>


        <tr style="background:#0e0e10">
          <td class="w3-center" style="width:80px">
            <%= data.players.draena.rank %></td>

          <td class="w3-center" style="width:80px">
            <%= data.players.draena.rank_display %>
            </td>

          <td>
            <img src="../../images/flags/1x1/es.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="Spain" title="Spain">
            <a style="border:none" href="/player/draena" target="_blank">
              Draena</a>
          </td>
          <td class="mobile-margin-10">
              <%= data.players.draena.clan %></td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= current_page.data.draena_gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= current_page.data.draena_silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= current_page.data.draena_bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b><%= current_page.data.draena_ranked %></b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b><%= current_page.data.draena_points %></b>
            </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
