---
title: RJZ Xonotic Duel Cup 2 [Mapistafication]
date: "Apr 16"
prize_money: "TBD"
layout: tourney
---

<h1 class="w3-center">RJZ Xonotic Duel Cup 2 [Mapistafication]</h1>

<div class="w3-row" tourney-menu="">
  <a href="javascript:void(0)" onclick="openCity(event, 'London');">
    <div class="w3-third tablink w3-bottombar w3-center w3-border-red w3-padding">
      <b>OVERVIEW</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>PARTICIPANTS &amp; BRACKETS</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>WATCH</b>
    </div>
  </a>
</div>

<div id="London" class="city w3-animate-opacity" style="display:block">
  <div class="w3-row" style="background:#0e0e10;padding:16px 0 16px 0">
    <div class="w3-third">
      <table class="w3-table">
        <tr>
          <td class="w3-border-0">
            <b>
              Game:</b>
          </td>
          <td class="w3-border-0"><img src="../../images/xon-icon.png" alt="Xonotic">
            Xonotic</td>
        </tr>
        <tr>
          <td>
            <b>Tournament Start:</b>
          </td>
          <td style="font-weight:bold">
            Sun, Apr 16, 2023&nbsp; – &nbsp;20 <sup style="font-weight:normal">pm</sup> CET
            <div class="w3-tooltip mobile-tooltip" style="display:inline">
              &nbsp;
              <span style="border-bottom:1px groove"><i class="far fa-clock"></i></span>
              <span style="position:absolute;left:0;bottom:-50px;width:350px" class="w3-text w3-tag w3-padding w3-animate-opacity-faster w3-round">9 EET, 7 WET, 9 MSK, 11 <sup style="font-weight:normal">am</sup> PDT, 2 <sup style="font-weight:normal">pm</sup> EDT
                <br><hr style="margin:6px 0 2px 0">
                <a href="https://www.worldtimebuddy.com/" target="_blank">worldtimebuddy.com</a>&nbsp;&nbsp;<a href="https://timee.io/" target="_blank">timee.io</a>
              </span>
            </div>

          </td>
        </tr>

        <tr>
          <td>
            <b>
              Entry fee:</b>
          </td>
          <td>
            free
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Location:</b>
          </td>
          <td>
            EUROPE</td>
        </tr>
        <tr>
          <td>
            <b>
              Registration:</b>
          </td>
          <td>
              <a href="https://rocketjump.zone/discord" target="_blank"><b>Register via Discord</b></a>
          </td>
        </tr>

      </table>
    </div>

    <div class="w3-col l4">
      <div class="flex-container w3-center">
        <div class="flex-item-results">
          <h2>Final Results</h2>

          <div class="w3-mobile trophy-silver">
            <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
            <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-bronze">
            <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-third w3-container">
      <h3 style="margin-bottom:0">Prize Money Tournament:
        <b>$
          <%= current_page.data.prize_money %>
        </b>
      </h3>
      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>1st place:</b>
            50%
          </p>
        </div>
      <div class="w3-half">
        <p class="w3-mobile-10" style="margin:3px 0 3px 0">
          <b>2nd place:</b>
          35%
        </p>
      </div>
      </div>

      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>3rd place:</b>
            15%
          </p>
        </div>
      </div>

      <a href="/contribute" target="_blank" class="w3-btn w3-round w3-center w3-margin-top w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
        <b>
          <i class="fa-solid fa-gift"></i>
          DONATE
        </b>
      </a>

    </div>

  </div>

  <hr style="margin:0">

  <div class="w3-row w3-auto">

    <div class="w3-half">
      <h2 class="w3-center" id="rules">Rules &amp; FAQ</h2>

      <h3>
        <u>GAME RULES:</u>
      </h3>

      <p>
        <b>Mode:</b>
        Duel<br>
        <b>Time limit:</b>
        10 minutes<br>
        <b>Frag limit:</b>
        none</p>

      <h4>MAP POOL:</h4>
      <p>
        canal, sanctum, tuhma, graphite, quark, warfare, toxicity
      </p>

      <h4>SERVERS:</h4>

      <%= partial "partials/servers" %>

      <h3>
        <u>TOURNAMENT RULES:</u>
      </h3>

      <p>
        <b>Best of 1:</b>
        Ban, Ban, Ban, Ban, Ban, Ban, Remaining map<br>
        <b>Best of 3:</b>
        Ban, Ban, Pick, Pick, Ban, Ban, Tiebreaker
      </p>

      <hr>

      <h3>How to support tournaments?</h3>
      <p>Visit our
        <a href="/contribute" target="_blank">contribute page.</a>
      </p>


    </div>

    <div class="w3-half w3-border w3-round w3-center w3-hover-shadow" style="border:1px solid #242429 !important">
      <h2>Sponsors &amp; Donators</h2>
      <p style="font-weight:bold;margin-bottom:50px">
        -
      </p>

      <h2>Share Tournament</h2>
      <div class="sharethis-inline-share-buttons" style="margin-bottom:20px"></div>
    </div>
  </div>

  <!-- end of Overview-->
</div>

<div id="Paris" class="city w3-animate-opacity" style="display:none;padding-top:16px">
  <div class="w3-center" style="margin-top:20px">
    <span class="w3-tag w3-center mobile-margin-20 w3-hover-white w3-red" id="participants-button" style="font-weight:bold;cursor:pointer;margin-bottom:2.5px">
      HIDE PARTICIPANTS
    </span>

  </div>

  <div class="flex-container w3-center w3-animate-opacity" id="players" style="justify-content:center">

    <div class="flex-item w3-mobile" id="Netherlands">
      <h4 class="w3-center"><%= data.players.dodger.url %></h4>
      <div class="w3-center">
        <%= partial "partials/player/dodger/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.dodger.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.dodger.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.dodger.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.dodger.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Serbia">
      <h4 class="w3-center">
        <a href="/player/rainbow-shadow">Rainbow Shadow</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/rainbowshadow/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.rainbowshadow.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center"><%= data.players.ch4mp.url %></h4>
      <div class="w3-center">
        <%= partial "partials/player/ch4mp/avatar" %>

        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.ch4mp.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Germany">
      <h4 class="w3-center">
        <a href="/player/klaspes">Klaspes</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/klaspes/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.klaspes.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="France">
      <h4 class="w3-center"><%= data.players.jskey.url %></h4>
      <div class="w3-center">
        <%= partial "partials/player/jskey/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.jskey.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.jskey.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.jskey.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.jskey.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center">
        <a href="/player/cupatru">Cupatru</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/cupatru/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.cupatru.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Kyle">
      <h4 class="w3-center">
        <a href="/player/kyle">Kyle</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/kyle/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kyle.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kyle.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kyle.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.kyle.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="USA">
      <h4 class="w3-center">
        <a href="/player/arch">Arch</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/arch/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.arch.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.arch.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.arch.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold">
        <%= data.players.arch.rank %></p>
    </div>

  </div>

  <iframe src="https://rocketjumpzone.challonge.com/2uecysd6/module?theme=7847&multiplier=1.3" style="width:100%;height:700px;margin-top:50px" scrolling="auto"></iframe>
  </div>


<div id="Tokyo" class="city w3-animate-opacity" style="display:none">

  <div id="twitch-embed" style="background:#242429"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script>
    new Twitch.Embed("twitch-embed", {
      width: "100%",
      height: 700,
      channel: "rocketjumpzone",
      theme: "dark",
      autoplay: false
    });
  </script>

  <%= partial "partials/ads" %>

  <hr>

  <div class="w3-row w3-hide-small">
    <div class="w3-half">
      <h2 class="w3-center">Full VOD</h2>

    </div>

    <div class="w3-half w3-center"">
      <h2 class="w3-center">Highlights & Others</h2>

    </div>
  </div>
</div>
