---
title: RJZ Xonotic Duel League 2024
date: "Jan 13"
prize_money: "105"
layout: tourney
---

<h1 class="w3-center">RJZ Xonotic Duel League 2024</h1>

<div class="w3-row" tourney-menu="">
  <a href="javascript:void(0)" onclick="openCity(event, 'London');">
    <div class="w3-third tablink w3-bottombar w3-center w3-border-red w3-padding">
      <b class="w3-large">OVERVIEW</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b class="w3-large">PARTICIPANTS &amp; BRACKETS</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b class="w3-large">WATCH</b>
    </div>
  </a>
</div>

<div id="London" class="city w3-animate-opacity" style="display:block">
  <div class="w3-row" style="background:#0e0e10;padding:16px 0 16px 0">
    <div class="w3-third">
      <table class="w3-table">
        <tr>
          <td class="w3-border-0">
            <b>
              Game:</b>
          </td>
          <td class="w3-border-0"><img src="../../images/xon-icon.png" alt="Xonotic">
            Xonotic</td>
        </tr>
        <tr>
          <td>
            <b>League Start:</b>
          </td>
          <td style="font-weight:bold">
            Sat, Jan 13, 2024&nbsp; – &nbsp;17 CET
            <div class="w3-tooltip mobile-tooltip" style="display:inline">
              &nbsp;
              <span style="border-bottom:1px groove"><i class="far fa-clock"></i></span>
              <span style="position:absolute;left:0;bottom:-50px;width:350px" class="w3-text w3-tag w3-padding w3-animate-opacity-faster w3-round">18 EET, 16 WET, 19 MSK, 11<sup style="font-weight:normal">am</sup> ET, 8<sup style="font-weight:normal">am</sup> PT
                <br><hr style="margin:6px 0 2px 0">
                <a href="https://www.worldtimebuddy.com/" target="_blank">worldtimebuddy.com</a>&nbsp;&nbsp;<a href="https://timee.io/" target="_blank">timee.io</a>
              </span>
            </div>
            <br>
            <small style="font-weight:normal">Qualification round 1</small>
          </td>
        </tr>

        <tr>
          <td>
            <b>League End:</b>
          </td>
          <td style="font-weight:bold">
            April 2024
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Entry fee:</b>
          </td>
          <td>
            free
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Location:</b>
          </td>
          <td>
            EUROPE</td>
        </tr>
        <tr>
          <td>
            <b>
              Registration:</b>
          </td>
          <td>
            <a href="https://rocketjump.zone/discord" target="_blank"><b>Register via Discord</b></a>
          </td>
        </tr>

      </table>
    </div>

    <div class="w3-col l4">
      <div class="flex-container w3-center">
        <div class="flex-item-results">
          <h2>Final Results</h2>

          <div class="w3-mobile trophy-silver">
            <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
            <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-bronze">
            <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-third w3-container">
      <h3 style="margin-bottom:0">Prize Money League:
        <b>&euro;
          <%= current_page.data.prize_money %>
        </b>
      </h3>
      <hr>
      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>1st place:</b>
            &euro;?
          </p>
        </div>
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>2nd place:</b>
            &euro;?
          </p>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>3rd place:</b>
            &euro;?
          </p>
        </div>
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>4th place:</b>
            &euro;?
          </p>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>5th place:</b>
            &euro;?
          </p>
        </div>
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>6th place:</b>
            &euro;?
          </p>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>7th place:</b>
            &euro;?
          </p>
        </div>
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>8th place:</b>
            &euro;?
          </p>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>9th place:</b>
            &euro;?
          </p>
        </div>
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>10th place:</b>
            &euro;?
          </p>
        </div>
      </div>

      <a href="/contribute" target="_blank" class="w3-btn w3-round w3-center w3-margin-top w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
        <b>
          <i class="fa-solid fa-gift"></i>
          DONATE
        </b>
      </a>

    </div>
  </div>

  <hr style="margin:0">

  <div class="w3-row w3-auto">
    <p class="w3-center">Last year we had <b>Dodger</b> winning the 2023 league, are we gonna see new talents and ultimately a new King for the year 2024?<br>
      <span style="border-bottom:1px groove" data-preview-image="../../images/xonotic/rjz-ranks-2024.png">Ranks Given</span>
    </p>
    <hr>

    <div class="w3-half">
      <h2 class="w3-center" id="rules">Rules &amp; FAQ</h2>

      <p>
        <b>Mode:</b>
        Duel<br>
        <b>Time limit:</b>
        10 minutes<br>
        <b>Frag limit:</b>
        none</p>

      <h4>MAP POOL:</h4>
      <p>
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/aerowalk.jpg">Aerowalk</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/finalrage.jpg">Finalrage</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/silentsiege.jpg">Silentsiege</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/bloodyrun.jpg">Bloodyrun</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/stormkeep.jpg">Stormkeep</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/xoylent.jpg">Xoylent</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/fuse.jpg">Fuse</span>
      </p>

      <h4>FORMAT:</h4>

      <ol style="padding-left:30px">
        <li>
          <b>QUALIFICATION -
          </b>
          2 tournaments, each tournament 2 players to qualify, single elimination bracket</li>
        <li>
          <b>ROUND ROBIN -
          </b>
          4 qualified players and 6 invite only players</li>
        <li>
          <b>THE FINALS -
          </b>
          4 top scored players, gauntlet bracket playoffs:<br>
          (4 vs. 3, winner  vs. 2, winner vs. 1 (Bo7 grand final no advantage))</li>
      </ol>

      <p>
        <b>Best of 3:</b>
        Ban, Ban, Pick, Pick, Ban, Ban, Tiebreaker<br>
        <b>Best of 5:</b>
        Ban, Ban, Pick, Pick, Pick, Pick, Tiebreaker<br>
        <b>Best of 7:</b>
        Pick, Pick, Pick, Pick, Pick, Pick, Tiebreaker<br>
      </p>

      <h4>SERVERS:</h4>

      <%= partial "partials/servers" %>

      <hr>

      <h3>Become our sponsor</h3>
      <p>Visit our
        <a href="/contribute" target="_blank">contribute page</a> or contact us.
      </p>

    </div>

    <div class="w3-half w3-border w3-round w3-center w3-hover-shadow" style="border:1px solid #242429 !important">
      <h2>Sponsors &amp; Donators</h2>
      <p style="font-weight:bold;margin-bottom:50px">
        Jooton - Є105
      </p>

      <h2>Share League</h2>
      <div class="sharethis-inline-share-buttons" style="margin-bottom:20px"></div>
    </div>
  </div>

  <!-- end of Overview-->
</div>

<div id="Paris" class="city w3-animate-opacity" style="display:none;padding-top:16px">

  <div class="w3-center" style="margin-top:20px">
    <span class="w3-tag w3-center mobile-margin-20 w3-hover-white w3-red" id="participants-button" style="font-weight:bold;cursor:pointer;margin-bottom:2.5px">
      HIDE PARTICIPANTS
    </span>

  </div>

  <div class="flex-container w3-center w3-animate-opacity" id="players" style="justify-content:center">

    <div class="flex-item w3-mobile" id="Netherlands">
      <h4 class="w3-center"><%= data.players.dodger.url %></h4>
      <div class="w3-center">
        <%= partial "partials/player/dodger/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.dodger.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.dodger.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.dodger.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.dodger.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Serbia">
      <h4 class="w3-center">
        <a href="/player/rainbow-shadow">Rainbow Shadow</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/rainbowshadow/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.rainbowshadow.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center"><%= data.players.ch4mp.url %></h4>
      <div class="w3-center">
        <%= partial "partials/player/ch4mp/avatar" %>

        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.ch4mp.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Germany">
      <h4 class="w3-center">
        <a href="/player/klaspes">Klaspes</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/klaspes/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.klaspes.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center">
        <a href="/player/cupatru">Cupatru</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/cupatru/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.cupatru.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Kyle">
      <h4 class="w3-center">
        <a href="/player/kyle">Kyle</a>
      </h4>
      <div class="w3-center">
        <%= partial "partials/player/kyle/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kyle.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kyle.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kyle.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.kyle.rank %></p>
    </div>


  </div>

  <h4 style="margin-top:50px">QUALIFICATION (1/4) - Bo3 all rounds</h4>
  <iframe src="https://brackethq.com/b/e665/embed/" width="100%" height="550" frameborder="0"></iframe>

  <h4 style="margin-top:50px">ROUND ROBIN - Bo3 all rounds</h4>
  <iframe src="https://rocketjumpzone.challonge.com/95owtziq/module?theme=7847&multiplier=1.3" style="width:100%;height:1100px" scrolling="auto"></iframe>

  <div class="w3-center">
    <h4>Final Results</h4>
    TBD
  </div>

  <div class="w3-center" style="margin-top:50px">
    <h4>THE FINALS - GUANTLET BRACKET - Bo5 all rounds, Bo7 GF</h4>
  </div>

  <div class="w3-center">
    <div class="w3-content">
      <div class="flex-container" style="justify-content:space-around">

        <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <h5 class="w3-center">Grand Finals</h5>
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>?</h4>
              <hr style="margin-top:0">
              <h4>?</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>-</h4>
              <hr style="margin-top:0">
              <h4>-</h4>
            </div>
          </div>
        </div>


      </div>



<div class="flex-container w3-margin-top" style="justify-content:space-around">
      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
        <h5 class="w3-center">Round 2 - 3rd vs 2nd</h5>
        <div class="w3-row">
          <div class="w3-twothird">
            <h4>?</h4>
            <hr style="margin-top:0">
            <h4>?</h4>
          </div>

          <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
            <h4>-</h4>
            <hr style="margin-top:0">
            <h4>-</h4>
          </div>
        </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
        <h5 class="w3-center">Round 1 - 3rd vs 4th</h5>
        <div class="w3-row">
          <div class="w3-twothird">
            <h4>?</h4>
            <hr style="margin-top:0">
            <h4>?</h4>
          </div>

          <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
            <h4>-</h4>
            <hr style="margin-top:0">
            <h4>-</h4>
          </div>
        </div>
      </div>
</div>
    </div>
  </div>
</div>

<div id="Tokyo" class="city w3-animate-opacity" style="display:none">

  <div id="twitch-embed" style="background:#242429"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script>
    new Twitch.Embed("twitch-embed", {
      width: "100%",
      height: 700,
      channel: "rocketjumpzone",
      theme: "dark",
      autoplay: false
    });
  </script>

  <%= partial "partials/ads" %>

  <hr>

  <div class="w3-row-padding w3-hide-small">
    <div class="w3-half">
      <h2 class="w3-center">TOP</h2>
      <p>
        TBA
      </p>
    </div>

    <div class="w3-half w3-center" ">
      <h2 class="w3-center">FULL VODS & Highlights</h2>
      <p>
        TBA
      </p>
    </div>
  </div>
</div>
