---
title: ZS x RJZ Xonotic Duel Cup 1
date: "May 1"
prize_money: 250
layout: tourney
---

<h1 class="w3-center">ZS x RJZ Xonotic Duel Cup 1</h1>

<div class="w3-row" tourney-menu="">
  <a href="javascript:void(0)" onclick="openCity(event, 'London');">
    <div class="w3-third tablink w3-bottombar w3-center w3-border-red w3-padding">
      <b>OVERVIEW</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>PARTICIPANTS &amp; BRACKETS</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>MEDIA</b>
    </div>
  </a>
</div>

<div id="London" class="city w3-animate-opacity" style="display:block">
  <div class="w3-row" style="background:#0e0e10;padding:16px 0 16px 0">
    <div class="w3-col l4">
      <table class="w3-table">
        <tr>
          <td class="w3-border-0">
            <b>
              Game:</b>
          </td>
          <td class="w3-border-0"><img src="../../images/xon-icon.png" alt="Xonotic">
            Xonotic</td>
        </tr>
        <tr>
          <td>
            <b>Tournament Start:</b>
          </td>
          <td style="font-weight:bold">
            May 1st, 2021 - 8 <sup style="font-weight:normal">pm</sup> CEST / 2 <sup style="font-weight:normal">pm</sup> EDT
            <div class="w3-tooltip mobile-tooltip" style="display:inline">
              <span style="border-bottom:1px groove">&nbsp;<i class="far fa-clock"></i></span>
              <span style="position:absolute;left:0;bottom:-50px;width:300px" class="w3-text w3-tag w3-padding w3-animate-opacity-faster w3-round">9 EEST, 7 WEST, 9 MSK, 11 <sup style="font-weight:normal">am</sup> PDT
                <br><hr style="margin:6px 0 2px 0">
                <a href="https://www.worldtimebuddy.com/" target="_blank">worldtimebuddy.com</a>&nbsp;&nbsp;<a href="https://timee.io/" target="_blank">timee.io</a>
              </span>
            </div>

            <br>
            <small style="font-weight:normal">check in opens 30 mins before start</small>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Entry fee:</b>
          </td>
          <td>
            free
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Location:</b>
          </td>
          <td>
            EUROPE</td>
        </tr>
        <tr>
          <td>
            <b>
              Registration:</b>
          </td>
          <td>
            <b>Tournament Finished</b>
          </td>
        </tr>

      </table>
    </div>

    <div class="w3-col l4">
      <div class="flex-container w3-center">
        <div class="flex-item-results">
          <h2>Final Results</h2>

          <div class="w3-mobile trophy-silver">
            <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'RAINBOW SHADOW' %><br>
            <abbr title="RAINBOW SHADOW">RAINBOW SHADOW</abbr>
          </div>

          <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
            <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
            <abbr title="Dodger">Dodger</abbr>
          </div>

          <div class="w3-mobile trophy-bronze">
            <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
            <abbr title="Ch4mp">Ch4mp</abbr>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-col l4 w3-container">
      <h3>Prize Money Tournament:
        <b>$
          <%= current_page.data.prize_money %></b>
      </h3>
      <p class="w3-mobile-10">
        <b>1st place:</b>
        50%
      </p>
      <p class="w3-mobile-10">
        <b>2nd place:</b>
        30%
      </p>
      <p class="w3-mobile-10">
        <b>3rd place:</b>
        20%
      </p>

    </div>
  </div>

  <hr style="margin:0">

  <div class="w3-row w3-auto">
    <div class="w3-half">

      <h2 class="w3-center" id="rules">Rules &amp; FAQ</h2>

      <p>It's time to unleash the dreaming beast inside you and bring the best of you to the scene, are you ready?</p>
      <hr>
      <p>All participants must download the <a href="https://zensports.com/">ZenSports App</a> and register there,<br> (use our sign up code: <b>RJZONE</b> to get a free start bonus), then navigate<br> to more -> play and join the tournament.</p>

      <p>Betting will be enabled in the ZenSports app for the last match - FINALS.</p>

      <h3>
        <u>GAME RULES:</u>
      </h3>

      <p>
        <b>Mode:</b>
        Duel<br>
        <b>Time limit:</b>
        10 minutes<br>
        <b>Frag limit:</b>
        none</p>

      <h4>MAP POOL:</h4>
      <p>
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/aerowalk.jpg">Aerowalk</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/darkzone.jpg">Darkzone</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/silentsiege.jpg">Silentsiege</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/finalrage.jpg">Finalrage</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/stormkeep.jpg">Stormkeep</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/downer.jpg">Downer</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/maps/fuse.jpg">Fuse</span>
      </p>

      <h4>SERVERS:</h4>

      <%= partial "partials/servers" %>

      <h3>
        <u>TOURNAMENT RULES:</u>
      </h3>

      <p>
        <b>Structure:</b>
        Double elimination<br>
        <b>Max Slots:</b>
        16<br>
        <b>Forfeit:</b>
        10 mins delay<br>
        <b>Admins:</b>
        Ch4mp, kanyeshrayz
      </p>

      <p>
        <b>Semifinals:</b>
        Best of 3<br>
        <b>Loser Bracket Finals:</b>
        Best of 3<br>
        <b>Finals:</b>
        Best of 5<br>
        <b>Everything else is Best of 1</b>
      </p>

      <p>
        <b>Best of 1:</b>
        Ban, Ban, Ban, Ban, Ban, Ban, Remaining map<br>
        <b>Best of 3:</b>
        Ban, Ban, Pick, Pick, Ban, Ban, Tiebreaker<br>
        <b>Best of 5:</b>
        Ban (L), Ban (W), Pick (L), Pick (W), Pick (L), Pick (W), Tiebreaker<br><br>
        There's no map advantage nor bracket reset,<br>Winner Bracket Winner gets map decider advantage.
      </p>

      <hr>

      <h3>First time in a tournament?</h3>
      <p>You might want to check out our
        <a href="/blog/tournament-guides/" target="_blank">tourmanet guides</a> article and <a href="/policy">policy.</a>
      </p>

      <h3>NA players?</h3>
      <p>NA players are welcome to join this tournament but the server will be either<br> EU WEST or NA EAST (if eu player allows).
      </p>

      <h3>How to support tournaments?</h3>
      <p>Visit our
        <a href="/contribute" target="_blank">contribute page.</a>
      </p>

    </div>

    <div class="w3-half w3-center">
      <h2>Sponsors &amp; Donators</h2>
      <a href="https://zensports.com/" style="border:none">
        <%= image_tag 'zensports-logo-white.png', class:'w3-opacity w3-hover-opacity-off w3-margin-top mobile-margin-10 w3-image', style: 'width:60%;height:60%', alt: 'Zensports Logo', title: 'ZenSports' %>
        </a>
      <p>$250 - <a href="https://zensports.com/">ZenSports</a></p>

      <h2>Contact</h2>
      <a href="https://rocketjump.zone/discord" target="_blank">
        <div class="join-us">
          <i class="fab fa-3x fa-discord"></i>
          <p>Join Discord</p>
        </div>
      </a>

      <h2>Share Tournament</h2>
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>

  <!-- end of Overview-->
</div>

<div id="Paris" class="city w3-animate-opacity" style="display:none;padding-top:16px">

<div class="w3-right">
  <span class="w3-tag w3-right mobile-margin-20-full w3-hover-white w3-red" id="participants-button" style="font-weight:bold;cursor:pointer;margin-left:2.5px">
    HIDE PARTICIPANTS
  </span>
</div>

<div class="clearfix"></div>

<div class="flex-container w3-animate-opacity" id="participants" style="justify-content:center">


  <div class="flex-item w3-mobile xon dbt" id="Netherlands">
    <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.dodger.money %></p>
    <h4 class="w3-center"><%= data.players.dodger.url %></h4>
    <div class="w3-center">
      <i class="fas fa-trophy trophy-gold"></i>
      <b>
        <sup><%= data.players.dodger.trophies.gold %></sup>
      </b>
      <i class="fas fa-trophy trophy-silver"></i>
      <b>
        <sup><%= data.players.dodger.trophies.silver %></sup>
      </b>
      <i class="fas fa-trophy trophy-bronze"></i>
      <b>
        <sup><%= data.players.dodger.trophies.bronze %></sup>
      </b>
    </div>
    <hr style="display:none" id="rank">
    <p id="rank" style="margin:0;display:none;font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.dodger.rank %></p>
  </div>

  <div class="flex-item w3-mobile qc dbt xon" id="Slovakia">
    <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.ch4mp.money %></p>
    <h4 class="w3-center"><%= data.players.ch4mp.url %></h4>
    <div class="w3-center">
      <i class="fas fa-trophy trophy-gold"></i>
      <b>
        <sup><%= data.players.ch4mp.trophies.gold %></sup>
      </b>
      <i class="fas fa-trophy trophy-silver"></i>
      <b>
        <sup><%= data.players.ch4mp.trophies.silver %></sup>
      </b>
      <i class="fas fa-trophy trophy-bronze"></i>
      <b>
        <sup><%= data.players.ch4mp.trophies.bronze %></sup>
      </b>
    </div>
    <hr style="display:none" id="rank">
    <p id="rank" style="margin:0;display:none;font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.ch4mp.rank %></p>
  </div>

</div>


<iframe src="https://rocketjumpzone.challonge.com/beeykcsg/module?theme=7847&multiplier=1.3" style="width:100%;height:900px;margin-top:50px" scrolling="auto"></iframe>



</div>

<div id="Tokyo" class="city w3-animate-opacity" style="display:none">

  <div id="twitch-embed" style="background:#242429"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script>
    new Twitch.Embed("twitch-embed", {
      width: "100%",
      height: 700,
      channel: "zensports",
      theme: "dark",
      autoplay: false
    });
  </script>

  <h4 style="margin:50px 0 0 0">DONATION (PayPal / Cards)</h4>
  <p style="margin-top:0">
    <small>All donations show alerts during the stream</small>
  </p>
  <a href="https://rocketjump.zone/donate" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
    <b>
      <i class="far fa-credit-card"></i>
      <i class="fab fa-paypal"></i>
      DONATE VIA STREAMLABS
    </b>
  </a>
  <hr>

  <div class="w3-row w3-hide-small">
    <div class="w3-half w3-padding">
      <h2 class="w3-center">Granf Finals</h2>
      <iframe src="https://www.youtube.com/embed/-j0YFxNJ7-8" style="width:100%;height:640px" allowfullscreen></iframe>
    </div>

    <div class="w3-half w3-padding">
      <h2 class="w3-center">Highlights & Others</h2>
      <iframe src="https://www.youtube.com/embed/04-mN5DD4tY" style="width:100%;height:640px" allowfullscreen></iframe>
      <hr>
      <a href="https://www.youtube.com/watch?v=GD61XiHDBgI" target="_blank">Dodger Interview</a>
    </div>
  </div>
</div>
