---
title: ZS x RJZ Xonotic 2v2 TDM Cup 3
date: "Sat 17"
prize_money: 500
layout: tourney
---

<h1 class="w3-center">ZS x RJZ Xonotic 2v2 TDM Cup 3</h1>

<div class="w3-row" tourney-menu="">
  <a href="javascript:void(0)" onclick="openCity(event, 'London');">
    <div class="w3-third tablink w3-bottombar w3-center w3-border-red w3-padding">
      <b>OVERVIEW</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>PARTICIPANTS &amp; BRACKETS</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>MEDIA</b>
    </div>
  </a>
</div>

<div id="London" class="city w3-animate-opacity" style="display:block">
  <div class="w3-row" style="background:#0e0e10;padding:16px 0 16px 0">
    <div class="w3-col l4">
      <table class="w3-table">
        <tr>
          <td class="w3-border-0">
            <b>
              Game:</b>
          </td>
          <td class="w3-border-0"><img src="../../images/xon-icon.png" alt="Xonotic">
            Xonotic</td>
        </tr>
        <tr>
          <td>
            <b>Tournament Start:</b>
          </td>
          <td style="font-weight:bold">
            Sun, Oct 17, 2021&nbsp; – &nbsp;7 <sup style="font-weight:normal">pm</sup> CEST
            <div class="w3-tooltip mobile-tooltip" style="display:inline">
              &nbsp;
              <span style="border-bottom:1px groove"><i class="far fa-clock"></i></span>
              <span style="position:absolute;left:0;bottom:-50px;width:350px" class="w3-text w3-tag w3-padding w3-animate-opacity-faster w3-round">8 EEST, 6 WEST, 8 MSK, 10 <sup style="font-weight:normal">am</sup> PDT, 1 <sup style="font-weight:normal">pm</sup> EDT
                <br><hr style="margin:6px 0 2px 0">
                <a href="https://www.worldtimebuddy.com/" target="_blank">worldtimebuddy.com</a>&nbsp;&nbsp;<a href="https://timee.io/" target="_blank">timee.io</a>
              </span>
            </div>

            <br>
            <small style="font-weight:normal">check in opens 30 mins before start</small>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Tournament End:</b>
          </td>
          <td>
            4 hrs to finish tournament
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Location:</b>
          </td>
          <td>
            EUROPE</td>
        </tr>
        <tr>
          <td>
            <b>
              Registration:</b>
          </td>
          <td>
              <a href="https://rocketjump.zone/discord" target="_blank"><b>Register via Discord</b></a>
          </td>
        </tr>

      </table>
    </div>

    <div class="w3-col l4">
      <div class="flex-container w3-center">
        <div class="flex-item-results">
          <h2>Final Results</h2>

          <div class="w3-mobile trophy-silver">
            <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
            <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-bronze">
            <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-col l4 w3-container">
      <h3 style="margin-bottom:0">Prize Money Tournament:
        <b>$
          <%= current_page.data.prize_money %>
        </b>
      </h3>
      <p style="margin:0">(paid in crypto of choice - USDT, Bitcoin, ICX, or SPORTS)</p>
      <hr>
      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>1st place:</b>
            $250
          </p>
        </div>
      <div class="w3-half">
        <p class="w3-mobile-10" style="margin:3px 0 3px 0">
          <b>2nd place:</b>
          $150
        </p>
      </div>
      </div>

      <div class="w3-row">
        <div class="w3-half">
          <p class="w3-mobile-10" style="margin:3px 0 3px 0">
            <b>3rd place:</b>
            $100
          </p>
        </div>
      </div>

    </div>
  </div>

  <hr style="margin:0">

  <div class="w3-row w3-auto">

    <%= image_tag 'promo/x2v2-3.jpg', class: 'w3-image', alt: 'promo banner' %>
      <hr>

    <div class="w3-half">
      <h2 class="w3-center" id="rules">Rules &amp; FAQ</h2>

      <h3>
        <u>GAME RULES:</u>
      </h3>

      <p>
        <b>Mode:</b>
        2v2 TDM<br>
        <b>Time limit:</b>
        15 minutes<br>
        <b>Frag limit:</b>
        75</p>

      <h4>MAP POOL:</h4>
      <p>
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/silentsiege.jpg">Silentsiege</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/stormkeep.jpg">Stormkeep</span>,
        Bloodcovenant,
        Opium, Minibromine
      </p>

      <h4>SERVERS:</h4>

      <div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
      <p><a href="https://stats.xonotic.org/server/27992" target="_blank">Duel 1 - Frankfurt | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>172.105.76.71</kbd>
      </p>

      <p><a href="http://stats.xonotic.org/server/28424" target="_blank">Duel 2 - London | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>212.71.239.248</kbd>
      </p>

      <p><a href="http://stats.xonotic.org/server/28624" target="_blank">Duel 3 - New York | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>45.79.161.168</kbd>
      </p>

      <p><a href="http://stats.xonotic.org/server/30014" target="_blank">Duel 4 - Frankfurt | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>192.46.234.64</kbd>
      </p>

      <p><a href="http://stats.xonotic.org/server/30019" target="_blank">Duel 5 - London | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>139.162.227.96</kbd>
      </p>

      <p><a href="http://stats.xonotic.org/server/30016" target="_blank">Duel 6 - Frankfurt | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>172.104.151.95</kbd>
      </p>

      <p><a href="http://stats.xonotic.org/server/30015" target="_blank">Duel 7 - Frankfurt | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>192.46.232.87</kbd>
      </p>
      <p><a href="https://stats.xonotic.org/server/31049" target="_blank">Duel 8 - Frankfurt | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>194.195.243.83</kbd>
      </p>
      <p><a href="https://stats.xonotic.org/server/31068" target="_blank">Duel 9 - London | ZS x RJZ Tournament</a> -&nbsp;
        <kbd>88.80.186.5</kbd>
      </p>
      </div>

      <h3>
        <u>TOURNAMENT RULES:</u>
      </h3>

      <p>
        <b>Structure:</b>
        Double elimination<br>
        <b>Max Slots:</b>
        8<br>
        <b>Forfeit:</b>
        10 mins delay<br>
        <b>Admins:</b>
        Ch4mp, kanyeshrayz
      </p>

      <p>
        <b>Best of 1:</b>
        Ban, Ban, Ban, Ban, Remaining map<br>
        <b>Best of 3:</b>
        Ban, Ban, Pick, Pick, Tiebreaker<br>
        <b>Best of 5:</b>
        Pick (L), Pick (W), Pick (L), Pick (W), Tiebreaker<br><br>
        Winner Bracket Winner gets map decider advantage.
      </p>

      <hr>

      <h3>How to play?</h3>
      <p>See who your opponent in the bracket is, join a server, invite your opponent and play your game.<br>You might want to check out our
        <a href="/blog/tournament-guides/" target="_blank">tourmanet guides</a> article and <a href="/policy">policy.</a>
      </p>

      <h3>NA players?</h3>
      <p>NA players are welcome to join this tournament but the server will be either<br> EU WEST or NA EAST (if eu player allows).
      </p>

      <h3>How to support tournaments?</h3>
      <p>Visit our
        <a href="/contribute" target="_blank">contribute page.</a>
      </p>

    </div>

    <div class="w3-half w3-center">
      <h2>Sponsors &amp; Donators</h2>
      <a href="https://zensports.com/" style="border:none">
        <%= image_tag 'zensports-logo-white.png', class:'w3-opacity w3-hover-opacity-off w3-margin-top mobile-margin-10 w3-image', style: 'width:60%;height:60%', alt: 'Zensports Logo', title: 'ZenSports' %>
        </a>
      <p style="font-weight:bold">$<%= current_page.data.prize_money %>
      </p>

      <h2>Contact</h2>
      <a href="https://rocketjump.zone/discord" target="_blank">
        <div class="join-us">
          <i class="fab fa-3x fa-discord"></i>
          <p>Join Discord</p>
        </div>
      </a>

      <h2>Share Tournament</h2>
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>

  <!-- end of Overview-->
</div>

<div id="Paris" class="city w3-animate-opacity" style="display:none;padding-top:16px">

  <div class="flex-container w3-animate-opacity" id="participants" style="justify-content:center">

    <div class="flex-item w3-center w3-mobile">
      <%= image_tag 'bigbiceps-logo.jpg', class: 'w3-image', style:'width:185px;height:185px', alt: 'Big Biceps' %>
      <h4>Big Biceps</h4>
      <hr>
      <p><a href="/player/ch4mp/" class="link-white">Ch4mp</a></p>
      <p><a href="/player/rainbowshadow/" class="link-white">Rainbow Shadow</a></p>
    </div>

    <div class="flex-item w3-center w3-mobile">
      <%= image_tag 'metsu-logo.jpg', class: 'w3-image', style:'width:185px;height:185px', alt: 'Metsu' %>
      <h4>Metsu</h4>
      <hr>
      <p><a href="/player/zeroql/" class="link-white">ZeRoQL</a></p>
      <p><a href="/player/kojak/" class="link-white">Kojak</a></p>
    </div>

    <div class="flex-item w3-center w3-mobile">
      <%= image_tag 'karmaclan-logo.png', class: 'w3-image', style:'width:185px;height:185px', alt: 'Karma Clan' %>
      <h4>Karma Clan</h4>
      <hr>
      <p><a href="/player/jskey/" class="link-white">JSkey</a></p>
      <p><a href="/player/cupatru/" class="link-white">Cupatru</a></p>
    </div>

    <div class="flex-item w3-center w3-mobile">
      <h4>CLINT</h4>
      <hr>
      <p><a href="/player/dodger/" class="link-white">Dodger</a></p>
      <p><a href="/player/klaspes/" class="link-white">Klaspes</a></p>
    </div>

    <div class="flex-item w3-center w3-mobile">
      <h4>[BOT]</h4>
      <hr>
      <p>Packer</p>
      <p>Hotdog</p>
    </div>

  </div>


<iframe src="https://rocketjumpzone.challonge.com/nfo19hov/module?theme=7847&multiplier=1.3" style="width:100%;height:1100px;margin-top:50px" scrolling="auto"></iframe>



</div>

<div id="Tokyo" class="city w3-animate-opacity" style="display:none">

  <div id="twitch-embed" style="background:#242429"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script>
    new Twitch.Embed("twitch-embed", {
      width: "100%",
      height: 700,
      channel: "zensports",
      theme: "dark",
      autoplay: false
    });
  </script>

  <div class="w3-row w3-hide-small">
    <div class="w3-half">
      <h2 class="w3-center">Full VOD</h2>
      TBA
    </div>

    <div class="w3-half">
      <h2 class="w3-center">Highlights & Others</h2>
    </div>
  </div>
</div>
