---
title: &title "Xonotic Legends #2"
date: 2021-10-04 UTC
date_update: Oct 5 2021
tags: Xonotic, Xonotic Legends
layout: blog
author: Ch4mp
disqus_identifier: /xonotic-legends-2
disqus_title: *title
disqus_url: https://rocketjump.zone/xonotic-legends-2
---


<h1 class="w3-center">Xonotic Legends #2</h1>
<p class="w3-center">
In these series we ask the top players a question who participate in ZS x RJZ Tournaments.
</p>
<hr>

<div class="w3-row">
  <div class="w3-quarter">
    <h1><%= data.players.dodger.name %></h1>
    <%= partial "partials/player/dodger/avatar" %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.dodger.rank %></span>
    <br>Xonotic Since 2015</p>
    Profile:&nbsp;
    <a href="/player/dodger" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.dodger.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.dodger.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.dodger.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 9</h4>

    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>JSkey</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>ZeRoQL</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>Kojak</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>ZeRoQL</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>10</h4>
              <hr style="margin-top:0">
              <h4>4</h4>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> What do you think is the weakness of <b>Kojak</b></h4>
<p>In my opinion he's quite slow with reacting on certain situations. He's absolutely dominating in control, but lacks speed and awareness when out of control. Also he gives up quite early at times. Like a 9 - 3 game with 5 minutes left, come on =D</p>
</div>
<hr>



<div class="w3-row">
  <div class="w3-quarter">
    <h1>Kojak</h1>
    <%= partial "partials/player/kojak/avatar" %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.kojak.rank %></span>
    <br>Xonotic Since 2011</p>
    Profile:&nbsp;
    <a href="/player/kojak" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.kojak.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.kojak.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.kojak.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 9</h4>

    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>Klaspes</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>1</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>Rainbow Shadow</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>Dodoger</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>0</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>ZeRoQL</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>1</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

    </div>
  </div>

</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> What do you think is the weakness of <b>Dodger</b></h4>
<p>Girlfriend.
</p>
</div>
<hr>


<div class="w3-row">
  <div class="w3-quarter">
    <h1>Rainbow Shadow</h1>
    <%= partial "partials/player/rainbowshadow/avatar" %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.rainbowshadow.rank %></span>
    <br>Xonotic Since 2018</p>
    Profile:&nbsp;
    <a href="/player/rainbow-shadow" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 9</h4>

    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Rainbow Shadow</h4>
              <hr style="margin-top:0">
              <h4>Cupatru</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>0</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Rainbow Shadow</h4>
              <hr style="margin-top:0">
              <h4>Ch4mp</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>0</h4>
              <hr style="margin-top:0">
              <h4>7</h4>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> What do you think is the weakness of <b>Kojak</b></h4>
<p>RS Was very vulgar, couldn't post this.</p>
</div>
<hr>




<div class="w3-row">
  <div class="w3-quarter">
    <h1>ZeRoQL</h1>
    <%= partial "partials/player/zeroql/avatar" %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.zeroql.rank %></span>
    <br>Xonotic Since 2011</p>
    Profile:&nbsp;
    <a href="/player/zeroql" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.zeroql.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.zeroql.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.zeroql.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 9</h4>
    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>ZeRoQL</h4>
              <hr style="margin-top:0">
              <h4>Ch4mp</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>1</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>ZeRoQL</h4>
              <hr style="margin-top:0">
              <h4>Dodger</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>0</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>ZeRoQL</h4>
              <hr style="margin-top:0">
              <h4>Klaspes</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>10</h4>
              <hr style="margin-top:0">
              <h4>9</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>ZeRoQL</h4>
              <hr style="margin-top:0">
              <h4>Ch4mp</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>23</h4>
              <hr style="margin-top:0">
              <h4>8</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>ZeRoQL</h4>
              <hr style="margin-top:0">
              <h4>Kojak</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>1</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>ZeRoQL</h4>
              <hr style="margin-top:0">
              <h4>Dodger</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>4</h4>
              <hr style="margin-top:0">
              <h4>10</h4>
            </div>
          </div>
      </div>

    </div>
  </div>

</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> What do you think is the weakness of <b>Rainbow Shadow</b></h4>
<p>I think Rainbow Shadow's weakness is his rushing, he is aggressive. Even if he is losing a game, he will be constantly attacking you until he gets a lead. He is a young player and he needs experience to become next Dodger.</p>
</div>
<hr>


<div class="w3-row">
  <div class="w3-quarter">
    <h1>Ch4mp</h1>
    <%= partial "partials/player/ch4mp/avatar" %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.ch4mp.rank %></span>
    <br>Xonotic Since 2015</p>
    Profile:&nbsp;
    <a href="/player/ch4mp" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.ch4mp.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.ch4mp.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.ch4mp.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 9</h4>

    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>ZeRoQL</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>1</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>JSkey</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>33</h4>
              <hr style="margin-top:0">
              <h4>12</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>Rainbow Shadow</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>7</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>ZeRoQL</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>8</h4>
              <hr style="margin-top:0">
              <h4>23</h4>
            </div>
          </div>
      </div>

    </div>
  </div>

</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> What do you think is the weakness of <b>ZeRoQL</b></h4>
<p>His top weapons are Vortex and LG, so if I control those weapons well then he becomes an easy prey.</p>
</div>
<hr>
