---
title: &title "Xonotic Legends #1"
date: 2021-09-07 UTC
date_update: Sep 9 2021
tags: Xonotic, Xonotic Legends
layout: blog
author: Ch4mp
disqus_identifier: /xonotic-legends-1
disqus_title: *title
disqus_url: https://rocketjump.zone/xonotic-legends-1
---


<h1 class="w3-center">Xonotic Legends #1</h1>
<p class="w3-center">
In these series we ask the top players a question who participate in ZS x RJZ Tournaments.
</p>
<hr>

<div class="w3-row">
  <div class="w3-quarter">
    <h1><%= data.players.dodger.name %></h1>
    <%= data.players.dodger.avatar %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.dodger.rank %></span>
    <br>Xonotic Since 2015</p>
    Profile:&nbsp;
    <a href="/player/dodger" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.dodger.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.dodger.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.dodger.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 8</h4>

    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>Wolf-Snipe</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>Ch4mp</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>Kojak</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Dodger</h4>
              <hr style="margin-top:0">
              <h4>Kojak</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>3</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> Which player is the biggest threat to you?</h4>
<p>Judging by the players playing currently, I'd say kojn is the biggest threat, and reason for that is that he understands duel the best out of everyone else playing atm. So I have to play more mind games with him and using items as bait rather than rushing in everywhere.</p>
</div>
<hr>



<div class="w3-row">
  <div class="w3-quarter">
    <h1>Kojak</h1>
    <i class="fas fa-8x fa-user"></i>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.kojak.rank %></span>
    <br>Xonotic Since 2011</p>
    Profile:&nbsp;
    <a href="/player/kojak" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.kojak.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.kojak.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.kojak.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 8</h4>

    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>DEFENSE</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>Cupatru</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>Dodoger</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>0</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>Ch4mp</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>1</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Kojak</h4>
              <hr style="margin-top:0">
              <h4>Dodger</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>0</h4>
              <hr style="margin-top:0">
              <h4>3</h4>
            </div>
          </div>
      </div>

    </div>
  </div>

</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> Which player is the biggest threat to you?</h4>
<p>Which player is the biggest threat to you? I can only be beaten by myself, therefore I fear myself!
Joke
</p>
<p>
Biggest threat to me. Ch4mp and Dodger in duel, because I'm still struggling to find consistency. Ch4mp plays the best defensively (rockets in particular), Dodger is the biggest threat overall as he knows all the spawn points and how to hit and force them across ALL the maps.<br>I don't have this knowledge yet, if I can keep playing consistenly for the next 3-6 months then I should be able to compete.<br>
I've found Rainbow Shadow the easiest to play out of the top 5 players to date, he has a style that I don't seem to struggle with currently but we need to play more to see if that applies across more maps then we've played.</p>
</div>
<hr>


<div class="w3-row">
  <div class="w3-quarter">
    <h1>Rainbow Shadow</h1>
    <%= image_tag 'avatar/rainbow-shadow.png', class:'w3-mobile w3-circle player-avatar', alt: 'Rainbow Shadow' %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.rainbowshadow.rank %></span>
    <br>Xonotic Since 2018</p>
    Profile:&nbsp;
    <a href="/player/rainbow-shadow" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 8</h4>

    <p>didn't participate</p>
  </div>
</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> Which player is the biggest threat to you?</h4>
<p>Only "threat" to me is Dodger^, cuz he's just the best player, everyone else sucks ass.</p>
</div>
<hr>



<div class="w3-row">
  <div class="w3-quarter">
    <h1>Ch4mp</h1>
    <%= image_tag 'avatar/ch4mp.png', class:'w3-mobile w3-circle player-avatar', alt: 'Ch4mp' %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.ch4mp.rank %></span>
    <br>Xonotic Since 2015</p>
    Profile:&nbsp;
    <a href="/player/ch4mp" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.ch4mp.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.ch4mp.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.ch4mp.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 8</h4>

    <div class="flex-container" style="justify-content:flex-end">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>JSkey</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>Dodger</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>0</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>DEFENSE</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>Cupatru</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>2</h4>
              <hr style="margin-top:0">
              <h4>0</h4>
            </div>
          </div>
      </div>

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <div class="w3-row">
            <div class="w3-twothird">
              <h4>Ch4mp</h4>
              <hr style="margin-top:0">
              <h4>Kojak</h4>
            </div>

            <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
              <h4>1</h4>
              <hr style="margin-top:0">
              <h4>2</h4>
            </div>
          </div>
      </div>

    </div>
  </div>

</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> Which player is the biggest threat to you?</h4>
<p>I really don't fear anybody, a true champ can fight anytime and anywhere. The biggest threat to me however is Dodger and Kojak.
Dodger is just Einstein and Kojak is a very patient player with great item timing and map control.</p>
</div>
<hr>





<div class="w3-row">
  <div class="w3-quarter">
    <h1>ZeRoQL</h1>
    <%= image_tag 'avatar/zeroql.jpg', class:'w3-mobile w3-circle player-avatar', alt: 'ZeroQL' %>
    <p><b>Grand Master</b>&nbsp;&nbsp;<span style="font-weight:bold"><i class="fas fa-bolt"></i> <%= data.players.zeroql.rank %></span>
    <br>Xonotic Since 2011</p>
    Profile:&nbsp;
    <a href="/player/zeroql" style="border:none">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>

    <p>Trophies:&nbsp;
    <i class="fas fa-trophy trophy-gold"></i>
    <b>
      <sup><%= data.players.zeroql.trophies.gold %></sup>
    </b>
    <i class="fas fa-trophy trophy-silver"></i>
    <b>
      <sup><%= data.players.zeroql.trophies.silver %></sup>
    </b>
    <i class="fas fa-trophy trophy-bronze"></i>
    <b>
      <sup><%= data.players.zeroql.trophies.bronze %></sup>
    </b>
    </p>
  </div>


  <div class="w3-threequarter w3-center">
    <h4>ZS x RJZ Xonotic Duel Cup 8</h4>
    <p>didn't participate</p>
  </div>

</div>

<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<h4><i class="fas fa-question-circle"></i> Which player is the biggest threat to you?</h4>
<p>Dodger, cuz he is too smart :smile:</p>
</div>
<hr>
