---
title: &title "Xonotic Duel League 2022"
date: 2022-01-17 UTC
date_update: Jan 17 2022
tags: Xonotic
layout: blog
author: Ch4mp
disqus_identifier: /xonotic-duel-league-2022
disqus_title: *title
disqus_url: https://rocketjump.zone/blog/xonotic-duel-league-2022


dodger_gold: 0
dodger_silver: 0
dodger_bronze: 0
dodger_matches: "0/0"
dodger_points: "0"

kojak_gold: 0
kojak_silver: 0
kojak_bronze: 0
kojak_matches: "0/0"
kojak_points: "0"

rainbowshadow_gold: 0
rainbowshadow_silver: 0
rainbowshadow_bronze: 0
rainbowshadow_matches: "0/0"
rainbowshadow_points: "0"

zeroql_gold: 0
zeroql_silver: 0
zeroql_bronze: 0
zeroql_matches: "0/0"
zeroql_points: "0"

ch4mp_gold: 0
ch4mp_silver: 0
ch4mp_bronze: 0
ch4mp_matches: "0/0"
ch4mp_points: "0"

klaspes_gold: 0
klaspes_silver: 0
klaspes_bronze: 0
klaspes_matches: "0/0"
klaspes_points: "0"

wolfsnipe_gold: 0
wolfsnipe_silver: 0
wolfsnipe_bronze: 0
wolfsnipe_matches: "0/0"
wolfsnipe_points: "0"

draena_gold: 0
draena_silver: 0
draena_bronze: 0
draena_matches: "0/0"
draena_points: "0"

cupatru_gold: 0
cupatru_silver: 0
cupatru_bronze: 0
cupatru_matches: "0/0"
cupatru_points: "0"

jskey_gold: 0
jskey_silver: 0
jskey_bronze: 0
jskey_matches: "0/0"
jskey_points: "0"
---

<h1 class="w3-center">Xonotic Duel League 2022</h1>

<hr>

<p class="w3-center">Xonotic Legends, Newcomers, Rookies, do you have what it takes to become 2022 Xonotic Champion?</p>

<hr>


<div class="w3-responsive" style="margin-top:50px">
  <table class="w3-table w3-bordered leaderboard">
    <thead>
      <tr>
        <th class="w3-center">rank</th>
        <th>player</th>
        <th>clan / org</th>
        <th class="w3-center">gold</th>
        <th class="w3-center">silver</th>
        <th class="w3-center">bronze</th>
        <th class="w3-center">matches W / L</th>
        <th class="w3-center">points</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.dodger.rank %></td>
        <td>
          <img src="../../images/flags/1x1/nl.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="nl" title="Netherlands">
          <a style="border:none" href="/player/dodger" target="_blank">
          Dodger</a>

        </td>
        <td class="mobile-margin-10">
        .WA</td>

        <td class="w3-center">
          <i class="fas fa-trophy trophy-gold"></i>
          <b>
            <sup><%= current_page.data.dodger_gold %></sup>
          </b>
        </td>

        <td class="w3-center">
          <i class="fas fa-trophy trophy-silver"></i>
          <b>
            <sup><%= current_page.data.dodger_silver %></sup>
          </b>
        </td>

        <td class="w3-center">
          <i class="fas fa-trophy trophy-bronze"></i>
          <b>
            <sup><%= current_page.data.dodger_bronze %></sup>
          </b>
        </td>

        <td class="w3-center" style="background:#2f2f37">
          <b><%= current_page.data.dodger_matches %></b>
        </td>
        <td class="w3-center" style="background:#ff1a1a">
          <b><%= current_page.data.dodger_points %></b>
        </td>
      </tr>

      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.rainbowshadow.rank %></td>
        <td>
          <a style="border:none" href="/player/rainbow-shadow" target="_blank">
            <img src="../../images/flags/1x1/rs.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
            Rainbow Shadow</a>
        </td>
        <td class="mobile-margin-10">
          -</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.rainbowshadow_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.rainbowshadow_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.rainbowshadow_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.rainbowshadow_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.rainbowshadow_points %></b>
          </td>
      </tr>

      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.kojak.rank %></td>
        <td>
          <img src="../../images/flags/1x1/gb.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="gb" title="United Kingdom">
          <a style="border:none" href="/player/kojak" target="_blank">
            Kojak</a>
        </td>
        <td class="mobile-margin-10">
          Metsu</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.kojak_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.kojak_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.kojak_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.kojak_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.kojak_points %></b>
          </td>
      </tr>

      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.zeroql.rank %></td>
        <td>
          <img src="../../images/flags/1x1/rs.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
          <a style="border:none" href="/player/zeroql" target="_blank">
            ZeRoQL</a>
        </td>
        <td class="mobile-margin-10">
          Metsu</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.zeroql_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.zeroql_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.zeroql_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.zeroql_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.zeroql_points %></b>
          </td>
      </tr>

      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.ch4mp.rank %></td>
        <td>
          <img src="../../images/flags/1x1/sk.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="sk" title="Slovakia">
          <a style="border:none" href="/player/ch4mp" target="_blank">
            Ch4mp</a>
        </td>
        <td class="mobile-margin-10">
          Big Biceps</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.ch4mp_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.ch4mp_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.ch4mp_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.ch4mp_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.ch4mp_points %></b>
          </td>
      </tr>



      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.klaspes.rank %></td>
        <td>
          <img src="../../images/flags/1x1/de.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="de" title="Germany">
          <a style="border:none" href="/player/klaspes" target="_blank">
            Klaspes</a>
        </td>
        <td class="mobile-margin-10">
          [Bot]</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.klaspes_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.klaspes_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.klaspes_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.klaspes_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.klaspes_points %></b>
          </td>
      </tr>

      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.wolfsnipe.rank %></td>
        <td>
          <img src="../../images/flags/1x1/pl.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="pl" title="Poland">
          <a style="border:none" href="/player/wolf-snipe" target="_blank">
            Wolf-Snipe</a>
        </td>
        <td class="mobile-margin-10">
          -</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.wolfsnipe_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.wolfsnipe_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.wolfsnipe_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.wolfsnipe_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.wolfsnipe_points %></b>
          </td>
      </tr>

      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.jskey.rank %></td>
        <td>
          <img src="../../images/flags/1x1/fr.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="Spain" title="France">
          <a style="border:none" href="/player/jskey" target="_blank">
            JSkey</a>
        </td>
        <td class="mobile-margin-10">
          Karma Clan</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.jskey_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.jskey_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.jskey_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.jskey_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.jskey_points %></b>
          </td>
      </tr>

      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.cupatru.rank %></td>
        <td>
          <img src="../../images/flags/1x1/sk.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="Slovakia" title="Slovakia">
          <a style="border:none" href="/player/cupatru" target="_blank">
            Cupatru</a>
        </td>
        <td class="mobile-margin-10">
          -</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.cupatru_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.cupatru_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.cupatru_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.cupatru_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.cupatru_points %></b>
          </td>
      </tr>


      <tr style="background:#0e0e10">
        <td class="w3-center" style="width:80px">
          <%= data.players.draena.rank %></td>
        <td>
          <img src="../../images/flags/1x1/es.svg" class="w3-circle mobile-margin-10" width="25" height="25" alt="Spain" title="Spain">
          <a style="border:none" href="/player/draena" target="_blank">
            Draena</a>
        </td>
        <td class="mobile-margin-10">
          [XGame]</td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= current_page.data.draena_gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= current_page.data.draena_silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= current_page.data.draena_bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b><%= current_page.data.draena_matches %></b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b><%= current_page.data.draena_points %></b>
          </td>
      </tr>

    </tbody>
  </table>
</div>


<hr>

## Format
In every tournament players earn points, that is determined by tournament standings:

- 1st place = 10 points
- 2nd place = 5 points
- 3rd place = 2.5 points
- 4th place = 1 point
- 5 - 6th place = 0.50 points
- 7 - 8th place = 0.25 points
- 9+ 0 points


Top 8 players with most points earned by the end of the year will be invited for the major Xonotic Tournament.


<hr>
## Prize money

Every tournament will be once a month with a prize money of $1000 and the major one for "?".

<hr>
## Sponsors

<a href="https://zensports.com/" style="border:none">
  <%= image_tag 'zensports-logo-white.png', class:'w3-opacity w3-hover-opacity-off w3-margin-top mobile-margin-10 w3-image', style: 'width:60%;height:60%', alt: 'Zensports Logo', title: 'ZenSports' %>
  </a>

<hr>
<script>

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = x.length
    };
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>
