---
title: RJZ Esports News - Apr 2023
date: 2023-01-03 UTC
date_update:
tags: RJZ, Xonotic
layout: blog
author: Ch4mp
---

<h1 class="w3-center">RJZ Esports News - Apr 2023</h1>

<hr>


## RJZ Xonotic Duel League 2023

We have successfully finished the league, it was a blast!
Shoutout to the newcomer - **Kyle** who was able to take down two Grand Masters in the finals (Ch4mp and Rainbow Shadow).

**Ranks will be given to the players (fully integrated - website and in game) as follows:**


<div class="w3-responsive" style="margin-top:50px">
  <table class="w3-table w3-bordered leaderboard">
    <thead>
      <tr>
        <th>player</th>
        <th>clan / org</th>
        <th class="w3-center">gold</th>
        <th class="w3-center">silver</th>
        <th class="w3-center">bronze</th>
        <th class="w3-center">title</th>
        <th class="w3-center">rank</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background:#0e0e10">
        <td>
          <img src="../../images/flags/4x3/nl.svg" class="mobile-margin-10" width="25" height="25" alt="nl" title="Netherlands">
          <a style="border:none" href="/player/dodger" target="_blank">
          Dodger</a>

        </td>
        <td class="mobile-margin-10">
          <%= data.players.dodger.clan %></td>


        <td class="w3-center">
          <i class="fas fa-trophy trophy-gold"></i>
          <b>
            <sup><%= data.players.dodger.trophies.gold %></sup>
          </b>
        </td>

        <td class="w3-center">
          <i class="fas fa-trophy trophy-silver"></i>
          <b>
            <sup><%= data.players.dodger.trophies.silver %></sup>
          </b>
        </td>

        <td class="w3-center">
          <i class="fas fa-trophy trophy-bronze"></i>
          <b>
            <sup><%= data.players.dodger.trophies.bronze %></sup>
          </b>
        </td>

        <td class="w3-center" style="background:#2f2f37">
          <b>GM</b>
        </td>
        <td class="w3-center" style="background:#ff1a1a">
          <b>1</b>
        </td>
      </tr>

      <tr style="background:#0e0e10">

        <td>
          <a style="border:none" href="/player/kyle" target="_blank">
            <img src="../../images/flags/4x3/bg.svg" class="mobile-margin-10" width="25" height="25" alt="rs" title="Bulgaria">
            Kyle</a>
        </td>
        <td class="mobile-margin-10">
            <%= data.players.kyle.clan %></td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.kyle.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.kyle.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.kyle.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>GM</b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b>2</b>
          </td>
      </tr>

      <tr style="background:#0e0e10">

        <td>
          <a style="border:none" href="/player/rainbow-shadow" target="_blank">
            <img src="../../images/flags/4x3/rs.svg" class="mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
            Rainbow Shadow</a>
        </td>
        <td class="mobile-margin-10">
            <%= data.players.rainbowshadow.clan %></td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>SM</b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b>3</b>
          </td>
      </tr>


      <tr style="background:#0e0e10">

        <td>
          <img src="../../images/flags/4x3/sk.svg" class="mobile-margin-10" width="25" height="25" alt="sk" title="Slovakia">
          <a style="border:none" href="/player/ch4mp" target="_blank">
            Ch4mp</a>
        </td>
        <td class="mobile-margin-10">
            <%= data.players.ch4mp.clan %></td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.ch4mp.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.ch4mp.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.ch4mp.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>SM</b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b>4</b>
          </td>
      </tr>


      <tr style="background:#0e0e10">

        <td>
          <img src="../../images/flags/4x3/sk.svg" class="mobile-margin-10" width="25" height="25" alt="Slovakia" title="Slovakia">
          <a style="border:none" href="/player/cupatru" target="_blank">
            Cupatru</a>
        </td>
        <td class="mobile-margin-10">
            <%= data.players.cupatru.clan %></td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.cupatru.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.cupatru.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.cupatru.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>CM</b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b>5</b>
          </td>
      </tr>

      <tr style="background:#0e0e10">

        <td>
          <img src="../../images/flags/4x3/de.svg" class="mobile-margin-10" width="25" height="25" alt="de" title="Germany">
          <a style="border:none" href="/player/klaspes" target="_blank">
            Klaspes</a>
        </td>
        <td class="mobile-margin-10">
            <%= data.players.klaspes.clan %></td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.klaspes.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.klaspes.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.klaspes.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>CM</b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b>6</b>
          </td>
      </tr>

      <tr style="background:#0e0e10">

        <td>
          <img src="../../images/flags/4x3/us.svg" class="mobile-margin-10" width="25" height="25" alt="United States" title="USA">
          <a style="border:none" href="/player/arch" target="_blank">
            Arch</a>
        </td>
        <td class="mobile-margin-10">
            <%= data.players.arch.clan %></td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.arch.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.arch.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.arch.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>CM</b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b>7</b>
          </td>
      </tr>

      <tr style="background:#0e0e10">

        <td>
          <img src="../../images/flags/4x3/fr.svg" class="mobile-margin-10" width="25" height="25" alt="Spain" title="France">
          <a style="border:none" href="/player/jskey" target="_blank">
            JSkey</a>
        </td>
        <td class="mobile-margin-10">
            <%= data.players.jskey.clan %></td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.jskey.trophies.gold %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.jskey.trophies.silver %></sup>
            </b>
          </td>

          <td class="w3-center">
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.jskey.trophies.bronze %></sup>
            </b>
          </td>

          <td class="w3-center" style="background:#2f2f37">
            <b>CM</b>
          </td>
          <td class="w3-center" style="background:#ff1a1a">
            <b>8</b>
          </td>
      </tr>


    </tbody>
  </table>
</div>



**Check out the League Page for the complete coverage:**<br>
[https://rocketjump.zone/xonotic/xonotic-duel-league-2023/](https://rocketjump.zone/xonotic/xonotic-duel-league-2023/)

**Check out the players / ranks:**<br>
[https://rocketjump.zone/players](https://rocketjump.zone/players)

<hr>


## Ch4mp challenged Kyle for a Bo5
Kyle beat Ch4mp in the RJZ Xonotic Duel League 2023.
Ch4mp not happy about this result wants a revenge and calls Kyle for a Bo5 as he claims that he lost on a map bug during the final map.<br>
This Bo5 is scheduled on April 9 21 CET.

**Check out the challenge page:**<br>
[https://rocketjump.zone/xonotic/ranked/ch4mp-vs-kyle-xonotic-ranked-8](https://rocketjump.zone//xonotic/ranked/ch4mp-vs-kyle-xonotic-ranked-8)

<hr>


## We've asked an AI on how to beat Dodger
Dodger hasn't been beaten for years, nobody has been able to take a map from this player. Last loss for Dodger was during the Doxa Tournament brought by ZeroQL where Islinn was able to beat him comfortably on Aerowalk.

Curious enough, we've asked the AI (Chat GPT) on how to beat Dodger and this is what we've got:
<br><br>

**Q: How to beat dodger in Xonotic for a duel mode?**


Chat GPT:


Beating Dodger in Xonotic's Duel mode can be challenging, but with the right strategies, you can increase your chances of winning. Here are some tips that may help you:

1 - Practice your aim: One of the most crucial aspects of winning a duel is having excellent aim. Spend time practicing your aim in the game's training mode or against bots before challenging Dodger.

2 - Control the map: In Xonotic, map control is essential. Try to dominate the map by controlling key areas and items such as weapons and health packs. This will give you an advantage over Dodger and make it easier to take him down.

3 - Learn Dodger's playstyle: Pay close attention to Dodger's playstyle and try to predict his movements. If you can anticipate his moves, you'll have an easier time hitting him and avoiding his attacks.

4 - Stay on the move: Xonotic is a fast-paced game, and staying still for too long makes you an easy target. Keep moving around the map, and try to catch Dodger off guard.

5 - Use your abilities wisely: Each player in Xonotic has unique abilities that can give them an edge in battle. Make sure to use your abilities wisely and at the right time to gain an advantage over Dodger.

6 - Stay focused and keep calm: It's easy to get frustrated or nervous during a duel, but staying focused and calm is essential. Keep your cool and remember to breathe, and you'll be able to make better decisions during the game.

Remember that beating Dodger will take time and practice, so don't get discouraged if you don't win right away. Keep practicing and implementing these strategies, and you'll eventually become a more skilled player.




<hr>
