---
title: Contribute
---

<div class="w3-content w3-center w3-container w3-animate-opacity">

  <h1>Support the project</h1>
  <hr>

  <div class="w3-row w3-margin-top">
    <h3>FIAT</h3>

    <div class="w3-half">
      <a href="https://www.paypal.me/ch4mp" style="width:300px" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white mobile-margin-10 w3-red w3-mobile">
        <b class="w3-xlarge">
          PAYPAL</b><br>
          (admin@rocketjump.zone)
      </a>
    </div>

    <div class="w3-half">
      <a href="https://rocketjump.zone/donate" style="width:300px" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white mobile-margin-10 w3-red w3-mobile">
        <b class="w3-xlarge">
          STREAM LIVE</b><br>
          (StreamLabs alert donation)
      </a>
    </div>

  </div>

  <hr>

  <div class="w3-row-padding w3-margin-top">
    <h3>CRYPTO</h3>

    <div class="w3-third">
        <h4>USDT (ERC20)</h4>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
        <span style="position:absolute;left:0px;top:0px;z-index:1" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">0xec686b6d4f521b8b9b1e2ae5fdd3f82a6ee122b1</span>
      <%= image_tag 'donation/erc20.png', class:'mobile-margin-10 w3-image', alt: 'USDT (ERC20)' %>
      </div>
    </div>

    <div class="w3-third">
        <h4>USDT (TRC20)</h4>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
        <span style="position:absolute;left:0px;top:0px;z-index:1" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">TFtrQLkjv8GZX6TTYJvYPtN2RgQiGCL3gD</span>
      <%= image_tag 'donation/trc20.png', class:'mobile-margin-10 w3-image', alt: 'USDT (TRC20)' %>
      </div>
    </div>

    <div class="w3-third">
        <h4>USDT (ALGO)</h4>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
        <span style="position:absolute;left:0px;top:0px;z-index:1" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">Q3AW5K3UDHUN6H7CDLSJLRVXPBUAV6JOQT75MITE5XYFDW6TNGMKVMDMAE</span>
      <%= image_tag 'donation/algo.png', class:'mobile-margin-10 w3-image', alt: 'USDT (ALGO)' %>
      </div>
    </div>

    <div class="w3-third">
        <h4>USDC (ERC20)</h4>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
        <span style="position:absolute;left:0px;top:0px;z-index:1" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">0xec686b6d4f521b8b9b1e2ae5fdd3f82a6ee122b1</span>
      <%= image_tag 'donation/erc20-usdc.png', class:'mobile-margin-10 w3-image', alt: 'USDC (ERC20)' %>
      </div>
    </div>

    <div class="w3-third">
        <h4>USDC (TRC20)</h4>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
        <span style="position:absolute;left:0px;top:0px;z-index:1" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">TMHjNRVXGtKPDat2hawnSVG2ZQmgYKzLBq</span>
      <%= image_tag 'donation/trc20-usdc.png', class:'mobile-margin-10 w3-image', alt: 'USDC (ERC20)' %>
      </div>
    </div>

    <div class="w3-third">
        <h4>USDC(ALGO)</h4>
        <div class="w3-tooltip mobile-tooltip" style="display:inline">
        <span style="position:absolute;left:0px;top:0px;z-index:1" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">Q3AW5K3UDHUN6H7CDLSJLRVXPBUAV6JOQT75MITE5XYFDW6TNGMKVMDMAE</span>
      <%= image_tag 'donation/algo-usdc.png', class:'mobile-margin-10 w3-image', alt: 'USDC (ALGO)' %>
      </div>
    </div>




  </div>

  <hr>

  <h2 style="margin-top:100px">Referral Links</h2>

  <table class="w3-table w3-bordered" style="table-layout: auto">
    <!--
    <tr style="background:#131316">
      <td>
        <a href="https://zensports.com/" target="_blank">ZenSports</a>
      </td>
      <td>
        <strong>P2P E/Sports betting</strong><br>
        Sign Up Code for the ZenSports App -
        <kbd>RJZONE</kbd><br>(Get start bonus in SPORTS tokens from us)</td>
    </tr>-->
    <tr style="background:#131316">
      <td>
        <a href="https://www.kucoin.com/r/rf/r3CWJ8W" target="_blank">KuCoin</a>
      </td>
      <td>
        <strong>Buy Crypto (Bitcoin, Ethereum, +600 more)</strong><br>
        Sign Up Code for KuCoin -
        <kbd>r3CWJ8W</kbd><br>(Get start bonus and 10% off fees from us)
      </td>
    </tr>
    <tr style="background:#131316">
      <td>
        <a href="https://www.binance.com/en/activity/referral-entry/CPA?fromActivityPage=true&ref=CPA_00B1T3YJAB" target="_blank">Binance</a>
      </td>
      <td>
        <strong>Buy Crypto (Biggest Crypto Exchange)</strong><br>
        Sign Up Code for Binance -
        <kbd>CPA_00B1T3YJAB</kbd><br>(Get 100 USDT Trading Fee Credit)
      </td>
    </tr>
    <tr style="background:#131316">
      <td>
        <a href="https://www.humblebundle.com/monthly?refc=kbYJfs" target="_blank">Humble Bundle</a>
      </td>
      <td>Buy cheap games, support charity</td>
    </tr>
    <tr style="background:#131316">
      <td>
        <a href="https://www.namesilo.com/register.php?rid=2b57923hc" target="_blank">NameSilo</a>
      </td>
      <td>Need a website domain? go with NameSilo</td>
    </tr>
    <tr style="background:#131316">
      <td>
        <a href="https://www.linode.com/?r=fec37364d873ec194adf24d73c7ac1f21c125f03" target="_blank">Linode</a>
      </td>
      <td>Need a VPS? go with Linode</td>
    </tr>
  </table>

</div>
<!-- end of w3-content-->
