---
title: Hall of Fame
priority: 1.0
qc_money: 949.81
dbt_money: 151.50
xonotic_money: $4 250, €20
qc_total: 51
dbt_total: 12
xonotic_total: 8
---

<div class="w3-stretch" style="margin:30px auto 30px auto">

  <div class="w3-center">
    <input class="hof-search" placeholder="search for.." oninput="w3.filterHTML('#afps', '.flex-item-hof', this.value)">
    <p style="color:#787887;font-size:13px;margin-top:16px">

      <a style="border:none" href="#xonotic-jump">
        <span class="w3-tag w3-hover-white w3-red">
          <b><%= current_page.data.xonotic_total %></b>
          Xonotic
        </span>
      </a>

      <a style="border:none" href="#qc-jump">
        <span class="w3-tag w3-hover-white w3-red" style="margin-left:5px">
          <b><%= current_page.data.qc_total %></b>
          Quake Champions
        </span>
      </a>

      <a style="border:none" href="#diabotical-jump">
        <span class="w3-tag w3-hover-white w3-red" style="margin-left:5px">
          <b><%= current_page.data.dbt_total %></b>
          Diabotical
        </span>
      </a>
    </p>
  </div>
  <hr>

  <p class="w3-margin-left" id="xonotic-jump"><%= image_tag '/images/xon-icon-crop.png', alt: 'Xonotic Icon', title: 'Xonotic' %>
    &nbsp;
      Prize money:
      <b> <%= current_page.data.xonotic_money %></b>

  </p>
  <div class="flex-container w3-animate-opacity w3-center" id="afps" style="justify-content:center">

    <%= partial "partials/hof-xonotic" %>

  </div>
  <!-- end of afps-->

  <hr>

  <p class="w3-margin-left" id="qc-jump"><%= image_tag '/images/qc-icon-crop.png', alt: 'QC Icon', title: 'Quake Champions' %>
    &nbsp;
    Beast: 1825 +
    <span style="padding-left:15px">
      Rookie: 1824 –</span>
    <span style="padding-left:20px" class="mobile-reset">
      Prize money:
      <b>&euro; <%= current_page.data.qc_money %></b>
    </span>
  </p>

  <div class="flex-container w3-animate-opacity w3-center" id="afps" style="justify-content:center">

    <%= partial "partials/hof-qc" %>

  </div>
  <!-- end of afps-->

  <hr>

  <p class="w3-margin-left" id="diabotical-jump"><%= image_tag '/images/diabotical-icon.png', alt: 'Diabotical Icon', title: 'Diabotical'%>
    &nbsp;
    Beast: 1810 +
    <span style="padding-left:15px">
      Rookie: 1809 –</span>
    <span style="padding-left:20px" class="mobile-reset">
      Prize money:
      <b>&euro; <%= current_page.data.dbt_money %></b>
    </span>
  </p>

  <div class="flex-container w3-animate-opacity w3-center" id="afps" style="justify-content:center">

    <%= partial "partials/hof-dbt" %>

  </div>
  <!-- end of afps-->


</div>
<!-- end of w3-container-->


<%= javascript_include_tag "w3" %>
