---
title: Rocket Jump Zone
description: We run Esports for Arena Shooters such as Xonotic, Quake, Diabotical for Europe and North America.
priority: 1.0
change_frequency: weekly
layout: index
---


<a href="/quake/rookie-2v2-tdm-cup-5">
  <%= image_tag 'current-event.png', class: 'w3-image w3-hover-shadow w3-hide-small', style: 'width:100%;border-bottom:1px solid #242429' %>
</a>

<div class="w3-container w3-center" style="margin:100px 0 70px 0">

  <div class="flex-container" style="justify-content:center">

    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile">
      <a href="/quake/rookie-2v2-tdm-cup-5" class="w3-mobile">
        <%= image_tag 'qc-cover.jpg', alt: 'Quake Cover', class: 'w3-image' %>
        <h4>
          Rookie 2v2 TDM Cup 5</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sun, Sep 4&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 19
          CEST / 1
          <sup>pm</sup>
          EST
        </p>
        <p>
          <b>&euro; 16,6</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-white w3-round">OPEN</span>
          <span class="w3-tag w3-white w3-round">QUAKE</span>
        </p>
      </a>
    </div>


    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile">
      <a href="/quake/rookie-2v2-tdm-cup-4" class="w3-mobile">
        <%= image_tag 'qc-cover.jpg', alt: 'Quake Cover', class: 'w3-image' %>
        <h4>
          Rookie 2v2 TDM Cup 4</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sun, Jul 31&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 20
          CEST / 2
          <sup>pm</sup>
          EST
        </p>
        <p>
          <b>&euro; 16,6</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-gray w3-round">FINISHED</span>
          <span class="w3-tag w3-gray w3-round">QUAKE</span>
        </p>
      </a>
    </div>

    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile">
      <a href="/quake/rookie-2v2-tdm-cup-3" class="w3-mobile">
        <%= image_tag 'qc-cover.jpg', alt: 'Quake Cover', class: 'w3-image' %>
        <h4>
          Rookie 2v2 TDM Cup 3</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sun, Jun 26&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 20
          CEST / 2
          <sup>pm</sup>
          EST
        </p>
        <p>
          <b>&euro; 33</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-gray w3-round">FINISHED</span>
          <span class="w3-tag w3-gray w3-round">QUAKE</span>
        </p>
      </a>
    </div>

    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile">
      <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-12" class="w3-mobile">
        <%= image_tag 'xon-cover.jpg', alt: 'Xonotic Cover', class: 'w3-image' %>
        <h4>
          ZS x RJZ Xonotic Duel Cup 12</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sat, Dec 4&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 20
          CET / 2
          <sup>pm</sup>
          EDT
        </p>
        <p>
          <b>$ 500</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-gray w3-round">FINISHED</span>
          <span class="w3-tag w3-gray w3-round">XONOTIC</span>
        </p>
      </a>
    </div>

  </div>
  <!-- end of flex-container -->

  <div style="margin-top:200px">
    <hr style="margin:0">
    <p class="w3-left" style="margin:0;text-align:left;padding:5px 10px;background:#242429">new from blog</p>
  </div>

  <div class="clearfix"></div>

  <div class="flex-container">
    <% blog.articles[0...3].each do |article, i| %>

      <div class="flex-item-blog">
        <h2><%= link_to article.title, article %></h2>
        <i style="color:#737373">by
          <b><%= article.data.author %></b>&nbsp;&nbsp;
          <%= article.date.strftime('%b %e, %Y ') %></i>&nbsp;
        <% article.tags.each do |tag| %>
          <%= link_to tag, tag_path(tag), class:'w3-tag w3-hover-white w3-red', style:'border:none;padding-bottom:2px;margin-left:5px' %>
        <% end %>
        <hr>
      </div>
    <% end %>
  </div>

</div>
<!-- end of w3-container -->

<div class="w3-container w3-center" style="margin-top:100px;background:#0e0e10;border-top:1px solid #0c0c0e;border-bottom:1px solid #0c0c0e;min-height:320px">
  <h2 style="margin:25px 0 50px 0;font-weight:bold;mobile-margin-20">SPONSORS & PARTNERS</h2>

  <a href="https://www.youtube.com/c/flukkzmedia" target="_blank" style="border:none">
    <%= image_tag 'logos/flukkz-media.png', class:'w3-opacity grow w3-hover-opacity-off mobile-margin-10 w3-image', style: 'margin:0 0 5px 0', alt: 'Flukkz media', title: 'Flukkz media' %>
  </a>
  <a href="https://zensports.com" target="_blank" style="border:none">
    <%= image_tag 'logos/zensports-white-2.png', class:'w3-opacity grow w3-hover-opacity-off mobile-margin-10 w3-image', style: 'margin:0 20px 5px 20px', alt: 'ZenSports', title: 'ZenSports' %></a>
  <!-- <a href="https://www.linode.com/?r=fec37364d873ec194adf24d73c7ac1f21c125f03" target="_blank" style="border:none"> <%= image_tag 'linode-logo.png', class:'w3-opacity w3-hover-opacity-off mobile-margin-10 w3-image', style: 'margin:0 20px 5px
  20px', alt: 'Linode', title: 'linode' %></a>-->
</div>

<div class="w3-container w3-center" style="background:#18181B;min-height:350px">
  <h2 style="margin:50px 0 30px 0;font-weight:bold">JOIN US</h2>

  <div class="w3-row join-us" style="margin-top:70px">
    <a href="https://rocketjump.zone/discord" target="_blank">
      <div class="w3-third grow">
        <i class="fab fa-3x fa-discord" style="padding:5px"></i>
        <p>Meet the Community</p>
      </div>
    </a>

    <a href="https://twitter.com/rocketjumpzone" target="_blank">
      <div class="w3-third grow">
        <i class="fab fa-twitter fa-3x" style="padding:5px"></i>
        <p>Follow on Twitter</p>
      </div>
    </a>

    <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <div class="w3-third grow">
        <i class="fab fa-twitch fa-3x" style="padding:5px"></i>
        <p>Tune in on Twitch</p>
      </div>
    </a>
  </div>
</div>
