---
title: Rocket Jump Zone
description: Running Xonotic, Quake, Diabotical Tournaments for Europe and North America. Become A Competitive Arena FPS Player and Win Prizes. Any skill level is welcome.
priority: 1.0
change_frequency: weekly
layout: index
---

<div class="w3-container w3-center" style="margin:50px 0 70px 0">

  <h1 style="font-weight:bold; font-size:24px">UPCOMING TOURNAMENTS</h1>
  <div class="flex-container" style="justify-content:center">
    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile">
      <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-2" class="w3-mobile">
        <%= image_tag 'xon-cover.jpg', alt: 'Xonotic Cover', class: 'w3-image' %>
        <h4>
          ZS x RJZ Xonotic Duel Cup 2</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sat, May 22nd &nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 8 <sup>pm</sup> CEST / 2 <sup>pm</sup> EDT
        </p>
        <p>
          <b>$250</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-white w3-round">EUROPE</span>
          <span class="w3-tag w3-white w3-round">XONOTIC</span>
          <span class="w3-tag w3-white w3-round">SPONSORED</span>
        </p>
      </a>
    </div>

  </div>
  <!-- end of flex-players -->

  <div style="margin-top:50px">
    <hr style="margin:0">
    <p class="w3-left" style="margin:0;text-align:left;padding:5px;background:#242429">xonotic ranked</p>
  </div>

  <div class="w3-row">
    <div class="w3-half">

      <h2 style="margin-top:50px;font-weight:bold; font-size:24px">UPCOMING MATCHES</h2>

      <div class="flex-container" style="justify-content:center">

        <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile">
          <a href="/blog/how-to-start-playing-xonotic-ranked/" class="w3-mobile">
            <h4>
              ? vs ?<br>Xonotic Ranked 8</h4>
            <hr>
            <p>
              <i class="far fa-calendar-alt"></i>&nbsp; TBA &nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 7 <sup>pm</sup>  CEST / 2 <sup>pm</sup>  EDT
            </p>
            <p>
              <span class="w3-tag w3-white w3-round">XONOTIC</span>
              <span class="w3-tag w3-white w3-round">RANKED</span></p>
          </a>
        </div>

      </div>
      <!-- end of flex-players -->
    </div>
    <!-- end of w3-half -->

    <div class="w3-half">
      <h2 style="margin-top:50px;font-weight:bold; font-size:24px">LATEST RESULTS</h2>

      <div class="flex-container" style="justify-content:center">

        <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <a href="/xonotic/ranked/splat-vs-arch-xonotic-ranked-7" class="w3-mobile">
            <div class="w3-row">
              <div class="w3-twothird">
                <h4>SPLAT</h4>
                <hr style="margin-top:0">
                <h4>Arch</h4>
              </div>

              <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
                <h4>3</h4>
                <hr style="margin-top:0">
                <h4>0</h4>
              </div>
            </div>
          </a>
        </div>

        <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <a href="/xonotic/ranked/silent-vs-arch-xonotic-ranked-6" class="w3-mobile">
            <div class="w3-row">
              <div class="w3-twothird">
                <h4>Silent</h4>
                <hr style="margin-top:0">
                <h4>Arch</h4>
              </div>

              <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
                <h4>1</h4>
                <hr style="margin-top:0">
                <h4>2</h4>
              </div>
            </div>
          </a>
        </div>

        <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <a href="/xonotic/ranked/rainbow-shadow-vs-dodger-xonotic-ranked-5" class="w3-mobile">
            <div class="w3-row">
              <div class="w3-twothird">
                <h4>Rainbow Shadow</h4>
                <hr style="margin-top:0">
                <h4>Dodger</h4>
              </div>

              <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
                <h4>0</h4>
                <hr style="margin-top:0">
                <h4>3</h4>
              </div>
            </div>
          </a>
        </div>

        <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
          <a href="/xonotic/ranked/ch4mp-vs-dodger-xonotic-ranked-4" class="w3-mobile">
            <div class="w3-row">
              <div class="w3-twothird">
                <h4>Ch4mp</h4>
                <hr style="margin-top:0">
                <h4>Dodger</h4>
              </div>

              <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
                <h4>0</h4>
                <hr style="margin-top:0">
                <h4>3</h4>
              </div>
            </div>
          </a>
        </div>

      </div>
      <!-- end of w3-container -->
    </div>
  </div>
  <!-- end of w3-row-->

  <div style="margin-top:50px">
    <hr style="margin:0">
    <p class="w3-left" style="margin:0;text-align:left;padding:5px;background:#242429">new from blog</p>
  </div>

  <div class="clearfix"></div>

  <div class="flex-container">
    <% blog.articles[0...3].each do |article, i| %>

      <div class="flex-item-blog">
        <h2><%= link_to article.title, article %></h2>
        <i style="color:#737373">by
          <b><%= article.data.author %></b>&nbsp;&nbsp;
          <%= article.date.strftime('%b %e, %Y ') %></i>&nbsp;
        <% article.tags.each do |tag| %>
          <%= link_to tag, tag_path(tag), class:'w3-tag w3-hover-white w3-red', style:'border:none;padding-bottom:2px;margin-left:5px' %>
        <% end %>
        <hr>
      </div>
    <% end %>
  </div>

</div>
<!-- end of w3-container -->

<div class="w3-container w3-center" style="background:#0e0e10;border-top:1px solid #0c0c0e;border-bottom:1px solid #0c0c0e;min-height:320px">
  <h2 style="margin:25px 0 50px 0;font-weight:bold">SPONSORS & PARTNERS</h2>

  <a href="https://challonge.com/" target="_blank" style="border:none">
    <%= image_tag 'challonge-logo.png', class:'w3-opacity w3-hover-opacity-off mobile-margin-10 w3-image', style: 'margin:0 0 5px 0', alt: 'Challonge!', title: 'Challonge!' %>
  </a>
  <!-- <a href="https://www.prevailgaming.com" target="_blank" style="border:none"> <%= image_tag 'prevail-logo.png', class:'w3-opacity w3-hover-opacity-off mobile-margin-10 w3-image', style: 'margin:0 20px 5px 20px', alt: 'Prevail Gaming', title:
  '#WePrevail' %> </a> -->
</div>

<div class="w3-container w3-center" style="background:#18181B;min-height:350px">
  <h2 style="margin:50px 0 30px 0;font-weight:bold">JOIN US</h2>

  <div class="w3-row join-us" style="margin-top:70px">
    <a href="https://rocketjump.zone/discord" target="_blank">
      <div class="w3-third">
        <i class="fab fa-3x fa-discord" style="padding:5px"></i>
        <p>Meet the Community</p>
      </div>
    </a>

    <a href="https://twitter.com/rocketjumpzone" target="_blank">
      <div class="w3-third">
        <i class="fab fa-twitter fa-3x" style="padding:5px"></i>
        <p>Follow on Twitter</p>
      </div>
    </a>

    <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <div class="w3-third">
        <i class="fab fa-twitch fa-3x" style="padding:5px"></i>
        <p>Tune in on Twitch</p>
      </div>
    </a>
  </div>
</div>
