---
title: Rocket Jump Zone
description: Running Xonotic, Quake, Diabotical Tournaments for Europe and North America. Become A Competitive Arena FPS Player and Win Prizes. Any skill level is welcome.
priority: 1.0
change_frequency: weekly
layout: index
---

<div class="w3-container w3-center" style="margin:50px 0 70px 0">

  <h1 style="font-weight:bold; font-size:24px">UPCOMING TOURNAMENTS</h1>
  <div class="flex-container" style="justify-content:center">
    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile">
      <a href="/xonotic/ranking-duel-1" class="w3-mobile">
        <%= image_tag 'xon-cover.jpg', alt: 'Xonotic Cover', class: 'w3-image' %>
        <h4>
          Ranking Duel 1</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sat, Feb ? &nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 7 PM CET
        </p>
        <p>
          <b>&euro;100</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-white w3-round">EUROPE</span>
          <span class="w3-tag w3-white w3-round">XONOTIC</span>
          </p>
      </a>
    </div>

  </div>
  <!-- end of flex-players -->

  <h2 style="margin-top:50px;font-weight:bold; font-size:24px">PAST TOURNAMENTS</h2>

  <div class="flex-container" style="justify-content:center">

    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile w3-opacity">
      <a href="/quake/international-2v2-tdm-cup-3" class="w3-mobile">
        <%= image_tag 'qc-cover.jpg', alt: 'Quake Cover', class: 'w3-image' %>
        <h4>
          International 2v2 TDM Cup 3</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sat, Dec 5 &nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 8 PM CET / 2PM EST
        </p>
        <p>rating:
          <b>all</b>
          &nbsp;
          <b>$70</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-white w3-round">EUROPE</span>
          <span class="w3-tag w3-white w3-round">NORTH AMERICA</span></p>
      </a>
    </div>


    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile w3-opacity">
      <a href="/diabotical/rookie-aim-arena-1v1-cup-1" class="w3-mobile">
        <%= image_tag 'diabotical-cover.png', alt: 'Diabotical Cover', class: 'w3-image' %>
        <h4>
          Rookie Aim Arena 1v1 Cup 1</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Sat, Oct 10 &nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 7 PM CEST
        </p>
        <p>rating:
          <b>1809</b>
          &nbsp; prize money:
          <b>&euro;10</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-white w3-round">EUROPE</span></p>
      </a>
    </div>

    <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile w3-opacity">
      <a href="/quake/2v2-tdm-cup-16" class="w3-mobile">
        <%= image_tag 'qc-cover.jpg', alt: 'Quake Cover', class: 'w3-image' %>
        <h4>
          2v2 TDM Cup 16</h4>
        <hr>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp; Fri, Oct 9 &nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp; 8 PM CET
        </p>
        <p>rating:
          <b>all</b>
          &nbsp; prize money:
          <b>TBD</b>
          &nbsp;&nbsp;
          <span class="w3-tag w3-white w3-round">EUROPE</span></p>
      </a>
    </div>

  </div>
  <!-- end of flex-players -->

  <div style="margin-top:50px">
    <hr style="margin:0">
    <p class="w3-left" style="margin:0;text-align:left;padding:5px;background:#242429">new from blog</p>
  </div>

  <div class="clearfix"></div>

  <div class="flex-container">
    <% blog.articles[0...3].each do |article, i| %>

      <div class="flex-item-blog">
        <h2><%= link_to article.title, article %></h2>
        <i style="color:#737373">by
          <b><%= article.data.author %></b>&nbsp;&nbsp;
          <%= article.date.strftime('%b %e, %Y ') %></i>&nbsp;
        <% article.tags.each do |tag| %>
          <%= link_to tag, tag_path(tag), class:'w3-tag w3-hover-white w3-red', style:'border:none;padding-bottom:2px;margin-left:5px' %>
        <% end %>
        <hr>
      </div>
    <% end %>
  </div>

</div>
<!-- end of w3-container -->

<div class="w3-container w3-center" style="background:#0e0e10;border-top:1px solid #0c0c0e;border-bottom:1px solid #0c0c0e;min-height:320px">
  <h2 style="margin:25px 0 50px 0;font-weight:bold">SPONSORS & PARTNERS</h2>

  <a href="https://challonge.com/" target="_blank" style="border:none">
    <%= image_tag 'challonge-logo.png', class:'w3-opacity w3-hover-opacity-off mobile-margin-10 w3-image', style: 'margin:0 0 5px 0', alt: 'Challonge!', title: 'Challonge!' %>
  </a>
<!--
  <a href="https://www.prevailgaming.com" target="_blank" style="border:none">
    <%= image_tag 'prevail-logo.png', class:'w3-opacity w3-hover-opacity-off mobile-margin-10 w3-image', style: 'margin:0 20px 5px 20px', alt: 'Prevail Gaming', title: '#WePrevail' %>
  </a>
-->
</div>

<div class="w3-container w3-center" style="background:#18181B;min-height:350px">
  <h2 style="margin:50px 0 30px 0;font-weight:bold">JOIN US</h2>

  <div class="w3-row join-us" style="margin-top:70px">
    <a href="https://rocketjump.zone/discord" target="_blank">
      <div class="w3-third">
        <i class="fab fa-3x fa-discord" style="padding:5px"></i>
        <p>Meet the Community</p>
      </div>
    </a>

    <a href="https://twitter.com/rocketjumpzone" target="_blank">
      <div class="w3-third">
        <i class="fab fa-twitter fa-3x" style="padding:5px"></i>
        <p>Follow on Twitter</p>
      </div>
    </a>

    <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <div class="w3-third">
        <i class="fab fa-twitch fa-3x" style="padding:5px"></i>
        <p>Tune in on Twitch</p>
      </div>
    </a>
  </div>
</div>
