---
title: Rocket Jump Zone
description: We run esports for competitive arena shooters. Weekly tournaments for prize money.
priority: 1.0
change_frequency: weekly
layout: index
---

<!-- <div class="w3-center"> <a href="/xonotic/xonotic-duel-league-2023"> <%= image_tag 'current-event.png', class: 'w3-image w3-hover-shadow w3-hide-small', style: 'width:100%;border-bottom:1px solid #242429' %> </a> </div> -->

<div class="w3-container" style="margin:100px 0 70px 0">

  <div class="w3-row">
    <div class="w3-half w3-container">
      <h2 class="w3-center w3-margin-bottom">Upcoming Competitions</h2>
      <hr>
      <div class="w3-responsive mobile-reset w3-animate-zoom">
        <table class="w3-table w3-bordered tourneys-index">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>event</th>
              <th>date</th>
              <th>prize pool</th>
              <th style="text-align:center">status</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background:#131316">
              <td><%= image_tag '/images/xon-icon-crop.png', alt: 'Xonotic Icon', title: 'Xonotic' %></td>
              <td>
                <a href="/xonotic/rjz-xonotic-duel-league-2025" class="w3-mobile">RJZ Xonotic Duel League 2025</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Jan 11, 2025
              </td>
              <td>&euro; TBD</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">OPEN</span></td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>

    <div class="w3-half w3-container">
      <h2 class="w3-center w3-margin-bottom">Past Competitions</h2>
      <hr>
      <div class="w3-responsive mobile-reset w3-animate-zoom">
        <table class="w3-table w3-bordered tourneys-index">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>event</th>
              <th>date</th>
              <th>prize pool</th>
              <th style="text-align:center">status</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background:#131316">
              <td><%= image_tag '/images/xon-icon-crop.png', alt: 'Xonotic Icon', title: 'Xonotic' %></td>
              <td>
                <a href="/xonotic/rjz-xonotic-duel-league-2024" class="w3-mobile">RJZ Xonotic Duel League 2024</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Jan 20, 2024
              </td>
              <td>&euro;125</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">FINISHED</span></td>
            </tr>
            <tr style="background:#131316">
              <td><%= image_tag '/images/xon-icon-crop.png', alt: 'Xonotic Icon', title: 'Xonotic' %></td>
              <td>
                <a href="/xonotic/ranked/ch4mp-vs-kyle-xonotic-ranked-8" class="w3-mobile">Ch4mp vs Kyle - Xonotic Ranked 8</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Apr 9, 2023
              </td>
              <td>-</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">FINISHED</span></td>
            </tr>
            <tr style="background:#131316">
              <td><%= image_tag '/images/xon-icon-crop.png', alt: 'Xonotic Icon', title: 'Xonotic' %></td>
              <td>
                <a href="/xonotic/xonotic-duel-league-2023" class="w3-mobile">RJZ Xonotic Duel League 2023</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Jan 8, 2022 - Apr 2, 2023
              </td>
              <td>$40</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">FINISHED</span></td>
            </tr>
            <tr style="background:#131316">
              <td><%= image_tag '/images/qc-icon-crop.png', alt: 'QC Icon', title: 'Quake Champions' %></td>
              <td>
                <a href="/quake/2v2-tdm-cup-17" class="w3-mobile">RJZ Quake 2v2 TDM Cup 17</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Sep 18, 2022
              </td>
              <td>&euro;7</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">FINISHED</span></td>
            </tr>

            <tr style="background:#131316">
              <td><%= image_tag '/images/qc-icon-crop.png', alt: 'QC Icon', title: 'Quake Champions' %></td>
              <td>
                <a href="/quake/rookie-2v2-tdm-cup-5" class="w3-mobile">RJZ Quake Rookie 2v2 TDM Cup 5</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Sep 4, 2022
              </td>
              <td>&euro;16,6</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">FINISHED</span></td>
            </tr>

            <tr style="background:#131316">
              <td><%= image_tag '/images/qc-icon-crop.png', alt: 'QC Icon', title: 'Quake Champions' %></td>
              <td>
                <a href="/quake/rookie-2v2-tdm-cup-4" class="w3-mobile">RJZ Quake Rookie 2v2 TDM Cup 4</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Jul 31, 2022
              </td>
              <td>&euro;16,6</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">FINISHED</span></td>
            </tr>

            <tr style="background:#131316">
              <td><%= image_tag '/images/qc-icon-crop.png', alt: 'QC Icon', title: 'Quake Champions' %></td>
              <td>
                <a href="/quake/rookie-2v2-tdm-cup-3" class="w3-mobile">RJZ Quake Rookie 2v2 TDM Cup 3</a>
              </td>
              <td>
                <i class="far fa-calendar-alt"></i>&nbsp; Jun 26, 2022
              </td>
              <td>&euro;33</td>
              <td>
                <span class="w3-tag w3-hover-white w3-red w3-round mobile-margin-10" style="width:100%;border:none;padding-bottom:2px;font-weight:bold">FINISHED</span></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!-- end of w3-row-->

  <div class="mobile-margin-20" style="margin-top:200px">
    <hr style="margin:0">
    <p class="w3-left" style="margin:0;text-align:left;padding:5px 10px;background:#242429">blog</p>
  </div>

  <div class="clearfix"></div>

  <div class="flex-container">
    <% blog.articles[0...3].each do |article, i| %>

      <div class="flex-item-blog">
        <h2><%= link_to article.title, article %></h2>
        <i style="color:#737373">by
          <b><%= article.data.author %></b>&nbsp;&nbsp;
          <%= article.date.strftime('%b %e, %Y ') %></i>&nbsp;
        <% article.tags.each do |tag| %>
          <%= link_to tag, tag_path(tag), class:'w3-tag w3-hover-white w3-red', style:'border:none;padding-bottom:2px;margin-left:5px' %>
        <% end %>
        <hr>
      </div>
    <% end %>
  </div>

</div>
<!-- end of w3-container -->

<div class="w3-container w3-stretch w3-center" style="margin-top:100px;background:#0e0e10;border-top:1px solid #0c0c0e;border-bottom:1px solid #0c0c0e;min-height:320px">
  <h2 style="margin:25px 0 50px 0;font-weight:bold;mobile-margin-20">SPONSORS & PARTNERS</h2>

  <a href="https://www.youtube.com/c/flukkzmedia" target="_blank" style="border:none">
    <%= image_tag 'logos/flukkz-media.png', class:'w3-opacity grow w3-hover-opacity-off mobile-margin-20 w3-image', style: 'margin:0 0 5px 0', alt: 'Flukkz media' %>
  </a>
  <a href="https://extreme.voltage.nz" target="_blank" style="border:none">
    <%= image_tag 'logos/extreme-voltage.png', class:'w3-opacity grow w3-hover-opacity-off mobile-margin-20 w3-image', style: 'margin:0 20px 5px 20px', alt: '⚡⚡ Extreme Voltage ⚡⚡' %></a>
</div>

<div class="w3-container w3-center" style="background:#18181B;min-height:350px;margin-bottom:100px">
  <h2 style="margin:50px 0 30px 0;font-weight:bold">START YOUR COMPETITIVE JOURNEY</h2>

  <div class="w3-row mobile-reset" style="margin-top:70px">
    <div class="w3-third mobile-margin-20">
      <h2 class="w3-center w3-margin-bottom">
        <span class="w3-badge w3-large w3-padding w3-red">
          <b>1</b>
        </span>&nbsp; Download Xonotic</h2>
      <p>Grab the game and enter the arena. Play some games to get a feeling of the game.</p>

      <div class="w3-half w3-border w3-round w3-center w3-hover-shadow" style="border:1px solid #242429 !important">
        <a href="/xce" target="_blank" style="width:100%" class="w3-btn w3-round w3-center w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
          <b>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            XCE (1.3.1)
          </b>
        </a>
        <br>
        <p>Xonotic Competitive Edition is a fork with a preconfigured setup and everything you need to play the game competitively.<br><br>XCE is invite only for compeitive players.</p>

      </div>

      <div class="w3-half w3-border w3-round w3-center w3-hover-shadow" style="border:1px solid #242429 !important">
        <a href="https://xonotic.org/download/" target="_blank" style="width:100%" class="w3-btn w3-round w3-center w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
          <b>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            Official Xonotic (0.8.6)
          </b>
        </a>
        <br>
        <p>In case you want Xonotic vanilla and set up the game from scratch, then go ahead and download the official version of the game.<br><br>Suited more for casual Xonotic players.</p>

      </div>
    </div>

    <div class="w3-third mobile-margin-20">
      <h2 class="w3-center w3-margin-bottom">
        <span class="w3-badge w3-large w3-padding w3-red">
          <b>2</b>
        </span>&nbsp; Getting started</h2>
        <p>It's time to educate yourself and take it to the next level!<br> The more you learn the better.</p>
      <a href="https://xonotic.org/guide/" target="_blank">Newbie Guide</a>
      &nbsp;
      <i class="fa-brands fa-readme"></i><br>
      <a href="https://gitlab.com/xonotic/xonotic/-/wikis/home" target="_blank">Xonotic WIKI (weapons, items, game modes..)</a>
      &nbsp;
      <i class="fa-brands fa-readme"></i><br>
      <a href="https://www.youtube.com/watch?v=NnP-O6WO2gg&list=PL7S3xzYPMhgQmPo6DzvzoSWdOlWTdpIY6" target="_blank">Xonotic Academy by RJZ (how to duel..)</a>
      &nbsp;
      <i class="fa-brands fa-youtube"></i><br>
      <a href="https://www.youtube.com/watch?v=PF6B7TzvwdM" target="_blank">Basic Movement Techniques by Craven</a>
      &nbsp;
      <i class="fa-brands fa-youtube"></i><br>
      <a href="https://www.youtube.com/watch?v=zz9XMi1GfqU" target="_blank">High Level Duels</a>
      &nbsp;
      <i class="fa-brands fa-youtube"></i><br>
      <a href="https://www.youtube.com/watch?v=fVQ06WY1TiY&list=PL7S3xzYPMhgSvjcHbZJ-9bs0KOa5eXc7y" target="_blank">Ranked Duel Series</a>
      &nbsp;
      <i class="fa-brands fa-youtube"></i><br>
    </div>

    <div class="w3-third mobile-margin-20">
      <h2 class="w3-center w3-margin-bottom">
        <span class="w3-badge w3-large w3-padding w3-red">
          <b>3</b>
        </span>&nbsp; Join Competitions</h2>
      <p>Your time has come to shine, apply for a
        <a href="https://rocketjump.zone/new-player" target="_blank">player profile</a><br>
        and start competing in our upcoming events for prize money, GL!</p>
    </div>
  </div>
</div>

<hr>

<div class="w3-container w3-center" style="background:#18181B;min-height:350px;margin-bottom:100px">
  <h2 style="margin:50px 0 30px 0;font-weight:bold">JOIN US</h2>

  <div class="w3-row join-us mobile-reset" style="margin-top:70px">
    <a href="https://discord.com/invite/H3MxKRu" target="_blank">
      <div class="w3-third grow mobile-margin-20">
        <i class="fa-brands fa-discord fa-3x" style="padding:5px"></i>
        <p>Meet the Community</p>
      </div>
    </a>

    <a href="https://www.patreon.com/rocketjumpzone" target="_blank">
      <div class="w3-third grow mobile-margin-20">
        <i class="fa-brands fa-patreon fa-3x" style="padding:5px"></i>
        <p>Let's Forge the Project</p>
      </div>
    </a>

    <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <div class="w3-third grow mobile-margin-20">
        <i class="fa-brands fa-twitch fa-3x" style="padding:5px"></i>
        <p>Tune in on Twitch</p>
      </div>
    </a>
  </div>
</div>
