---
title: Xonotic Players
description: Xonotic competitive players, ranks and leaderboard.


---

<div class="w3-stretch w3-center w3-container" style="margin:30px auto 150px auto">

  <p class="w3-margin-bottom">
    <a href="#" class="mobile-margin-20" style="border:none" onclick="w3.show('div.flex-item');w3.hide('#rank');return false;">
      <span class="w3-tag mobile-margin-20-full w3-hover-white w3-red">
        <i class="fa-solid fa-arrows-rotate"></i>
        RESET LIST
      </span>
    </a>
    <a href="#" style="border:none"  onclick="w3.show('#rank');return false;">
      <span class="w3-tag mobile-margin-20-full w3-hover-white w3-red" style="margin-left:10px">
        <i class="fa-regular fa-star"></i>
        RANKED PLAYERS
      </span>
    </a>
  </p>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Bulgaria');">
    <img src="../../images/flags/4x3/bg.svg" width="50" height="50" alt="bg">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Bulgaria</span>
  </div>


<!--
  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Belgium');">
    <img src="../../images/flags/4x3/be.svg" width="50" height="50" alt="be">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Belgium</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Croatia');">
    <img src="../../images/flags/4x3/hr.svg" width="50" height="50" alt="hr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Croatia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Czechia');">
    <img src="../../images/flags/4x3/cz.svg" width="50" height="50" alt="cz">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Czechia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Denmark');">
    <img src="../../images/flags/4x3/dk.svg" width="50" height="50" alt="dk">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Denmark</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Hungary');">
    <img src="../../images/flags/4x3/hu.svg" width="50" height="50" alt="hu">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Hungary</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Finland');">
    <img src="../../images/flags/4x3/fi.svg" width="50" height="50" alt="fi">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Finland</span>
  </div>
-->

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#France');">
    <img src="../../images/flags/4x3/fr.svg" width="50" height="50" alt="fr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">France</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Germany');">
    <img src="../../images/flags/4x3/de.svg" width="50" height="50" alt="de">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Germany</span>
  </div>
<!--
  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Italy');">
    <img src="../../images/flags/4x3/it.svg" width="50" height="50" alt="it">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Italy</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Israel');">
    <img src="../../images/flags/4x3/il.svg" width="50" height="50" alt="il">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Israel</span>
  </div>
-->
  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Netherlands');">
    <img src="../../images/flags/4x3/nl.svg" width="50" height="50" alt="nl">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Netherlands</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Poland');">
    <img src="../../images/flags/4x3/pl.svg" width="50" height="50" alt="pl">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Poland</span>
  </div>
<!--
  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Portugal');">
    <img src="../../images/flags/4x3/pt.svg" width="50" height="50" alt="pt">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Portugal</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Russia');">
    <img src="../../images/flags/4x3/ru.svg" width="50" height="50" alt="ru">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Russia</span>
  </div>
-->
  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Slovakia');">
    <img src="../../images/flags/4x3/sk.svg" width="50" height="50" alt="sk">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Slovakia</span>
  </div>
<!--
  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Sweden');">
    <img src="../../images/flags/4x3/se.svg" width="50" height="50" alt="se">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Sweden</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Switzerland');">
    <img src="../../images/flags/4x3/ch.svg" width="50" height="50" alt="ch">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Switzerland</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Turkey');">
    <img src="../../images/flags/4x3/tr.svg" width="50" height="50" alt="tr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Turkey</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Ukraine');">
    <img src="../../images/flags/4x3/ua.svg" width="50" height="50" alt="ua">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Ukraine</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Uruguay');">
    <img src="../../images/flags/4x3/uy.svg" width="50" height="50" alt="uy">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Uruguay</span>
  </div>
-->
  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Serbia');">
    <img src="../../images/flags/4x3/rs.svg" width="50" height="50" alt="rs">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Serbia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Spain');">
    <img src="../../images/flags/4x3/es.svg" width="50" height="50" alt="es">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Spain</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#USA');">
    <img src="../../images/flags/4x3/us.svg" width="50" height="50" alt="usa">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">USA</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#GB');">
    <img src="../../images/flags/4x3/gb.svg" width="50" height="50" alt="gb">
    <span style="width:150px;position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">United Kingdom</span>
  </div>

  <hr>

  <div class="w3-content w3-container w3-animate-opacity" id="rank" style="display:none;margin-top:20px"">

    <h1 class="w3-center" style="display:inline">Top Ranked Xonotic Duel Players 2023</h1>
    <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline;margin-left:5px">
      <i class="fa-solid fa-circle-question"></i>
      <span style="width:300px;position:absolute;left:0;bottom:-50px" class="w3-text w3-large w3-tag w3-padding w3-animate-opacity w3-round"><b>Titles</b><hr style="margin:2px">GM - Grand Master<br>SM - Super Master<br>CM - Candidate Master<br>
      <hr style="margin:2px">Ranks are determined by<br> <a href="/xonotic/xonotic-duel-league-2023" target="_blank">RJZ Xonotic Duel League 2023</a></span>
      </div>


    <div class="w3-responsive" style="margin-top:50px">
      <table class="w3-table w3-bordered leaderboard">
        <thead>
          <tr>
            <th>player</th>
            <th>clan / org</th>
            <th class="w3-center">gold</th>
            <th class="w3-center">silver</th>
            <th class="w3-center">bronze</th>
            <th class="w3-center">title</th>
            <th class="w3-center">rank</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background:#0e0e10">
            <td>
              <img src="../../images/flags/4x3/nl.svg" class="mobile-margin-10" width="25" height="25" alt="nl" title="Netherlands">
              <a style="border:none" href="/player/dodger" target="_blank">
              Dodger</a>

            </td>
            <td class="mobile-margin-10">
              <%= data.players.dodger.clan %></td>


            <td class="w3-center">
              <i class="fas fa-trophy trophy-gold"></i>
              <b>
                <sup><%= data.players.dodger.trophies.gold %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-silver"></i>
              <b>
                <sup><%= data.players.dodger.trophies.silver %></sup>
              </b>
            </td>

            <td class="w3-center">
              <i class="fas fa-trophy trophy-bronze"></i>
              <b>
                <sup><%= data.players.dodger.trophies.bronze %></sup>
              </b>
            </td>

            <td class="w3-center" style="background:#2f2f37">
              <b>GM</b>
            </td>
            <td class="w3-center" style="background:#ff1a1a">
              <b>1</b>
            </td>
          </tr>

          <tr style="background:#0e0e10">

            <td>
              <a style="border:none" href="/player/kyle" target="_blank">
                <img src="../../images/flags/4x3/bg.svg" class="mobile-margin-10" width="25" height="25" alt="rs" title="Bulgaria">
                Kyle</a>
            </td>
            <td class="mobile-margin-10">
                <%= data.players.kyle.clan %></td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-gold"></i>
                <b>
                  <sup><%= data.players.kyle.trophies.gold %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
                <b>
                  <sup><%= data.players.kyle.trophies.silver %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
                <b>
                  <sup><%= data.players.kyle.trophies.bronze %></sup>
                </b>
              </td>

              <td class="w3-center" style="background:#2f2f37">
                <b>GM</b>
              </td>
              <td class="w3-center" style="background:#ff1a1a">
                <b>2</b>
              </td>
          </tr>

          <tr style="background:#0e0e10">

            <td>
              <a style="border:none" href="/player/rainbow-shadow" target="_blank">
                <img src="../../images/flags/4x3/rs.svg" class="mobile-margin-10" width="25" height="25" alt="rs" title="Serbia">
                Rainbow Shadow</a>
            </td>
            <td class="mobile-margin-10">
                <%= data.players.rainbowshadow.clan %></td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-gold"></i>
                <b>
                  <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
                <b>
                  <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
                <b>
                  <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
                </b>
              </td>

              <td class="w3-center" style="background:#2f2f37">
                <b>SM</b>
              </td>
              <td class="w3-center" style="background:#ff1a1a">
                <b>3</b>
              </td>
          </tr>


          <tr style="background:#0e0e10">

            <td>
              <img src="../../images/flags/4x3/sk.svg" class="mobile-margin-10" width="25" height="25" alt="sk" title="Slovakia">
              <a style="border:none" href="/player/ch4mp" target="_blank">
                Ch4mp</a>
            </td>
            <td class="mobile-margin-10">
                <%= data.players.ch4mp.clan %></td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-gold"></i>
                <b>
                  <sup><%= data.players.ch4mp.trophies.gold %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
                <b>
                  <sup><%= data.players.ch4mp.trophies.silver %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
                <b>
                  <sup><%= data.players.ch4mp.trophies.bronze %></sup>
                </b>
              </td>

              <td class="w3-center" style="background:#2f2f37">
                <b>SM</b>
              </td>
              <td class="w3-center" style="background:#ff1a1a">
                <b>4</b>
              </td>
          </tr>


          <tr style="background:#0e0e10">

            <td>
              <img src="../../images/flags/4x3/sk.svg" class="mobile-margin-10" width="25" height="25" alt="Slovakia" title="Slovakia">
              <a style="border:none" href="/player/cupatru" target="_blank">
                Cupatru</a>
            </td>
            <td class="mobile-margin-10">
                <%= data.players.cupatru.clan %></td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-gold"></i>
                <b>
                  <sup><%= data.players.cupatru.trophies.gold %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
                <b>
                  <sup><%= data.players.cupatru.trophies.silver %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
                <b>
                  <sup><%= data.players.cupatru.trophies.bronze %></sup>
                </b>
              </td>

              <td class="w3-center" style="background:#2f2f37">
                <b>CM</b>
              </td>
              <td class="w3-center" style="background:#ff1a1a">
                <b>5</b>
              </td>
          </tr>

          <tr style="background:#0e0e10">

            <td>
              <img src="../../images/flags/4x3/de.svg" class="mobile-margin-10" width="25" height="25" alt="de" title="Germany">
              <a style="border:none" href="/player/klaspes" target="_blank">
                Klaspes</a>
            </td>
            <td class="mobile-margin-10">
                <%= data.players.klaspes.clan %></td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-gold"></i>
                <b>
                  <sup><%= data.players.klaspes.trophies.gold %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
                <b>
                  <sup><%= data.players.klaspes.trophies.silver %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
                <b>
                  <sup><%= data.players.klaspes.trophies.bronze %></sup>
                </b>
              </td>

              <td class="w3-center" style="background:#2f2f37">
                <b>CM</b>
              </td>
              <td class="w3-center" style="background:#ff1a1a">
                <b>6</b>
              </td>
          </tr>

          <tr style="background:#0e0e10">

            <td>
              <img src="../../images/flags/4x3/us.svg" class="mobile-margin-10" width="25" height="25" alt="United States" title="USA">
              <a style="border:none" href="/player/arch" target="_blank">
                Arch</a>
            </td>
            <td class="mobile-margin-10">
                <%= data.players.arch.clan %></td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-gold"></i>
                <b>
                  <sup><%= data.players.arch.trophies.gold %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
                <b>
                  <sup><%= data.players.arch.trophies.silver %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
                <b>
                  <sup><%= data.players.arch.trophies.bronze %></sup>
                </b>
              </td>

              <td class="w3-center" style="background:#2f2f37">
                <b>CM</b>
              </td>
              <td class="w3-center" style="background:#ff1a1a">
                <b>7</b>
              </td>
          </tr>

          <tr style="background:#0e0e10">

            <td>
              <img src="../../images/flags/4x3/fr.svg" class="mobile-margin-10" width="25" height="25" alt="Spain" title="France">
              <a style="border:none" href="/player/jskey" target="_blank">
                JSkey</a>
            </td>
            <td class="mobile-margin-10">
                <%= data.players.jskey.clan %></td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-gold"></i>
                <b>
                  <sup><%= data.players.jskey.trophies.gold %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
                <b>
                  <sup><%= data.players.jskey.trophies.silver %></sup>
                </b>
              </td>

              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
                <b>
                  <sup><%= data.players.jskey.trophies.bronze %></sup>
                </b>
              </td>

              <td class="w3-center" style="background:#2f2f37">
                <b>CM</b>
              </td>
              <td class="w3-center" style="background:#ff1a1a">
                <b>8</b>
              </td>
          </tr>


        </tbody>
      </table>
    </div>

  </div>

  <div class="flex-container w3-animate-opacity" id="players" style="justify-content:center">

    <div class="flex-item w3-mobile" id="Netherlands">
      <h4 class="w3-center"><%= data.players.dodger.url %></h4>
      <div class="w3-center">
        <%= partial "partials/player/dodger/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.dodger.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.dodger.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.dodger.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.dodger.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Bulgaria">
      <h4 class="w3-center"><a href="/player/kyle">Kyle</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/kyle/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kyle.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kyle.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kyle.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.kyle.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Serbia">
      <h4 class="w3-center"><a href="/player/rainbow-shadow">Rainbow Shadow</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/rainbowshadow/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.rainbowshadow.rank %></p>
    </div>




    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center"><%= data.players.ch4mp.url %></h4>
      <div class="w3-center">
        <%= partial "partials/player/ch4mp/avatar" %>

        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"> <%= data.players.ch4mp.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center"><a href="/player/cupatru">Cupatru</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/cupatru/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.cupatru.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="Germany">
      <h4 class="w3-center"><a href="/player/klaspes">Klaspes</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/klaspes/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.klaspes.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="USA">
      <h4 class="w3-center"><a href="/player/arch">Arch</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/arch/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.arch.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.arch.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.arch.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.arch.rank %></p>
    </div>


        <div class="flex-item w3-mobile" id="France">
          <h4 class="w3-center"><%= data.players.jskey.url %></h4>
          <div class="w3-center">
            <%= partial "partials/player/jskey/avatar" %>
            <i class="fas fa-trophy trophy-gold"></i>
            <b>
              <sup><%= data.players.jskey.trophies.gold %></sup>
            </b>
            <i class="fas fa-trophy trophy-silver"></i>
            <b>
              <sup><%= data.players.jskey.trophies.silver %></sup>
            </b>
            <i class="fas fa-trophy trophy-bronze"></i>
            <b>
              <sup><%= data.players.jskey.trophies.bronze %></sup>
            </b>
          </div>
          <hr>
          <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.jskey.rank %></p>
        </div>


    <div class="flex-item w3-mobile" id="Serbia">
      <h4 class="w3-center"><a href="/player/zeroql">ZeRoQL</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/zeroql/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.zeroql.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.zeroql.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.zeroql.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.zeroql.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="GB">
      <h4 class="w3-center"><a href="/player/kojak">Kojak</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/kojak/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kojak.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kojak.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kojak.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.kojak.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="Poland">
      <h4 class="w3-center"><a href="/player/wolf-snipe">Wolf-Snipe</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/wolfsnipe/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.wolfsnipe.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.wolfsnipe.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.wolfsnipe.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.wolfsnipe.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="Spain">
      <h4 class="w3-center"><a href="/player/draena">Draena</a></h4>
      <div class="w3-center">
        <%= partial "partials/player/draena/avatar" %>
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.draena.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.draena.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.draena.trophies.bronze %></sup>
        </b>
      </div>
      <hr>
      <p style="margin:0;font-weight:bold"><i class="fa-regular fa-star"></i> <%= data.players.draena.rank %></p>
    </div>





  </div>
  <!-- end of flex-container-->

</div>
<!-- end of w3-container-->

<%= javascript_include_tag "w3" %>
