---
title: Xonotic Players
---

<div class="w3-stretch w3-center w3-container" style="margin:30px auto 30px auto">

  <p class="w3-margin-bottom">
    <a href="#" class="mobile-margin-20" style="border:none" onclick="w3.show('div.flex-item');w3.hide('#rank');return false;">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-undo"></i>
        RESET LIST
      </span>
    </a>
    <a href="#" style="border:none"  onclick="w3.show('#rank');return false;">
      <span class="w3-tag w3-hover-white w3-red" style="margin-left:10px">
        <i class="fas fa-crown"></i>
        RANKS
      </span>
    </a>

    <a style="border:none" href="/new-player" target="_blank">
      <span class="w3-tag mobile-margin-20-full w3-hover-white w3-red" style="margin-left:10px">
        <i class="fas fa-user"></i>
        NEW PLAYER
      </span>
    </a>
  </p>



  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Belgium');">
    <img src="../../images/flags/1x1/be.svg" width="40" height="40" alt="be">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Belgium</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Croatia');">
    <img src="../../images/flags/1x1/hr.svg" width="40" height="40" alt="hr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Croatia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Czechia');">
    <img src="../../images/flags/1x1/cz.svg" width="40" height="40" alt="cz">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Czechia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Denmark');">
    <img src="../../images/flags/1x1/dk.svg" width="40" height="40" alt="dk">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Denmark</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Hungary');">
    <img src="../../images/flags/1x1/hu.svg" width="40" height="40" alt="hu">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Hungary</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Finland');">
    <img src="../../images/flags/1x1/fi.svg" width="40" height="40" alt="fi">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Finland</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#France');">
    <img src="../../images/flags/1x1/fr.svg" width="40" height="40" alt="fr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">France</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Germany');">
    <img src="../../images/flags/1x1/de.svg" width="40" height="40" alt="de">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Germany</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Italy');">
    <img src="../../images/flags/1x1/it.svg" width="40" height="40" alt="it">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Italy</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Israel');">
    <img src="../../images/flags/1x1/il.svg" width="40" height="40" alt="il">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Israel</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Netherlands');">
    <img src="../../images/flags/1x1/nl.svg" width="40" height="40" alt="nl">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Netherlands</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Poland');">
    <img src="../../images/flags/1x1/pl.svg" width="40" height="40" alt="pl">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Poland</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Portugal');">
    <img src="../../images/flags/1x1/pt.svg" width="40" height="40" alt="pt">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Portugal</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Russia');">
    <img src="../../images/flags/1x1/ru.svg" width="40" height="40" alt="ru">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Russia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Slovakia');">
    <img src="../../images/flags/1x1/sk.svg" width="40" height="40" alt="sk">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Slovakia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Sweden');">
    <img src="../../images/flags/1x1/se.svg" width="40" height="40" alt="se">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Sweden</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Switzerland');">
    <img src="../../images/flags/1x1/ch.svg" width="40" height="40" alt="ch">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Switzerland</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Turkey');">
    <img src="../../images/flags/1x1/tr.svg" width="40" height="40" alt="tr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Turkey</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Ukraine');">
    <img src="../../images/flags/1x1/ua.svg" width="40" height="40" alt="ua">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Ukraine</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Uruguay');">
    <img src="../../images/flags/1x1/uy.svg" width="40" height="40" alt="uy">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Uruguay</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Serbia');">
    <img src="../../images/flags/1x1/rs.svg" width="40" height="40" alt="rs">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Serbia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Spain');">
    <img src="../../images/flags/1x1/es.svg" width="40" height="40" alt="es">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Spain</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#USA');">
    <img src="../../images/flags/1x1/us.svg" width="40" height="40" alt="usa">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">USA</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#GB');">
    <img src="../../images/flags/1x1/gb.svg" width="40" height="40" alt="gb">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">United Kingdom</span>
  </div>

  <hr>

  <div class="flex-container w3-animate-opacity" style="justify-content:center">

    <div class="flex-item w3-mobile" id="Netherlands">
      <h4 class="w3-center"><%= data.players.dodger.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.dodger.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.dodger.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.dodger.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.dodger.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="GB">
      <h4 class="w3-center"><a href="/player/kojak" class="gold">Kojak</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kojak.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kojak.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kojak.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><%= data.players.kojak.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="Serbia">
      <h4 class="w3-center"><a href="/player/rainbow-shadow" class="rainbowshadow">Rainbow Sha..</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.rainbowshadow.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.rainbowshadow.rank %></p>
    </div>



    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center"><%= data.players.ch4mp.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.ch4mp.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="Serbia">
      <h4 class="w3-center"><a href="/player/zeroql" class="zeroql">ZeRoQL</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.zeroql.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.zeroql.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.zeroql.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.zeroql.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="Germany">
      <h4 class="w3-center"><a href="/player/klaspes" class="klaspes">Klaspes</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.klaspes.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><%= data.players.klaspes.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="Poland">
      <h4 class="w3-center"><a href="/player/wolf-snipe" class="wolf-snipe"">Wolf-Snipe</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.wolfsnipe.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.wolfsnipe.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.wolfsnipe.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.wolfsnipe.rank %></p>
    </div>


    <div class="flex-item w3-mobile" id="France">
      <h4 class="w3-center"><%= data.players.jskey.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.jskey.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.jskey.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.jskey.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.jskey.rank %></p>
    </div>



    <div class="flex-item w3-mobile" id="Sweden">
      <h4 class="w3-center"><a href="/player/defense">DEFENSE</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.defense.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.defense.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.defense.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.defense.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Slovakia">
      <h4 class="w3-center"><a href="/player/cupatru">Cupatru</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.cupatru.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"> <%= data.players.cupatru.rank %></p>
    </div>

    <div class="flex-item w3-mobile" id="Spain">
      <h4 class="w3-center"><a href="/player/draena">Draena</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.draena.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.draena.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.draena.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><%= data.players.draena.rank %></p>
    </div>

  </div>
  <!-- end of flex-container-->

</div>
<!-- end of w3-container-->

<%= javascript_include_tag "w3" %>
