---
title: Players
---

<div class="w3-stretch w3-center w3-container" style="margin:30px auto 30px auto">

  <p class="w3-margin-bottom">
    <a href="#" class="mobile-margin-20" style="border:none" onclick="w3.show('div.flex-item');w3.hide('#earnings');w3.hide('#rank');return false;">
      <span class="w3-tag w3-hover-white w3-red">
        <i class="fas fa-undo"></i>
        RESET LIST
      </span>
    </a>
    <a href="#" style="border:none"  onclick="w3.show('#rank');return false;">
      <span class="w3-tag w3-hover-white w3-red" style="margin-left:10px">
        <i class="fas fa-medal"></i>
        RANKS
      </span>
    </a>
    <a href="#" style="border:none" onclick="w3.show('#earnings');return false;">
      <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
        <i class="fas fa-hand-holding-usd"></i>
        EARNINGS
      </span>
    </a>

    <a href="#" style="border:none" onclick="w3.hide('div.flex-item');w3.show('.xon');">
      <span class="w3-tag w3-hover-white w3-red" style="margin-left:10px">
        XON
      </span>
    </a>

    <a href="#" style="border:none" onclick="w3.hide('div.flex-item');w3.show('.qc');">
      <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
        QC
      </span>
    </a>

    <a href="#" style="border:none" onclick="w3.hide('div.flex-item');w3.show('.dbt');">
      <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
        DBT
      </span>
    </a>

    <a style="border:none" href="/new-player" target="_blank">
      <span class="w3-tag mobile-margin-20-full w3-hover-white w3-red" style="margin-left:10px">
        <i class="fas fa-user-ninja"></i>
        NEW PLAYER
      </span>
    </a>
  </p>



  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Belgium');">
    <img src="../../images/flags/1x1/be.svg" width="40" height="40" alt="be">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Belgium</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Croatia');">
    <img src="../../images/flags/1x1/hr.svg" width="40" height="40" alt="hr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Croatia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Czechia');">
    <img src="../../images/flags/1x1/cz.svg" width="40" height="40" alt="cz">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Czechia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Denmark');">
    <img src="../../images/flags/1x1/dk.svg" width="40" height="40" alt="dk">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Denmark</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Hungary');">
    <img src="../../images/flags/1x1/hu.svg" width="40" height="40" alt="hu">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Hungary</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Finland');">
    <img src="../../images/flags/1x1/fi.svg" width="40" height="40" alt="fi">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Finland</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#France');">
    <img src="../../images/flags/1x1/fr.svg" width="40" height="40" alt="fr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">France</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Germany');">
    <img src="../../images/flags/1x1/de.svg" width="40" height="40" alt="de">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Germany</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Italy');">
    <img src="../../images/flags/1x1/it.svg" width="40" height="40" alt="it">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Italy</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Israel');">
    <img src="../../images/flags/1x1/il.svg" width="40" height="40" alt="il">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Israel</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Netherlands');">
    <img src="../../images/flags/1x1/nl.svg" width="40" height="40" alt="nl">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Netherlands</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Poland');">
    <img src="../../images/flags/1x1/pl.svg" width="40" height="40" alt="pl">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Poland</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Portugal');">
    <img src="../../images/flags/1x1/pt.svg" width="40" height="40" alt="pt">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Portugal</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Russia');">
    <img src="../../images/flags/1x1/ru.svg" width="40" height="40" alt="ru">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Russia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Slovakia');">
    <img src="../../images/flags/1x1/sk.svg" width="40" height="40" alt="sk">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-hide-small w3-tag w3-padding w3-round">Slovakia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Sweden');">
    <img src="../../images/flags/1x1/se.svg" width="40" height="40" alt="se">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Sweden</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Switzerland');">
    <img src="../../images/flags/1x1/ch.svg" width="40" height="40" alt="ch">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Switzerland</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Turkey');">
    <img src="../../images/flags/1x1/tr.svg" width="40" height="40" alt="tr">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Turkey</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Ukraine');">
    <img src="../../images/flags/1x1/ua.svg" width="40" height="40" alt="ua">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Ukraine</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Uruguay');">
    <img src="../../images/flags/1x1/uy.svg" width="40" height="40" alt="uy">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Uruguay</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Serbia');">
    <img src="../../images/flags/1x1/rs.svg" width="40" height="40" alt="rs">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Serbia</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#Spain');">
    <img src="../../images/flags/1x1/es.svg" width="40" height="40" alt="es">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">Spain</span>
  </div>

  <div class="w3-tooltip mobile-tooltip w3-opacity w3-hover-opacity-off" style="display:inline;cursor:pointer" onclick="w3.hide('div.flex-item');w3.show('div#USA');">
    <img src="../../images/flags/1x1/us.svg" width="40" height="40" alt="usa">
    <span style="position:absolute;left:0;bottom:-50px" class="w3-text w3-tag w3-hide-small w3-padding w3-round">USA</span>
  </div>

  <hr>

  <div class="flex-container w3-animate-opacity" style="justify-content:center">

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.klyb.money %></p>
      <h3 class="w3-center"><%= data.players.klyb.url %></h3>

      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.klyb.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.klyb.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.klyb.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Denmark">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.killalot.money %></p>
      <h3 class="w3-center"><%= data.players.killalot.url %></h3>

      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.killalot.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.killalot.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.killalot.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.blaqarm.money %></p>
      <h3 class="w3-center"><%= data.players.blaqarm.url %></h3>

      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.blaqarm.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.blaqarm.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.blaqarm.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Ukraine">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.xron.money %></p>
      <h3 class="w3-center"><%= data.players.xron.url %></h3>

      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.xron.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.xron.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.xron.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.camotblk.money %></p>
      <h3 class="w3-center"><%= data.players.camotblk.url %></h3>

      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.camotblk.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.camotblk.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.camotblk.trophies.bronze %></sup>
        </b>
      </div>
    </div>

  </div>

  <div class="flex-container w3-animate-opacity" style="justify-content:center;margin-top:30px">

    <div class="flex-item w3-mobile dbt" id="Serbia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.faye.money %></p>
      <h4 class="w3-center"><%= data.players.faye.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.faye.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.faye.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.faye.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc dbt" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.troolz.money %></p>
      <h4 class="w3-center"><%= data.players.troolz.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.troolz.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.troolz.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.troolz.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Poland">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.flowie71.money %></p>
      <h4 class="w3-center"><%= data.players.flowie71.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.flowie71.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.flowie71.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.flowie71.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.antowka.money %></p>
      <h4 class="w3-center"><%= data.players.antowka.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.antowka.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.antowka.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.antowka.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.fl1nf.money %></p>
      <h4 class="w3-center"><%= data.players.fl1nf.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.fl1nf.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.fl1nf.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.fl1nf.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.strngst.money %></p>
      <h4 class="w3-center"><%= data.players.strngst.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.strngst.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.strngst.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.strngst.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile xon dbt" id="Netherlands">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.dodger.money %></p>
      <h4 class="w3-center"><%= data.players.dodger.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.dodger.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.dodger.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.dodger.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><i class="fas fa-medal"></i> <%= data.players.dodger.rank %></p>
    </div>

    <div class="flex-item w3-mobile qc dbt" id="Belgium">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.salconnn.money %></p>
      <h4 class="w3-center"><a href="/player/salconnn" class="gold">salconnn</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.salconnn.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.salconnn.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.salconnn.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile xon" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.tommy.money %></p>
      <h4 class="w3-center"><%= data.players.tommy.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.tommy.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.tommy.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.tommy.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Germany">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.kw0w.money %></p>
      <h4 class="w3-center"><%= data.players.kw0w.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kw0w.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kw0w.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kw0w.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Switzerland">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.headbang3r.money %></p>
      <h4 class="w3-center"><%= data.players.headbang3r.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.headbang3r.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.headbang3r.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.headbang3r.trophies.bronze %></sup>
        </b>
      </div>
    </div>
    <div class="flex-item w3-mobile qc dbt" id="UK">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.lithz.money %></p>
      <h4 class="w3-center"><%= data.players.lithz.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.lithz.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.lithz.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.lithz.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc dbt" id="USA">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.lunat1c.money %></p>
      <h4 class="w3-center"><%= data.players.lunat1c.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.lunat1c.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.lunat1c.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.lunat1c.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Hungary">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.pcchild.money %></p>
      <h4 class="w3-center"><a href="/player/pcchild" class="pcchild">pcchild</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.pcchild.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.pcchild.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.pcchild.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Germany">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.taka.money %></p>
      <h4 class="w3-center"><%= data.players.taka.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.taka.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.taka.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.taka.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc dbt" id="Portugal">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.ins.money %></p>
      <h4 class="w3-center"><%= data.players.ins.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ins.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ins.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ins.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.anixavich.money %></p>
      <h4 class="w3-center"><%= data.players.anixavich.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.anixavich.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.anixavich.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.anixavich.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="UK">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.xanjya.money %></p>
      <h4 class="w3-center"><%= data.players.xanjya.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.xanjya.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.xanjya.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.xanjya.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.kabyrage.money %></p>
      <h4 class="w3-center"><%= data.players.kabyrage.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kabyrage.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kabyrage.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kabyrage.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Ukraine">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.bon3z666.money %></p>
      <h4 class="w3-center"><%= data.players.bon3z666.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.bon3z666.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.bon3z666.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.bon3z666.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Germany">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.snthss.money %></p>
      <h4 class="w3-center"><%= data.players.snthss.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.snthss.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.snthss.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.snthss.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Spain">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.fifty.money %></p>
      <h4 class="w3-center"><a href="/player/fifty" class="fifty">Fifty</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.fifty.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.fifty.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.fifty.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Israel">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.fookiz.money %></p>
      <h4 class="w3-center"><%= data.players.fookiz.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.fookiz.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.fookiz.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.fookiz.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc dbt xon" id="Slovakia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.ch4mp.money %></p>
      <h4 class="w3-center"><%= data.players.ch4mp.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ch4mp.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><i class="fas fa-medal"></i> <%= data.players.ch4mp.rank %></p>
    </div>

    <div class="flex-item w3-mobile qc" id="Netherlands">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.meknaan.money %></p>
      <h4 class="w3-center"><%= data.players.meknaan.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.meknaan.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.meknaan.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.meknaan.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Italy">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.feder34.money %></p>
      <h4 class="w3-center"><a href="/player/feder34" class="feder34">Feder34</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.feder34.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.feder34.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.feder34.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Slovenia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.desiro.money %></p>
      <h4 class="w3-center"><%= data.players.desiro.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.desiro.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.desiro.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.desiro.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="UK">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.digiteq.money %></p>
      <h4 class="w3-center"><%= data.players.digiteq.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.digiteq.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.digiteq.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.digiteq.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile xon" id="Israel">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.profan.money %></p>
      <h4 class="w3-center"><%= data.players.profan.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.profan.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.profan.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.profan.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="UK">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.bagelzend.money %></p>
      <h4 class="w3-center"><%= data.players.bagelzend.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.bagelzend.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.bagelzend.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.bagelzend.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Finland">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.jurmeli.money %></p>
      <h4 class="w3-center"><%= data.players.jurmeli.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.jurmeli.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.jurmeli.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.jurmeli.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Finland">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.w1ndows.money %></p>
      <h4 class="w3-center"><%= data.players.w1ndows.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.w1ndows.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.w1ndows.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.w1ndows.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Israel">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.bigeyeguy.money %></p>
      <h4 class="w3-center"><%= data.players.bigeyeguy.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.bigeyeguy.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.bigeyeguy.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.bigeyeguy.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Uruguay">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.pastel.money %></p>
      <h4 class="w3-center"><%= data.players.pastel.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.pastel.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.pastel.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.pastel.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Israel">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.criss9000.money %></p>
      <h4 class="w3-center"><%= data.players.criss9000.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.criss9000.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.criss9000.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.criss9000.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Croatia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.ahri.money %></p>
      <h4 class="w3-center"><%= data.players.ahri.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ahri.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ahri.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ahri.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Italy">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.lopl.money %></p>
      <h4 class="w3-center"><%= data.players.lopl.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.lopl.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.lopl.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.lopl.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="France">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.jskey.money %></p>
      <h4 class="w3-center"><%= data.players.jskey.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.jskey.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.jskey.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.jskey.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Croatia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.oabz.money %></p>
      <h4 class="w3-center"><%= data.players.oabz.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.oabz.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.oabz.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.oabz.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Poland">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.aromat.money %></p>
      <h4 class="w3-center"><%= data.players.aromat.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.aromat.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.aromat.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.aromat.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="USA">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.loserhoss.money %></p>
      <h4 class="w3-center"><%= data.players.loserhoss.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.loserhoss.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.loserhoss.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.loserhoss.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Sweden">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.mrsbuklao.money %></p>
      <h4 class="w3-center"><%= data.players.mrsbuklao.url %></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.mrsbuklao.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.mrsbuklao.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.mrsbuklao.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Turkey">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.honey_badger.money %></p>
      <h4 class="w3-center"><a href="/player/honey_badger">Honey Badger</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.honey_badger.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.honey_badger.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.honey_badger.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile qc" id="Germany">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.vann.money %></p>
      <h4 class="w3-center"><a href="/player/vann">Vann</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.vann.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.vann.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.vann.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Italy">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.xhine.money %></p>
      <h4 class="w3-center"><a href="/player/xhine">Xhine</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.xhine.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.xhine.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.xhine.trophies.bronze %></sup>
        </b>
      </div>
    </div>


    <div class="flex-item w3-mobile dbt" id="USA">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.ethaaaan.money %></p>
      <h4 class="w3-center"><a href="/player/ethaaaan">Ethaaaan</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.ethaaaan.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.ethaaaan.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.ethaaaan.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Finland">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.riizihattu.money %></p>
      <h4 class="w3-center"><a href="/player/riizihattu">riizihattu</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.riizihattu.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.riizihattu.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.riizihattu.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Germany">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.satan_inside.money %></p>
      <h4 class="w3-center"><a href="/player/satan_inside">satan_inside</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.satan_inside.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.satan_inside.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.satan_inside.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.slashik.money %></p>
      <h4 class="w3-center"><a href="/player/slashik">Slashik</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.slashik.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.slashik.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.slashik.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile dbt" id="Czechia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.kejtos.money %></p>
      <h4 class="w3-center"><a href="/player/kejtos">kejtos</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.kejtos.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.kejtos.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.kejtos.trophies.bronze %></sup>
        </b>
      </div>
    </div>

    <div class="flex-item w3-mobile xon" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.atn.money %></p>
      <h4 class="w3-center"><a href="/player/atn">atn</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.atn.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.atn.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.atn.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><i class="fas fa-medal"></i> <%= data.players.atn.rank %></p>
    </div>

    <div class="flex-item w3-mobile xon" id="Russia">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.rukikryuki.money %></p>
      <h4 class="w3-center"><a href="/player/rukikryuki">RukiKryuki</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.rukikryuki.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.rukikryuki.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.rukikryuki.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><i class="fas fa-medal"></i> <%= data.players.rukikryuki.rank %></p>
    </div>

    <div class="flex-item w3-mobile xon" id="USA">
      <p id="earnings" style="margin:0;display:none;font-weight:bold"><%= data.players.nyxia.money %></p>
      <h4 class="w3-center"><a href="/player/nyxia">nyxia</a></h4>
      <div class="w3-center">
        <i class="fas fa-trophy trophy-gold"></i>
        <b>
          <sup><%= data.players.nyxia.trophies.gold %></sup>
        </b>
        <i class="fas fa-trophy trophy-silver"></i>
        <b>
          <sup><%= data.players.nyxia.trophies.silver %></sup>
        </b>
        <i class="fas fa-trophy trophy-bronze"></i>
        <b>
          <sup><%= data.players.nyxia.trophies.bronze %></sup>
        </b>
      </div>
      <hr style="display:none" id="rank">
      <p id="rank" style="margin:0;display:none;font-weight:bold"><i class="fas fa-medal"></i> <%= data.players.dodger.rank %></p>
    </div>

  </div>
  <!-- end of flex-container-->

</div>
<!-- end of w3-container-->

<%= javascript_include_tag "w3" %>
